<!-- START module_knowledge_settings_placeholder.html -->
<table style="width: 100%;" class="adminlist" cellspacing="0" cellpadding="3">
    {TXT_PLACEHOLDER_MOST_POPULAR_DESCRIPTION}
    <thead>
        <tr>
            <th colspan="2">{TXT_PLACEHOLDERS}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row1">
            <td style="width: 200px;">[[KNOWLEDGE_TAG_CLOUD]]</td>
            <td>{TXT_PLACEHOLDER_TAG_CLOUD_DESCRIPTION}</td>
        </tr>
        <tr class="row2">
            <td>[[KNOWLEDGE_BEST_RATED]]</td>
            <td>{TXT_PLACEHOLDER_BEST_RATED_DESCRIPTION}</td>
        </tr>
        <tr class="row1">
            <td>[[KNOWLEDGE_MOST_READ]]</td>
            <td>{TXT_PLACEHOLDER_MOST_READ_DESCRIPTION}</td>
        </tr>
    </tbody>
</table>

<!-- END module_knowledge_settings_placeholder.html -->
