<!-- START module_knowledge_settings_top.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=knowledge{MODULE_INDEX}&amp;section=settings" title="{TXT_SETTINGS}" {ACTIVE_SETTINGS}>{TXT_SETTINGS}</a></li>
        <li><a href="index.php?cmd=knowledge{MODULE_INDEX}&amp;section=settings&amp;act=placeholders" title="{TXT_PLACEHOLDER}" {ACTIVE_PLACEHOLDERS}>{TXT_PLACEHOLDER}</a></li>
    </ul>
</div>

<br />

{SETTINGS_FILE}

<!-- END module_knowledge_settings_top.html -->
