<!-- START module_market_settings_paypal.html -->
<form name="settings" method="post" action="?cmd=market&act=settings&tpl=paypal">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr> 
      <th colspan=2>{TXT_PAYPAL}</th>
    </tr>
    <tr class="row3"> 
      <td colspan="2" valign="top"><b>{TXT_SETTINGS}</b></td>
    </tr>
    <tr class="row1"> 
      <td width="180" valign="top">{TXT_PAYPAL_STATUS}</td>
      <td ><input type="checkbox" name="status" value="1" {STATUS_ON}></td>
    </tr>
    <tr class="row2"> 
      <td width="180" valign="top">{TXT_PAYPAL_PROFILE}</td>
      <td><input type="text" name="profile" value="{PROFILE}" style="width:250px;"></td>
    </tr>
    <tr class="row1"> 
      <td width="180" valign="top">{TXT_PAYPAL_CURRENCIES}</td>
      <td >USD, EUR, GBP, CAD, JPY</td>
    </tr>
    <tr class="row2"> 
      <td width="180" valign="top">{TXT_PAYPAL_PRICE}</td>
      <td><input type="text" name="price" value="{PRICE}" style="width:250px;"></td>
    </tr>
    <tr class="row1"> 
      <td width="180" valign="top">{TXT_PAYPAL_PREMIUM}</td>
      <td><input type="text" name="premium" value="{PREMIUM}" style="width:250px;"></td>
    </tr>
    </table>
<br />
<input type="submit" value="{TXT_SAVE}" name="submitSettings">
</form>
<br>
<br />
<!-- END module_market_settings_paypall.html -->
