<!-- START module_market_settings_spez_fields.html -->
<form name="formSettings" method="post" action="?cmd=market&act=settings&tpl=spez_fields">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr> 
      <th colspan=5>{TXT_TITLE}</th>
    </tr>
    <tr class="row3"> 
      <td width="300" valign="top"><b>{TXT_NAME}</b></td>
      <td width="50"><b>{TXT_STATUS}</b></td>
      <td width="150"><b>{TXT_TYPE}</b></td>
      <td width="250"><b>{TXT_PLACEHOLDER_TITLE}</b></td>
      <td><b>{TXT_PLACEHOLDER_CONTENT}</b></td>
    </tr>
    <!-- BEGIN spez_fields -->
    <input type="hidden" name="setname['{SPEZ_FIELD_ID}']" value="{SPEZ_FIELD_NAME}" />
    <tr class="{SPEZ_FIELD_ROWCLASS}"> 
      <td valign="top"><input type="text" size="40" name="settitle['{SPEZ_FIELD_ID}']" value="{SPEZ_FIELD_TITLE}" /></td>
      <td ><input type="checkbox" name="setstatus['{SPEZ_FIELD_ID}']" value="1" {SPEZ_FIELD_STATUS}/></td>
      <td>{SPEZ_FIELD_TYPE}</td>
      <td>{PLACEHOLDER_TITLE}</td>
      <td>{PLACEHOLDER_CONTENT}</td>
    </tr>
    <!-- END spez_fields -->
    </table>
<br />
<input type="submit" value="{TXT_SAVE}" name="submitSettings">
</form>
<br>
<!-- END module_market_settings_spez_fields.html -->
