<!-- START module_market_settings.html -->
<div id="subnavbar_level2">
		<ul>
			<li><a href="index.php?cmd=market&amp;act=settings&amp;tpl=system" title="{TXT_SYSTEM}">{TXT_SYSTEM}</a></li>
			<li><a href="index.php?cmd=market&amp;act=settings&amp;tpl=email" title="{TXT_EMAIL}">{TXT_EMAIL}</a></li>
			<li><a href="index.php?cmd=market&amp;act=settings&amp;tpl=email_code" title="{TXT_EMAIL_CODE}">{TXT_EMAIL_CODE}</a></li>
			<li><a href="index.php?cmd=market&amp;act=settings&amp;tpl=spez_fields" title="{TXT_SPEZ_FIELDS}">{TXT_SPEZ_FIELDS}</a></li>
			<li><a href="index.php?cmd=market&amp;act=settings&amp;tpl=paypal" title="{TXT_PAYPAL}">{TXT_PAYPAL}</a></li>
		</ul>
	</div>
	<br />{SYSTEM_REQUESTS_CONTENT}
	<br />
<!-- END module_market_settings.html -->
