<!-- start configuration.html -->
<input type="hidden" name="configuration" />
<table summary="configuration" class="adminlist" border="0" width="100%" cellpadding="0" cellspacing="0">
    <!-- BEGIN general -->
        <tr>
            <th colspan="2">{TXT_GENERAL}</th>
        </tr>
        <!-- BEGIN generalErrorMsg --><tr><td colspan="2"><div class="message-alert">{GENERAL_ERROR_MSG}</div></td></tr><!-- END generalErrorMsg -->
        <tr class="row1">
            <td width="32%">{TXT_DOCUMENT_ROOT}</td>
            <td width="68%">{DOCUMENT_ROOT}</td>
        </tr>
        <tr class="row2">
            <td width="32%">{TXT_OFFSET_PATH}</td>
            <td width="68%">{OFFSET_PATH}</td>
        </tr>
        <tr class="row1">
            <td>{TXT_TIMEZONE}</td>
            <td>{TIMEZONE_OPTIONS}</td>
        </tr>
        <tr class="row2">
            <td colspan="2"><br /></td>
        </tr>
    <!-- END general -->
    <!-- BEGIN database -->
        <tr>
            <th colspan="2">{TXT_DATABASE}</th>
        </tr>
        <!-- BEGIN databaseErrorMsg --><tr><td colspan="2"><div class="message-alert">{DATABASE_ERROR_MSG}</div></td></tr><!-- END databaseErrorMsg -->
        <tr class="row1">
            <td width="32%">{TXT_HOSTNAME}</td>
            <td width="68%">{DB_HOSTNAME}</td>
        </tr>
        <tr class="row2">
            <td width="32%">{TXT_DATABASE_NAME}</td>
            <td width="68%">{DB_DATABASE_NAME}{CREATE_DB}</td>
        </tr>
        <tr class="row1">
            <td width="32%">{TXT_USERNAME}</td>
            <td width="68%">{DB_USERNAME}</td>
        </tr>
        <tr class="row2">
            <td width="32%">{TXT_PASSWORD}</td>
            <td width="68%">{DB_PASSWORD}</td>
        </tr>
        <tr class="row1">
            <td width="32%">{TXT_TABLE_PREFIX}</td>
            <td width="68%">{DB_TABLE_PREFIX}</td>
        </tr>
        <!-- BEGIN database_collation -->
        <tr class="row2">
            <td>{TXT_DATABASE_CONNECTION_COLLATION}</td>
            <td>{DB_CONNECTION_COLLATION}</td>
        </tr>
        <!-- END database_collation -->
        <tr>
            <td colspan="2"><br /></td>
        </tr>
    <!-- END database -->
    <!-- BEGIN ftp -->
        <tr>
            <th colspan="2">{TXT_FTP}</th>
        </tr>
        <!-- BEGIN ftpErrorMsg --><tr><td colspan="2"><div class="message-alert">{FTP_ERROR_MSG}</div></td></tr><!-- END ftpErrorMsg -->
        <!-- BEGIN useFtp -->
            <tr class="row1">
                <td colspan="2">{USE_FTP}</td>
            </tr>
        <!-- END useFtp -->
        <tr class="row2">
            <td width="32%">{TXT_HOSTNAME}</td>
            <td width="68%">{FTP_HOSTNAME}</td>
        </tr>
        <tr class="row1">
            <td width="32%">{TXT_USERNAME}</td>
            <td width="68%">{FTP_USERNAME}</td>
        </tr>
        <tr class="row2">
            <td width="32%">{TXT_PASSWORD}</td>
            <td width="68%">{FTP_PASSWORD}</td>
        </tr>
        <!-- BEGIN ftpPath -->
        <tr class="row1">
            <td width="32%">{TXT_FTP_PATH}</td>
            <td width="68%">{FTP_PATH}</td>
        </tr>
        <!-- END ftpPath -->
        <tr>
            <td colspan="2"><br /></td>
        </tr>
    <!-- END ftp -->
    <!-- BEGIN ftpPathConfig -->
        <tr>
            <th colspan="2">{TXT_FTP_PATH_CONFIG}<input type="hidden" name="ftpPathConfig" value="1" /></th>
        </tr>
        <!-- BEGIN ftpPathErrorMsg --><tr><td colspan="2"><div class="message-alert">{FTP_PATH_ERROR_MSG}</div></td></tr><!-- END ftpPathErrorMsg -->
        <!-- BEGIN ftpDirectoryTree -->
            <tr>
                <td colspan="2"><b>{TXT_FTP_PATH_DESCRIPTION}</b></td>
            </tr>
            <!-- BEGIN ftpDirectory -->
                <tr class="{FTP_DIRECTORY_ROW_CLASS}">
                    <td style="{FTP_DIRECTORY_STYLE}">{FTP_DIRECTORY}</td>
                </tr>
            <!-- END ftpDirectory -->
        <!-- END ftpDirectoryTree -->
    <!-- END ftpPathConfig -->
    <!-- BEGIN caching -->
        <tr>
            <th colspan="2">{TXT_CACHING}<input type="hidden" name="cachingConfig" value="1" /></th>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="cachingConfigDefault" id="cachingConfigDefault" value="1" {CACHING_CHECKED} /> <label for="cachingConfigDefault">{TXT_CACHING_ACTIVATE_BY_DEFAULT}</label></td>
        </tr>
    <!-- END caching -->
</table>
<br />
<!-- end configuration.html -->