<!--


           :::::::::::::::::::::::::::::::::::::::
           :: Danke, dass Sie sich für unseren  ::
           :: Quellcode interessieren. Diese    ::
           :: Website wird vom Contrexx         ::
           :: Web Content Management System     ::
           :: generiert. Dieses CMS ermöglicht  ::
           :: die unabhängige Änderung von      ::
           :: Inhalten. Infos erhalten Sie bei  ::
           :: COMVATION Internet Solutions      ::
           :: http://www.contrexx.com           ::
           ::                                   ::
           :: © All rights reserved             ::
           :::::::::::::::::::::::::::::::::::::::






















































-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Contrexx Web Installer</title>
        <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
        <meta name="robots" content="noindex" />
        <meta name="robots" content="nofollow" />
        <meta name="robots" content="noarchive" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="no-cache" />
        <link type="text/css" href="template/contrexx/css/base.css" rel="stylesheet" />
        <script type="text/javascript" src="template/contrexx/javascript/jquery.tools.min.js"></script>
        <script type="text/javascript">
        /* <![CDATA[ */
        jQuery(document).ready(function() {
            jQuery('.tooltip-trigger').tooltip({relative: true, position: 'center right', offset: [0, 10], predelay: 250});
        });
        /* ]]> */
        </script>
    </head>
    <body>
        <div id="header">
            <a class="logo" href="index.php"></a>
        </div>
        <div id="container">
            <div id="content-wrapper">
                <div id="content-wrapper-left">{NAVIGATION}</div>
                <div id="content-wrapper-right">
                    <form id="content" action="index.php" method="post"><h1 class="first">{TITLE}</h1>{CONTENT}{CONTENT_NAVIGATION}</form>
                </div>
            </div>
        </div>
        <div id="footer"><a href="http://www.contrexx.com" target="_blank">&copy; COMVATION AG, Switzerland</a></div>
    </body>
</html>