<!-- start installation.html -->
<table class="adminlist" width="100%" style="table-layout: fixed;">
    <!-- BEGIN installer_alert_box -->
    <div class="message-info">{MESSAGE}</div>
    <!-- END installer_alert_box -->
    <!-- BEGIN installationProcess -->
    <tr>
        <td width="95%">{PROCESS}</td>
        <td width="5%" style="text-align: right;">{STATUS}</td>
    </tr>
    <!-- BEGIN errorMsg -->
    <tr>
        <td colspan="2">{ERROR_MSG}</td>
    </tr>
    <!-- END errorMsg -->
    <!-- END installationProcess -->
</table>
<!-- end installation.html -->