<!-- start requirements.html -->
<table summary="requirements" class="adminlist" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2">{TXT_PHP}</th>
    </tr>
    <!-- BEGIN phpErrorMsg --><tr><td colspan="2"><div class="message-alert">{PHP_ERROR_MSG}</div></td></tr><!-- END phpErrorMsg -->
    <tr class="row1">
        <td>{PHP_REQUIRED_VERION}</td>
        <td class="{PHP_VERSION_CLASS}">{PHP_VERSION}</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">{TXT_PHP_EXTENSIONS}</th>
    </tr>
    <!-- BEGIN extensionsErrorMsg --><tr><td colspan="2"><div class="message-alert">{EXTENSIONS_ERROR_MSG}</div></td></tr><!-- END extensionsErrorMsg -->
    <tr class="row1">
        <td>{TXT_MYSQL_SUPPORT}</td>
        <td class="{MYSQL_SUPPORT_CLASS}">{MYSQL_SUPPORT}</td>
    </tr>
    <tr class="row2">
        <td>{TXT_PDO_SUPPORT}</td>
        <td class="{PDO_SUPPORT_CLASS}">{PDO_SUPPORT}</td>
    </tr>
    <tr class="row1">
        <td>{TXT_FTP_SUPPORT}</td>
        <td class="{FTP_SUPPORT_CLASS}">{FTP_SUPPORT}</td>
    </tr>
    <!-- BEGIN iis_url_rewrite_module -->
    <tr>
        <td>{TXT_IIS_URL_REWRITE_MODULE_SUPPORT}</td>
        <td class="{IIS_URL_REWRITE_MODULE_CLASS}">{IIS_URL_REWRITE_MODULE_SUPPORT}</td>
    </tr>
    <!-- END iis_url_rewrite_module -->
    <tr class="row1">
        <td>{GD_REQUIRED_VERSION}</td>
        <td class="{GD_VERSION_CLASS}">{GD_VERSION}</td>
    </tr>
    <!--<tr class="row2">
        <td>
            {TXT_APC_SUPPORT} <span class="icon-info tooltip-trigger"></span>
            <span class="tooltip-message">{TXT_APC_SUPPORT_INFO}</span>
        </td>
        <td class="{APC_SUPPORT_CLASS}">{APC_SUPPORT}</td>
    </tr>-->
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">{TXT_PHP_CONFIGURATION}</th>
    </tr>
    <tr>
        <td class="row1">{TXT_MEMORY_LIMIT}</td>
        <td class="{MEMORY_LIMIT_CLASS}">{MEMORY_LIMIT}</td>
    </tr>
</table>
<br />
<!-- end requirements.html -->