<!-- START module_memberdir_settings_placeholders.html -->
<table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
  <tr>
    <th colspan="2">
      <div align="left">{TXT_MEMBERDIR_PLACEHOLDERS}</div>
    </th>
  </tr>
  <tr class="row1">
      <td>[[TXT_OVERVIEW]]</td>
      <td>Text: &uuml;bersicht</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_DIRNAME]]</td>
      <td>Name vom Verzeichnis</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_DIRID]]</td>
      <td>ID vom Verzeichnis</td>
  </tr>
  <tr class="row2">
      <td>[[TXT_CATEGORY_TREE_DESC]]</td>
      <td>Text: Unterverzeichnisse (kommt bei der Ansicht eines Verzeichnisses, wenn Unterverzeichnisse vorhanden sind)</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_PARENT_ID]]</td>
      <td>ID vom Elternverzeichnis. Braucht es um bei Klick auf das + die ganze Sache auszuklappen</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_PADDING_LEFT]]</td>
      <td>Abstand von Links</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_DIR_ID]]</td>
      <td>ID Vom Jeweiligen Verzeichnis</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_IMAGE_SRC]]</td>
      <td>Adresse zum Bild, welches Angezeigt werden soll. Ist entweder pluslink.gif oder pixel.gif</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_DIR_NAME]]</td>
      <td>Name vom Verzeichnis</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_CHAR_LIST]]</td>
      <td>Die Liste der Buchstaben zum Anw&auml;hlen</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_KEYWORD]]</td>
      <td>Das Suchwort. Wird nach einer Suche erneut hier angezeigt</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_DROPDOWN]]</td>
      <td>Das Dropdown zum w&auml;hlen der verschiedenen Verzeichnisse</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_SEARCH]]</td>
      <td>Text: Suchen</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_PAGING]]</td>
      <td>Das Paging</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_ROW]]</td>
      <td>Die Zeilennummer, zur Abwechselnden Darstellung der Eintr&auml;ge</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_ID]]</td>
      <td>Die ID des aktuellen Eintrags</td>
  </tr>
  <tr class="row2">
      <td>[[FIELD_XXX]]</td>
      <td>Der Platzhalter f&uuml;r den Inhalt des Feldes XXX (z.B. FIELD_NAME, FIELD_FIRMA)</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_PIC1]]</td>
      <td>Platzhalter f&uuml;r das erste Bild</td>
  </tr>
  <tr class="row2">
      <td>[[MEMBERDIR_PIC2]]</td>
      <td>Platzhalter f&uuml;r das zweite Bild</td>
  </tr>
  <tr class="row1">
      <td>[[MEMBERDIR_FIELD_ROW]]</td>
      <td>Nummer f&uuml;r die CSS Klassen zum Abwechseln der Farben</td>
  </tr>  
  <tr class="row2">
      <td>[[MEMBERDIR_FIELD_NAME]]</td>
      <td>Bezeichnung vom Feld</td>
  </tr>  
  <tr class="row1">
      <td>[[MEMBERDIR_FIELD_VALUE]]</td>
      <td>Wert des Feldes</td>
  </tr>  
</table>
<!-- END module_memberdir_settings_placeholders.html -->