<!-- START module_jobs_modify.html -->
<script language="Javascript" type="text/javascript">
<!-- //

cx.ready(function() {
    cx.jQuery('input[name=work_start]').datepicker({dateFormat: 'yy-mm-dd'});

    var options = {
        onSelect: function(dateText, inst) {
            //adjust start or end date to avoid an invalid date range
            var startDate = cx.jQuery('input[name=startDate]').datetimepicker('getDate');
            var endDate = cx.jQuery('input[name=endDate]').datetimepicker('getDate');
            if ((startDate != null) && (endDate != null) && (startDate > endDate)) {
                if (cx.jQuery(this).attr('name') == 'startDate') {
                    cx.jQuery('input[name=endDate]').datetimepicker('setDate', dateText);
                } else {
                    cx.jQuery('input[name=startDate]').datetimepicker('setDate', dateText);
                }
            }
        },
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm:ss'
    }
    cx.jQuery('input[name=startDate]').datetimepicker(options);
    cx.jQuery('input[name=endDate]').datetimepicker(options);
});

function checkfields() 
{
  var errstr = '';
  if(document.getElementById('jobsCat').value == '') {
    errstr = errstr + " {TXT_JOBS_NO_CATEGORY} \n"
  }
  if(document.getElementById('jobsTitle').value == '') {
    errstr = errstr + " {TXT_JOBS_NO_TITLE} \n"
  }
  if(errstr != '') {
    alert(errstr);
    return false;
  }
  SelectAllLocations(document.getElementById('associated_locations'));
  return true;
}

function disableDate()
{
  with (document.jobs)
  {
    if (status.checked == false)
    {
      startDate.disabled = true;
        endDate.disabled = true;
    }
    else
    {
      startDate.disabled = false;
        endDate.disabled = false;
    }
  }
}

// -->
</script>

<form name="jobs" method="post" action="index.php?cmd=jobs&act={JOBS_FORM_ACTION}" onsubmit="return checkfields();">
<input type="hidden" name="id" value="{JOBS_ID}">
  <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
    <tr>
      <th valign="top" colspan="2">
        <div align="left">{TXT_JOBS_MESSAGE}
          <input type="hidden" name="jobsFormAction" value="{JOBS_STORED_FORM_ACTION}" />
          <input type="hidden" name="jobsId" value="{JOBS_STORED_ID}" />
          <input type="hidden" name="jobsTopTitle" value="{JOBS_TOP_TITLE}" />
        </div>
      </th>
    </tr>
    <tr class="row1">
      <td width="12%" nowrap="nowrap">{TXT_TITLE}</TD>
      <td>
        <input type="text" name="jobsTitle"  id='jobsTitle' style="width: 400px;" value="{JOBS_TITLE}" maxlength="250" />
      </td>
    </tr>
    <tr class="row2">
      <td width="12%" nowrap="nowrap">{TXT_CATEGORY}</td>
      <td>
<select name="jobsCat"  style="width: 400px;" id='jobsCat'>
<option selected="selected" value=''>{TXT_JOBS_CATEGORY_SELECT}</option>
{JOBS_CAT_MENU}
</select>
</td>
</tr>
<tr class="row1">
<td width="12%" nowrap="nowrap">{TXT_AUTHOR}</TD>
<td>
<input name="author" type="text" id="author" value="{JOBS_AUTHOR}"  style="width: 400px;" maxlength="150" />
</td>
</tr>
<tr>
<td nowrap="nowrap">{TXT_DATE}</TD>
<td>
<input name="creation_date" type="text" id="creation_date" value="{JOBS_DATE}"  style="width: 400px;" maxlength="150" />
</td>

</tr>
</table>
<br />
  
<!-- BEGIN modify_location -->
<script type="text/javascript">  
/* <![CDATA[ */
function AddLocationToList(from, dest)
{
    if ( from.selectedIndex < 0) {
    if (from.options[0] != null) {
      from.options[0].selected = true;
    }
    from.focus();
    return false;
  } else {
    for (var i=0; i<from.length; i++) {
      if (from.options[i].selected) {
          dest.options[dest.length] = new Option( from.options[i].text, from.options[i].value, false, false);
         }
    }
      for (var i=from.length-1; i>=0; i--) {
      if (from.options[i].selected) {
           from.options[i] = null;
         }
    }
  }
}

function RemoveLocationFromList(from,dest)
{
  if ( dest.selectedIndex < 0) {
    if (dest.options[0] != null) {
      dest.options[0].selected = true;
    }
    dest.focus();
    return false;
  } else {
    for (var i=0; i<dest.options.length; i++) {
      if (dest.options[i].selected) {
          from.options[from.options.length] = new Option( dest.options[i].text, dest.options[i].value, false, false);
         }
    }
      for (var i=dest.options.length-1; i>=0; i--) {
      if (dest.options[i].selected) {
           dest.options[i] = null;
         }
    }
  }
}

function SelectAllLocations(CONTROL)
{
  for(var i = 0;i < CONTROL.length;i++)
    {
    CONTROL.options[i].selected = true;
  }
}

function DeselectAllLocations(CONTROL)
{
  for(var i = 0;i < CONTROL.length;i++)
  {
    CONTROL.options[i].selected = false;
  }
}


/* ]]> */
</script>


    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
      <thead>
        <tr>
          <th colspan="4">{TXT_LOCATION}</th>
        </tr>
      </thead>
      <tbody style="vertical-align:top;">
    
        <tr class="row1">
          <td width="15%">&nbsp;</td>
          <td width="300">{TXT_AVAILABLE_LOCATIONS}<br />
            <select name="not_associated_locations[]" id="not_associated_locations" size="15" style="width:300px;" multiple="multiple">
            {NOT_ASSOCIATED_LOCATIONS}
            </select>
            <br />
            <a href="javascript:void(0);" onclick="SelectAllLocations(document.getElementById('not_associated_locations'))" title="{TXT_CHECK_ALL}">{TXT_CHECK_ALL}</a>
            <br />
            <a href="javascript:void(0);" onclick="DeselectAllLocations(document.getElementById('not_associated_locations'))" title="{TXT_UNCHECK_ALL}">{TXT_UNCHECK_ALL}</a>
          </td>
          <td width="45" style="text-align:center;">
            <br />
            <input type="button" value="&gt;&gt;" name="addlocation" onclick="AddLocationToList(document.getElementById('not_associated_locations'), document.getElementById('associated_locations'))" style="margin-bottom:2px;" />
            <br />
            <input type="button" value="&lt;&lt;" name="removelocation" onclick="RemoveLocationFromList(document.getElementById('not_associated_locations'), document.getElementById('associated_locations'))" />
          </td>
          <td width="100%">{TXT_ASSOCIATED_LOCATIONS}<br />
            <select name="associated_locations[]" id="associated_locations" size="15" style="width:300px;" multiple="multiple">
            {ASSOCIATED_LOCATIONS}
            </select>
            <br />
            <a href="javascript:void(0);" onclick="SelectAllLocations(document.getElementById('associated_locations'))" title="{TXT_CHECK_ALL}">{TXT_CHECK_ALL}</a>
            <br />
            <a href="javascript:void(0);" onclick="DeselectAllLocations(document.getElementById('associated_locations'))" title="{TXT_UNCHECK_ALL}">{TXT_UNCHECK_ALL}</a>
          </td>
        </tr>
      </tbody>
    </table>
  <br />  
  <!-- END modify_location -->
  
  <table cellspacing="0" cellpadding=3 width="100%" border="0" class="adminlist">
    <tr>
      <th valign="top" colspan="2">
        <div align="left">{TXT_JOBS_SETTINGS}</div>
      </th>
    </tr>
    <tr class="row2">
      <td width="12%" nowrap="nowrap">{TXT_WORKLOC}</TD>
      <td><b>
        <input type="text" name="workloc"  style="width: 400px;" value="{JOBS_WORKLOC}" maxlength="255" />
        </b></td>
    </tr>
    <tr class="row1">
      <td width="12%" nowrap="nowrap">{TXT_WORKLOAD}</td>
      <td><b>
        <input type="text" name="workload"  style="width: 400px;" value="{JOBS_WORKLOAD}" maxlength="255" />
        </b></td>
    </tr>
    <tr class="row2">
      <td width="12%" nowrap="nowrap">{TXT_WORK_START}</TD>
      <td><b>
        <input type="text" name="work_start" style="width: 100px;" value="{JOBS_WORK_START}"/>
        </b></TD>
    </tr>
  </table>
  <br />
  <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
    <tr>
      <th valign="top">{TXT_JOBS_CONTENT}</th>
    </tr>
    <tr class="row1 reset">
      <td valign="top">{JOBS_TEXT}</td>
    </tr>
  </table>
  <br />
  <table border="0" cellspacing="0" cellpadding="2" width="100%" class="adminlist">
    <tr>
      <th colspan="2">
        <div align="left">{TXT_PUBLISHING}</div>
      </th>
    </tr>
    <tr valign="top" class="row1">
      <td nowrap="nowrap" width="12%" height="26">{TXT_ACTIVE}</td>
      <td height="26"><b>
        <input type="checkbox" name="status" value="1" {JOBS_STATUS} onClick="disableDate()" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>&nbsp;&nbsp;&nbsp;&nbsp;{TXT_STARTDATE}:
        <input type="text" name="startDate" size="19" maxlength="19" value="{JOBS_STARTDATE}" enabled />
        &nbsp;&nbsp; {TXT_ENDDATE}:
        <input type="text" name="endDate" size="19" maxlength="19" value="{JOBS_ENDDATE}" enabled />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( {TXT_OPTIONAL} )</td>
    </tr>
  </table>
  <br />
  <input type="submit" name="Submit" value="{TXT_STORE}"/>
  <br />
  <br />
</form>
<br />
<!-- END module_jobs_modify.html -->
