<!-- START module_jobs_settings.html -->
<form name="form1" method="post" action="index.php?cmd=jobs&amp;act=settings">
<input type="hidden" name="updateFootnote" value="true" />
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
	<tbody style="vertical-align:top">
	<tr>
		<th colspan="2">
			<div align="left">{TXT_SETTINGS}</div>
		</th>
	</tr>
	<tr class="row1">
	<td width="15%"> {TXT_FOOTNOTE}:</td>
	<td width="85%" style="vertical-align: top;">
		<textarea type="text" name="footnote" style="width: 400px;" rows="5" >{FOOTNOTE}</textarea>
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_FOOTNOTE_HELP}</span>
	</tr>
	<tr class="row2">
	<td>{TXT_LINK}</td>
	<td>
	    <input type="text" name="link" value="{LINK}" style="width: 400px;" maxlength="250" />
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_LINK_HELP}</span>
	</td>
	</tr>
	<tr class="row1">
	<td>{TXT_URL}</td>
	<td>
	    <input type="text" name="url" value="{URL}" style="width: 400px;" maxlength="250" />
        <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_URL_HELP}</span>
	    {TXT_URL_INFO}
	</td>
	</tr>
	<tr class="row2">
	<td>
       {TXT_SHOW_LOCATION_FE} 
	</td>
	<td>
        <input type='checkbox' name='show_location_fe' value="1" {SHOW_LOCATION_FE} />
	</td>
	</tr>
	</tbody>
</table>
<br />
<input type="submit" name="submit" value="{TXT_SUBMIT}" />
</form>
<!-- END module_jobs_settings.html -->
