<!-- START module_news_list.html -->
<script language="JavaScript" type="text/javascript">
function deletePage(pageId)
{
  if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')){
    window.location.replace("index.php?cmd=jobs&{CSRF_PARAM}&act=delete&id="+pageId);
  }
}
function deletePages()
{
  with (document.formDocSys){
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
      action = "index.php?cmd=jobs&act=delete";
      method = "post";
      submit();
      return true;
    }
  }
}
/**
 * Checks/unchecks all checkboxes
 * @param   string   the form name
 * @param   boolean  whether to check or to uncheck the element
 * @return  boolean  always true
 */
function setCheckboxes(do_check)
{
  with (document.formDocSys){
    var box = elements['selectedId[]'];
    var box_cnt =
      (typeof(box.length) != 'undefined' ? box.length : 0);
    if (box_cnt) {
        for (var i = 0; i < box_cnt; i++) {
          box[i].checked = do_check;
        }
    } else {
      box.checked = do_check;
    }
    return true;
  }
}
</script>
<table width="100%" height="38" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tbody>
  <tr>
  <th valign="top" colspan="2">
  <div align="left">{TXT_EDIT_JOBS_MESSAGE}</div>
      </th>
  </tr>
<tr class="row1">
<td valign="top">
      <form action="index.php?cmd=jobs&act=edit" method="post" name="form2">
        {TXT_EDIT_JOBS_ID}:
        <input type="text" maxlength="5" size="5" name="id" />
      </form>
    </td>
  </tr></tbody>
</table>
<br />
<table width="100%" height="38" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tbody>
  <tr>
  <th valign="top" colspan="2">
  <div align="left">{TXT_JOBS_SEARCH}</div>
      </th>
  </tr>
<tr class="row1">
<td valign="top">
<form name="jobs" method="post" action="index.php?cmd=jobs">
{JOBS_CATEGORY_FORM} {JOBS_LOCATION_FORM} <input type='submit' value='{TXT_JOBS_SEARCH}'/>
</form>
    </td>
  </tr>
</tbody>
</table>
<br />
<form name="formDocSys" method="post" action="index.php?cmd=jobs&act=changeStatus">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tr>
<th valign="top" colspan="9">{TXT_ARCHIVE}</th>
  </tr>
<tr class="row2">
  <td width="1%" valign="top" nowrap="nowrap"><b>#</b></td>
  <td width="1%" valign="top" nowrap="nowrap"><b>Id</b></td>
  <td width="2%" valign="top" nowrap="nowrap"><b>{TXT_STATUS}</b></td>
  <td width="5%" valign="top" nowrap="nowrap"><b>{TXT_DATE}</b></td>
  <td valign="top" nowrap="nowrap"><b>{TXT_TITLE}</b></td>
  <td width="10%" valign="top" nowrap="nowrap"> <b>{TXT_CATEGORY}</b></td>
  <td width="10%" valign="top" nowrap="nowrap"> <b>{TXT_AUTHOR}</b></td>
  <td width="12%" valign="top" nowrap="nowrap"> <b>{TXT_LAST_EDIT}</b></td>
  <td width="2%" valign="top" nowrap="nowrap"><div align="right"><b>{TXT_ACTION}</b></div></td>
  </tr>
  <!-- BEGIN row -->
<tr class="{JOBS_CLASS}">
  <td nowrap="nowrap"><input type="checkbox" value="{JOBS_ID}" name="selectedId[]" /></td>
  <td nowrap="nowrap">{JOBS_ID}</td>
  <td nowrap="nowrap"><img border="0" title="{JOBS_STATUS}" alt="{JOBS_STATUS}" src="images/icons/{JOBS_STATUS_PICTURE}" /></td>
  <td nowrap="nowrap">{JOBS_DATE}&nbsp;</td>
  <td><a href="?cmd=jobs&act=edit&id={JOBS_ID}">{JOBS_TITLE}</a>&nbsp;</td>
  <td nowrap="nowrap">{JOBS_CATEGORY}&nbsp;</td>
  <td nowrap="nowrap">&nbsp;{JOBS_AUTHOR}</td>
  <td nowrap="nowrap">{JOBS_CHANGELOG}: {JOBS_USER}&nbsp;</td>
  <td nowrap="nowrap">
    <div align="right">
    <a href="index.php?cmd=jobs&amp;act=add&amp;id={JOBS_ID}"><img src="images/icons/copy.gif" alt="{TXT_TEMPLATE}" title="{TXT_TEMPLATE}" border="0" /></a>
    <a title="{TXT_EDIT}" href="?cmd=jobs&act=edit&id={JOBS_ID}"><img border="0" alt="{TXT_EDIT}" src="images/icons/edit.gif" /></a>
      <a title="{TXT_DELETE}" href="javascript:deletePage({JOBS_ID})"><img border="0" alt="{TXT_DELETE}" src="images/icons/delete.gif" /></a></div>
    </td>
  </tr>
  <!-- END row -->
  </table>
<img src="images/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
<a href="" onclick="setCheckboxes(true); return false;">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
<a href="" onclick="setCheckboxes(false); return false;">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="delete" value="{TXT_DELETE}" onclick="deletePages(); return false;" />&nbsp;&nbsp;
<input type="submit" name="activate" value="{TXT_ACTIVATE}" />&nbsp;&nbsp;
<input type="submit" name="deactivate" value="{TXT_DEACTIVATE}" />
</form>
<br />
<br />
{JOBS_PAGING}
<br />
<!-- END module_jobs_list.html -->
