<!-- START module_news_rss.html -->
<table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
	<tr>
		<th valign="middle" width="80">
			<div align="left"><img src="/images/content/rss2.gif" border="0" alt=""></div>
		</th>
		<th valign="middle">
			<div align="left">News RSS Feed</div>
		</th>
	</tr>
	<tr class="row1"> 
		<td valign="top">   
			{TXT_RSS_PATH}:
		</td>
		<td valign="top">   
			{RSS_NEWS_PATH}
		</td>
	</tr>
	<tr class="row2"> 
		<td valign="top">   
			{TXT_RSS_CONTENT}:
		</td>
		<td valign="top">   
			{RSS_NEWS_CONTENT}
		</td>
	</tr>
</table>
<br />
<table class="adminlist" cellspacing="0" cellpadding="3" width="100%" border="0">
	<tr>
		<th valign="middle" width="80">
			<div align="left"><img src="/images/content/rss2.gif" border="0" alt=""></div>
		</th>
		<th valign="middle">
			<div align="left">Headlines RSS Feed</div>
		</th>
	</tr>
	<tr class="row1"> 
		<td valign="top">   
			{TXT_RSS_PATH}:
		</td>
		<td valign="top">   
			{RSS_HEADLINES_PATH}
		</td>
	</tr>
	<tr class="row2"> 
		<td valign="top">   
			{TXT_RSS_CONTENT}:
		</td>
		<td valign="top">   
			{RSS_HEADLINES_CONTENT}
		</td>
	</tr>
</table>
<br />
<!-- END module_news_rss.html -->
