/*doc
---
title: Shadow
category: Helpers - Shadow
---

## Gradient Style Shadow for Elements
Use class `.shadow` to add a complex shadow style to its child element.
A box shadow is applied to the direct child of `.shadow` which is overlayed
by a linear gradient going from transparent to 100% white to transparent.
The gradient is applied to the `:after` pseudo-class of the `.shadow` container.

```html_example
<div class="shadow">
	<div>
		Dui vitae eu consectetur ullamcorper viverra mi mattis hac imperdiet suspendisse nostra suspendisse egestas massa elementum eu magnis curabitur eu ante accumsan auctor.Parturient a consectetur mi maecenas quis a suspendisse feugiat etiam velit eget turpis platea a a.Parturient venenatis placerat quisque magna parturient senectus per nec parturient habitasse sollicitudin.
	</div>
</div>
```
  */
 
 /* shadow config */
 $shadow-config: rem-calc(0 13 7 -7) !default;
 $shadow-color: rgba(0,0,0,.3) !default;

 $shadow-height: rem-calc(20) !default;
 $shadow-offset-top: rem-calc(-5) !default;
 $shadow-gradient: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0) 100%) !default;

.shadow {
	& > * {
		box-shadow: $shadow-config $shadow-color;
	}

	&:after {
		content: '';
		height: $shadow-height;

		width: 100%;
		display:block;
		margin-top:$shadow-offset-top;

		background: $shadow-gradient;
	}
}
