// helper class to hide screen reader only content (thanks bootstrap)
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

// helper classes to toggle visibility over media queries and the whole page
@mixin hidden {
  display: none !important;
  visibility: invisible !important;
}

.hidden {
  @include hidden;
}

.visible-block {
  display: block;
}

.visible-inline {
  display: inline-block;
}

.hidden-xs {
  @include susy-media(max-xs) {
    @include hidden;
  }
}

.hidden-sm {
  @include susy-media(xs-sm) {
    @include hidden;
  }
}

.hidden-md {
  @include susy-media(sm-md) {
    @include hidden;
  }
}

.hidden-lg {
  @include susy-media(md-lg) {
    @include hidden;
  }
}
