<div id="shop">
<!-- BEGIN core_message -->
  <span class="{MESSAGE_CLASS}">{MESSAGE_TEXT}</span>
<!-- END core_message -->
  <div class="lsv_form">
    <form action="#" name="LSVForm" method="get">
      <h2>{TXT_SHOP_LSV_EE_RECIPIENT}</h2>
      {SHOP_COMPANY}<br />
      {SHOP_ADDRESS}<br />
      {TXT_SHOP_LSV_EE_FAX}&nbsp;{SHOP_FAX}
      <h2>{TXT_SHOP_LSV_EE_REASON}</h2>
      <p><label>{TXT_SHOP_LSV_EE_DESCRIPTION}</label><textarea rows="1" cols="1">{SHOP_LSV_EE_PRODUCTS}&nbsp;</textarea></p>
      <h2>{TXT_SHOP_LSV_EE_CUSTOMER}</h2>
      <p><label>{TXT_SHOP_LSV_EE_FIRST_NAME}</label><input type="text" value="{SHOP_CUSTOMER_FIRST_NAME}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_LAST_NAME}</label><input type="text" value="{SHOP_CUSTOMER_LAST_NAME}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_STREETNO}</label><input type="text" value="{SHOP_CUSTOMER_ADDRESS}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_ZIP}</label><input type="text" value="{SHOP_CUSTOMER_ZIP}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_CITY}</label><input type="text" value="{SHOP_CUSTOMER_CITY}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_PHONE}</label><input type="text" value="{SHOP_CUSTOMER_PHONE}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_FAXNO}</label><input type="text" value="{SHOP_CUSTOMER_FAX}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_EMAIL}</label><input type="text" value="{SHOP_CUSTOMER_EMAIL}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_BANK}</label><input type="text" value="{SHOP_CUSTOMER_BANK}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_BANKCODE}</label><input type="text" value="{SHOP_CUSTOMER_BANKCODE}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_ACCOUNT}</label><input type="text" value="{SHOP_CUSTOMER_ACCOUNT}" /></p>
      <p><label>{TXT_SHOP_LSV_EE_DATE}</label>{SHOP_DATE}</p>
      <br />
      <p><label>{TXT_SHOP_LSV_EE_SIGNATURE}</label><br /></p>
    </form>
  </div>
</div>
