<div id="shop">
  <table width="100%" cellspacing="0" cellpadding="2" border="0">
    <tbody><!-- BEGIN shopShipper -->
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr class="row3">
        <td width="20%"><strong>{TXT_SHIPPING_METHOD}</strong></td>
        <td width="20%"><strong>{TXT_SHOP_SHIPMENT_COUNTRIES}</strong></td>
        <td width="20%" style="text-align: right;"><strong>{TXT_SHIPPING_MAX_WEIGHT}</strong></td>
        <td width="20%" style="text-align: right;"><strong>{TXT_FREE_OF_CHARGE}</strong></td>
        <td width="20%" style="text-align: right;"><strong>{TXT_FEE}</strong></td>
      </tr>
      <tr class="row1">
        <td>{SHOP_SHIPPER}</td>
        <td>{SHOP_COUNTRIES}</td>
        <td colspan="3">&nbsp;</td>
      </tr><!-- BEGIN shopShipment -->
      <tr class="row2">
        <td colspan="2">&nbsp;</td>
        <td style="text-align: right;">{SHOP_MAX_WEIGHT}</td>
        <td style="text-align: right;">{SHOP_COST_FREE}&nbsp;{SHOP_CURRENCY_SYMBOL}</td>
        <td style="text-align: right;">{SHOP_COST}&nbsp;{SHOP_CURRENCY_SYMBOL}</td>
      </tr><!-- END shopShipment --><!-- END shopShipper -->
    </tbody>
  </table>
</div>
