<div id="forum">
<div class="div_board">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <th colspan="2">Pers&ouml;nliche Angaben</th>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Vorname</td>
            <td width="70%">[[COMMUNITY_FIRSTNAME]]</td>
        </tr>
        <tr class="row_2">
            <td width="30%" nowrap="nowrap">Nachname</td>
            <td width="70%">[[COMMUNITY_LASTNAME]]</td>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Adresse</td>
            <td width="70%">[[COMMUNITY_STREET]]</td>
        </tr>
        <tr class="row_2">
            <td width="30%" nowrap="nowrap">PLZ</td>
            <td width="70%">[[COMMUNITY_ZIP]]</td>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Wohnort</td>
            <td width="70%">[[COMMUNITY_RESIDENCE]]</td>
        </tr>
        <tr class="row_2">
            <td width="30%" nowrap="nowrap">Beruf</td>
            <td width="70%">[[COMMUNITY_PROFESSION]]</td>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Interessen</td>
            <td width="70%">[[COMMUNITY_INTERESTS]]</td>
        </tr>
        <tr class="row_2">
            <td width="30%" nowrap="nowrap">Webseite</td>
            <td width="70%">[[COMMUNITY_WEBPAGE]]</td>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Firma</td>
            <td width="70%">[[COMMUNITY_COMPANY]]</td>
        </tr>
        <tr class="row_2">
            <td width="30%" nowrap="nowrap">Telefon</td>
            <td width="70%">[[COMMUNITY_PHONE]]</td>
        </tr>
        <tr class="row_1">
            <td width="30%" nowrap="nowrap">Mobile</td>
            <td width="70%">[[COMMUNITY_MOBILE]]</td>
        </tr>
    </tbody>
</table>
<div align="center"><a href="[[FORUM_REFERER]]" target="_self" title="zur&uuml;ck">zur&uuml;ck</a></div>
</div>
</div>