<!-- start module_downloads_category.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=downloads&amp;act=categories" title="{TXT_DOWNLOADS_OVERVIEW}">{TXT_DOWNLOADS_OVERVIEW}</a></li>
        <!-- BEGIN downloads_category_add_link --><li><a href="index.php?cmd=downloads&amp;act=category&amp;parent_id={DOWNLOADS_NAV_CATEGORY_ID}" title="{TXT_ADD_CATEGORY}">{TXT_ADD_CATEGORY}</a></li><!-- END downloads_category_add_link -->
    </ul>
</div>
<br />
{DOWNLOADS_CATEGORY_TEMPLATE}
<!-- end module_downloads_category.html -->