$shortlinks-font-size: rem-calc(22) !default;
$shortlinks-font-weight-hover: bold !default;
$shortlinks-text-decoration-hover: none !default;

$shortlinks-padding-link: rem-calc(12 16) !default;

$shortlinks-after-content: '>' !default;

$shortlinks-icon-size: .5rem !default;
$shortlinks-icon-spacing: .25rem !default;
$shortlinks-icon-offset-right: rem-calc(10);
$shortlinks-icon-position: right $shortlinks-icon-offset-right center !default;
