/*doc
---
title: Shortlinks
category: Components
---
These shortlinks appear on the landing page but might also be reapplied
to other regions of the website.
The shortlinks are formed by an `<ul>` with class `.shortlinks`.

The shadows are applied through a helper class (see relevant part of style guide).

```html_example
<ul class="shortlinks">
  <li class="shortlinks-list-item shadow">
    <a class="shortlinks-link icon-arrow" href="#">Anmeldung/Termin</a>
  </li>
  <li class="shortlinks-list-item shadow">
    <a class="shortlinks-link icon-arrow" href="#">SOS (Notfall) 24h</a>
  </li>
  <li class="shortlinks-list-item shadow">
    <a class="shortlinks-link icon-arrow" href="#">Fragen &amp; Antworten</a>
  </li>
  <li class="shortlinks-list-item shadow">
    <a class="shortlinks-link icon-arrow" href="#">Medizin Lexikon</a>
  </li>
</ul>
```
 */
.shortlinks {
  font-size: $shortlinks-font-size;
}

.shortlinks-list-item {
  display: inline-block;
  width: 100%;
}

.shortlinks-link {
  display: block;
  width: 100%;

  padding: $shortlinks-padding-link;
  // make space for the background image
  padding-right: $shortlinks-icon-size + $shortlinks-icon-spacing + $shortlinks-icon-offset-right;

  // position background to the right and define its size
  background-position: $shortlinks-icon-position;
  background-size: $shortlinks-icon-size;

  /* &:after {
    content: $shortlinks-after-content;
    float: right;
  } */

  &:hover {
    font-weight: $shortlinks-font-weight-hover;
    text-decoration: $shortlinks-text-decoration-hover;
  }
}
