<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
        <tr>
            <th colspan="2">{TXT_CRM_PLACEHOLDERS}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row3">
            <td colspan="2">{TXT_CRM_GENERAL}</td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[CRM_ASSIGNED_USER_EMAIL]</td>
            <td>
                {TXT_CRM_ASSIGNED_USER_EMAIL}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[CRM_ASSIGNED_USER_NAME]</td>
            <td>
                {TXT_CRM_ASSIGNED_USER_NAME}
            </td>
        </tr>
        <tr class="row1">
            <td style="width: 200px;">[CRM_DOMAIN]</td>
            <td>
                {TXT_CRM_DOMAIN}
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr class="row3">
            <td colspan="2">{TXT_CRM_CONTACT_KEY}{TXT_CRM_MAIL_TEMPLATE_ONE}</td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_FIRSTNAME]</td>
            <td>
               {TXT_CRM_CONTACT_FIRSTNAME}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_LASTNAME]</td>
            <td>
               {TXT_CRM_CONTACT_LASTNAME}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_GENDER]</td>
            <td>
               {TXT_CRM_CONTACT_GENDER}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_DETAILS_URL]</td>
            <td>
                {TXT_CRM_CONTACT_DETAILS_URL}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_DETAILS_LINK]</td>
            <td>
                {TXT_CRM_CONTACT_DETAILS_LINK}
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr class="row3">
            <td colspan="2">{TXT_CRM_CONTACT_KEY}{TXT_CRM_MAIL_TEMPLATE_TWO}</td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_FIRSTNAME]</td>
            <td>
               {TXT_CRM_CONTACT_FIRSTNAME}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_LASTNAME]</td>
            <td>
               {TXT_CRM_CONTACT_LASTNAME}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_SALUTATION]</td>
            <td>
               {TXT_CRM_CONTACT_SALUTATION}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_EMAIL]</td>
            <td>
               {TXT_CRM_CUSTOMER_CONTACT_EMAIL}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_CONTACT_USERNAME]</td>
            <td>
                {TXT_CRM_CUSTOMER_CONTACT_USER_NAME}
            </td>
        </tr>
        <tr class="row1">
            <td>[CRM_CONTACT_PASSWORD]</td>
            <td>
                {TXT_CRM_CUSTOMER_CONTACT_PASSWORD}
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr class="row3">
            <td colspan="2">{TXT_CRM_CONTACT_KEY}{TXT_CRM_MAIL_TEMPLATE_THREE}</td>
        </tr>
        <tr class="row1">
            <td>[CRM_TASK_NAME]</td>
            <td>
                {TXT_CRM_TASK_NAME}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_TASK_CREATED_USER]</td>
            <td>
                {TXT_CRM_TASK_CREATED_USER}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_TASK_LINK]</td>
            <td>
                {TXT_CRM_TASK_LINK}
            </td>
        </tr>
        <tr class="row2">
            <td>[CRM_TASK_URL]</td>
            <td>
                {TXT_CRM_TASK_LINK_SOURCE}
            </td>
        </tr>
        <tr class="row1">
            <td>[CRM_TASK_DESCRIPTION_TEXT_VERSION]</td>
            <td>
                {TXT_CRM_TASK_DESCRIPTION_TEXT_VERSION}
            </td>
        </tr>
        <tr class="row1">
            <td>[CRM_TASK_DESCRIPTION_HTML_VERSION]</td>
            <td>
                {TXT_CRM_TASK_DESCRIPTION_HTML_VERSION}
            </td>
        </tr>
        <tr class="row1">
            <td>[CRM_TASK_DUE_DATE]</td>
            <td>
                {TXT_CRM_TASK_DUE_DATE}
            </td>
        </tr>
    </tbody>
</table>
