<!-- START voting_add.html -->
<form action="index.php?cmd=voting&amp;act=addsubmit" method="post">
  <table class="adminlist" border="0" width="100%" cellpadding="3" cellspacing="0">
    <tr valign="top">
      <th nowrap="nowrap">
        <div align="left">{TXT_VOTING_ADD}</div>
      </th>
      <th nowrap="nowrap">
        <div align="left"></div>
      </th>
    </tr>
    <tr valign="top" class="row1">
      <td nowrap="nowrap" width="15%">{TXT_NAME}&nbsp;<span class="status"><b>*</b></span></td>
      <td width="85%">
        <input maxlength="255" name="votingname" style="width: 450px;"/>
      </td>
    </tr>
    <tr valign="top" class="row2">
      <td nowrap="nowrap">{TXT_VOTING_QUESTION}&nbsp;<span class="status"><b>*</b></span></td>
      <td>
        <input maxlength="255" name="votingquestion" style="width: 450px;"/>
      </td>
    </tr>
    <tr valign="top" class="row1">
      <td nowrap="nowrap">{TXT_VOTING_ADD_OPTIONS}&nbsp;<span class="status"><b>*</b></span></td>
      <td>
        <textarea name="votingoptions" rows="6" style="width: 450px;"></textarea>
      </td>
    </tr>
    <tr valign="top" class="row2">
      <td nowrap="nowrap">{TXT_VOTING_METHOD_OF_RESTRICTION_TXT}&nbsp;<span class="status"><b>*</b></span></td>
      <td>
        <input type="radio" name="votingRestrictionMethod" id="votingRestrictionMethodCookie" value="cookie" checked="checked" /><label for="votingRestrictionMethodCookie">{TXT_VOTING_COOKIE_BASED}</label><br />
        <input type="radio" name="votingRestrictionMethod" id="votingRestrictionMethodEmail" value="email" /><label for="votingRestrictionMethodEmail">{TXT_VOTING_EMAIL_BASED}</label>
      </td>
    </tr>
    <tr valign="top" class="row1">
		<td nowrap="nowrap">{TXT_ADDITIONAL}</td>
      <td>
		<input type="checkbox" name="additional_nickname" id="additional_nickname" {VOTING_FLAG_ADDITIONAL_NICKNAME}/>
		<label for="additional_nickname">{TXT_ADDITIONAL_NICKNAME}</label><br />

		<input type="checkbox" name="additional_forename" id="additional_forename" {VOTING_FLAG_ADDITIONAL_FORENAME}/>
		<label for="additional_forename">{TXT_ADDITIONAL_FORENAME}</label> <br />

		<input type="checkbox" name="additional_surname"  id="additional_surname"  {VOTING_FLAG_ADDITIONAL_SURNAME} />
		<label for="additional_surname" >{TXT_ADDITIONAL_SURNAME}</label> <br />

		<input type="checkbox" name="additional_email"    id="additional_email"    {VOTING_FLAG_ADDITIONAL_EMAIL} />
		<label for="additional_email" >{TXT_ADDITIONAL_EMAIL}</label> <br />

		<input type="checkbox" name="additional_phone"    id="additional_phone"    {VOTING_FLAG_ADDITIONAL_PHONE}   />
		<label for="additional_phone"   >{TXT_ADDITIONAL_PHONE}</label> <br />

		<input type="checkbox" name="additional_street"   id="additional_street"   {VOTING_FLAG_ADDITIONAL_STREET}  />
		<label for="additional_street"  >{TXT_ADDITIONAL_STREET} </label> <br />

		<input type="checkbox" name="additional_zip"      id="additional_zip"      {VOTING_FLAG_ADDITIONAL_ZIP}     />
		<label for="additional_zip"     >{TXT_ADDITIONAL_ZIP} </label> <br />

		<input type="checkbox" name="additional_city"     id="additional_city"     {VOTING_FLAG_ADDITIONAL_CITY}    />
		<label for="additional_city"    >{TXT_ADDITIONAL_CITY} </label> <br />

		<input type="checkbox" name="additional_comment"  id="additional_comment"  {VOTING_FLAG_ADDITIONAL_COMMENT} />
		<label for="additional_comment" >{TXT_ADDITIONAL_COMMENT} </label> <br />

      </td>
    </tr>
  </table>
  <br />
  <input type="submit" value="{TXT_STORE}" name="Submit" />
  <input type="reset" value="{TXT_RESET}" name="Submit" />
  <br />
</form>
<!-- END guestbook_add.html -->
