<style type="text/css">
    .adminlist tr.row3 td {
        white-space: nowrap;
    }
    .adminlist tr.row1 td img,
    .adminlist tr.row2 td img {
        cursor: pointer;
    }
</style>

{CHECKOUT_CONTENT_OK_MESSAGE}
{CHECKOUT_CONTENT_ALERT_MESSAGE}

<!-- BEGIN transaction -->
<table width="100%" class="adminlist">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_TRANSACTION}</th>
    </tr>
    <tr>
        <td width="200">{TXT_CHECKOUT_ID}</td>
        <td>{CHECKOUT_ID}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_STATUS}</td>
        <td>{CHECKOUT_STATUS}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_TIME}</td>
        <td>{CHECKOUT_TIME}</td>
    </tr>
</table>
<br />
<table width="100%" class="adminlist">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_INVOICE}</th>
    </tr>
    <tr>
        <td width="200">{TXT_CHECKOUT_INVOICE_NUMBER}</td>
        <td>{CHECKOUT_INVOICE_NUMBER}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_INVOICE_AMOUNT}</td>
        <td>{CHECKOUT_INVOICE_AMOUNT}</td>
    </tr>
</table>
<br />
<table width="100%" class="adminlist">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_CONTACT}</th>
    </tr>
    <tr>
        <td width="200">{TXT_CHECKOUT_TITLE}</td>
        <td>{CHECKOUT_TITLE}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_FORENAME}</td>
        <td>{CHECKOUT_FORENAME}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_SURNAME}</td>
        <td>{CHECKOUT_SURNAME}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_COMPANY}</td>
        <td>{CHECKOUT_COMPANY}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_STREET}</td>
        <td>{CHECKOUT_STREET}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_POSTCODE}</td>
        <td>{CHECKOUT_POSTCODE}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_PLACE}</td>
        <td>{CHECKOUT_PLACE}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_COUNTRY}</td>
        <td>{CHECKOUT_COUNTRY}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_PHONE}</td>
        <td>{CHECKOUT_PHONE}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_EMAIL}</td>
        <td><a href="mailto:{CHECKOUT_EMAIL}">{CHECKOUT_EMAIL}</a></td>
    </tr>
</table>
<!-- END transaction -->