<style type="text/css">
    .adminlist tr.row3 td {
        white-space: nowrap;
    }
    .adminlist tr.row1 td img,
    .adminlist tr.row2 td img {
        cursor: pointer;
    }
    .adminlist td.right img {
        float: right;
    }
</style>

{CHECKOUT_CONTENT_ALERT_MESSAGE}
{CHECKOUT_CONTENT_OK_MESSAGE}
{CHECKOUT_CONTENT_WARNING_MESSAGE}

<!-- BEGIN transactions -->
<table width="100%" class="adminlist">
    <tr>
        <th colspan="16">{TXT_CHECKOUT_ALL_ENTRIES}</th>
    </tr>
    <tr class="row3">
      <td width="4%">{TXT_CHECKOUT_ID}</td>
      <td width="7%">{TXT_CHECKOUT_STATUS}</td>
      <td width="9%">{TXT_CHECKOUT_TIME}</td>
      <td width="9%">{TXT_CHECKOUT_INVOICE_NUMBER}</td>
      <td width="10%">{TXT_CHECKOUT_INVOICE_AMOUNT}</td>
      <td width="15%">{TXT_CHECKOUT_COMPANY}</td>
      <td width="15%">{TXT_CHECKOUT_NAME}</td>
      <td width="15%">{TXT_CHECKOUT_PHONE}</td>
      <td width="15%">{TXT_CHECKOUT_EMAIL}</td>
      <td width="1%">{TXT_CHECKOUT_ACTIONS}</td>
    </tr>
    <!-- BEGIN transaction -->
    <tr class="{CHECKOUT_ROW_CLASS}">
        <td>{CHECKOUT_ID}</td>
        <td>{CHECKOUT_STATUS}</td>
        <td nowrap="nowrap">{CHECKOUT_TIME}</td>
        <td>{CHECKOUT_INVOICE_NUMBER}</td>
        <td>{CHECKOUT_INVOICE_AMOUNT}</td>
        <td>{CHECKOUT_COMPANY}</td>
        <td>{CHECKOUT_NAME}</td>
        <td>{CHECKOUT_PHONE}</td>
        <td><a href="mailto:{CHECKOUT_EMAIL}">{CHECKOUT_EMAIL}</a></td>
        <td class="right" nowrap="nowrap">
            <a href="index.php?cmd=checkout&amp;act=delete&amp;id={CHECKOUT_ID}"><img title="{TXT_CHECKOUT_DELETE}" src="images/icons/delete.gif" /></a>
            <a href="index.php?cmd=checkout&amp;act=detail&amp;id={CHECKOUT_ID}"><img title="{TXT_CHECKOUT_DETAIL}" src="images/icons/pages.gif" /></a>
        </td>
    </tr>
    <!-- END transaction -->
</table><br />
{CHECKOUT_PAGING}
<!-- END transactions -->

<!-- BEGIN no_entries -->
<div class="warningbox">{TXT_CHECKOUT_NO_ENTRIES}</div>
<!-- END no_entries -->