<style type="text/css">
    label,
    input[type="text"] {
        float: left;
    }

    input[type="text"] {
        width: 250px;
        margin: 0;
    }
</style>
<script type="text/javascript">
/* <![CDATA[ */
cx.jQuery(document).ready(function() {
    cx.jQuery('.tabmenu a').click(function() {
        cx.jQuery('.tabmenu a').removeClass('active');
        cx.jQuery('.container').hide();

        className = cx.jQuery(this).attr('class');
        cx.jQuery('.tabmenu a.'+className).addClass('active');
        cx.jQuery('.container.'+className).show();
    });
});
/* ]]> */
</script>

<ul class="tabmenu">
    <li><a class="adminMail active" href="javascript:void(0)">{TXT_CHECKOUT_SETTINGS_MAILS_ADMIN}</a></li>
    <li><a class="customerMail" href="javascript:void(0)">{TXT_CHECKOUT_SETTINGS_MAILS_CUSTOMER}</a></li>
    <li><a class="mailPlaceholders" href="javascript:void(0)">{TXT_CORE_PLACEHOLDERS}</a></li>
</ul>

<form class="adminMail container" action="index.php?cmd=checkout&act=settings&tpl=mails" method="post">
    <table class="adminlist" width="100%">
        <tr>
            <th colspan="2">{TXT_CHECKOUT_SETTINGS_MAILS_ADMIN_MAIL_CONFIRM}</th>
        </tr>
        <tr>
            <td width="200"><label for="admin_mail_title">{TXT_CHECKOUT_SETTINGS_MAILS_SUBJECT}</label></td>
            <td><input id="admin_mail_title" name="adminMail[title]" type="text" value="{CHECKOUT_ADMIN_MAIL_TITLE}" /></td>
        </tr>
        <tr class="reset">
            <td colspan="2">{CHECKOUT_ADMIN_MAIL_CONTENT}</td>
        </tr>
    </table><br />

    <input name="submit_admin_mail" type="submit" value="{TXT_CORE_SAVE}" />
</form>

<form class="customerMail container" action="index.php?cmd=checkout&act=settings&tpl=mails" method="post" style="display: none;">
    <table class="adminlist" width="100%">
        <tr>
            <th colspan="2">{TXT_CHECKOUT_SETTINGS_MAILS_CUSTOMER_MAIL_CONFIRM}</th>
        </tr>
        <tr>
            <td width="200"><label for="customer_mail_title">{TXT_CHECKOUT_SETTINGS_MAILS_SUBJECT}</label></td>
            <td><input id="customer_mail_title" name="customerMail[title]" type="text" value="{CHECKOUT_CUSTOMER_MAIL_TITLE}" /></td>
        </tr>
        <tr class="reset">
            <td colspan="2">{CHECKOUT_CUSTOMER_MAIL_CONTENT}</td>
        </tr>
    </table><br />

    <input name="submit_customer_mail" type="submit" value="{TXT_CORE_SAVE}" />
</form>

<div class="mailPlaceholders container" style="display: none;">
    <table class="adminlist" width="100%">
        <tr>
            <th colspan="2">{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_MAILS_TITLE}</th>
        </tr>
        <tr>
            <td width="200">[[DOMAIN_URL]]</td>
            <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_DOMAIN}</td>
        </tr>
        <tr>
            <td>[[TRANSACTION_ID]]</td>
            <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_ID}</td>
        </tr>
        <tr>
            <td>[[TRANSACTION_STATUS]]</td>
            <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_STATUS}</td>
        </tr>
        <tr>
            <td>[[TRANSACTION_TIME]]</td>
            <td>{TXT_CHECKOUT_SETTINGS_PLACEHOLDERS_TIME}</td>
        </tr>
        <tr>
            <td>[[INVOICE_NUMBER]]</td>
            <td>{TXT_CHECKOUT_INVOICE_NUMBER}</td>
        </tr>
        <tr>
            <td>[[INVOICE_CURRENCY]]</td>
            <td>{TXT_CHECKOUT_INVOICE_CURRENCY}</td>
        </tr>
        <tr>
            <td>[[INVOICE_AMOUNT]]</td>
            <td>{TXT_CHECKOUT_INVOICE_AMOUNT}</td>
        </tr>
        <tr>
            <td>[[CONTACT_TITLE]]</td>
            <td>{TXT_CHECKOUT_TITLE}</td>
        </tr>
        <tr>
            <td>[[CONTACT_FORENAME]]</td>
            <td>{TXT_CHECKOUT_FORENAME}</td>
        </tr>
        <tr>
            <td>[[CONTACT_SURNAME]]</td>
            <td>{TXT_CHECKOUT_SURNAME}</td>
        </tr>
        <tr>
            <td>[[CONTACT_COMPANY]]</td>
            <td>{TXT_CHECKOUT_COMPANY}</td>
        </tr>
        <tr>
            <td>[[CONTACT_STREET]]</td>
            <td>{TXT_CHECKOUT_STREET}</td>
        </tr>
        <tr>
            <td>[[CONTACT_POSTCODE]]</td>
            <td>{TXT_CHECKOUT_POSTCODE}</td>
        </tr>
        <tr>
            <td>[[CONTACT_PLACE]]</td>
            <td>{TXT_CHECKOUT_PLACE}</td>
        </tr>
        <tr>
            <td>[[CONTACT_COUNTRY]]</td>
            <td>{TXT_CHECKOUT_COUNTRY}</td>
        </tr>
        <tr>
            <td>[[CONTACT_PHONE]]</td>
            <td>{TXT_CHECKOUT_PHONE}</td>
        </tr>
        <tr>
            <td>[[CONTACT_EMAIL]]</td>
            <td>{TXT_CHECKOUT_EMAIL}</td>
        </tr>
    </table>
</div>