<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=checkout&amp;act=settings&amp;tpl=general" title="{TXT_CORE_GENERAL}" class="{CHECKOUT_GENERAL_LINK_ACTIVE}">{TXT_CORE_GENERAL}</a></li>
        <li><a href="index.php?cmd=checkout&amp;act=settings&amp;tpl=psp" title="{TXT_CHECKOUT_SETTINGS_PSP}" class="{CHECKOUT_PSP_LINK_ACTIVE}">{TXT_CHECKOUT_SETTINGS_PSP}</a></li>
        <li><a href="index.php?cmd=checkout&amp;act=settings&amp;tpl=mails" title="{TXT_CHECKOUT_SETTINGS_MAILS}" class="{CHECKOUT_MAILS_LINK_ACTIVE}">{TXT_CHECKOUT_SETTINGS_MAILS}</a></li>
    </ul>
</div>

{CHECKOUT_CONTENT_ALERT_MESSAGE}
{CHECKOUT_CONTENT_OK_MESSAGE}
{CHECKOUT_CONTENT_WARNING_MESSAGE}

{CHECKOUT_SETTINGS_CONTENT}