<style type="text/css">
    label,
    input[type="text"],
    input[type="password"],
    input[type="checkbox"] {
        float: left;
    }

    input[type="text"],
    input[type="password"] {
        width: 230px;
        margin: 0;
    }

    select {
        width: 238px;
    }

    input[type="checkbox"] {
        margin: 4px 0 !important;
    }

    .icon-info {
        margin: 5px 0 0 5px;
    }
</style>

<form action="index.php?cmd=checkout&act=settings&tpl=psp" method="post">
    <table class="adminlist" width="100%">
        <tr>
            <th colspan="2">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_TITLE}</th>
        </tr>
        <tr>
            <td width="250"><label for="yellowpay_pspid">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_PSPID}</label><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_PSPID_INFO}</span></td>
            <td><input id="yellowpay_pspid" name="yellowpay[pspid]" type="text" value="{CHECKOUT_YELLOWPAY_PSPID}" /></td>
        </tr>
        <tr>
            <td><label for="yellowpay_sha_in">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_SHA_IN}</label></td>
            <td><input id="yellowpay_sha_in" name="yellowpay[sha_in]" type="password" value="{CHECKOUT_YELLOWPAY_SHA_IN}" /></td>
        </tr>
        <tr>
            <td><label for="yellowpay_sha_out">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_SHA_OUT}</label></td>
            <td><input id="yellowpay_sha_out" name="yellowpay[sha_out]" type="password" value="{CHECKOUT_YELLOWPAY_SHA_OUT}" /></td>
        </tr>
        <tr>
            <td><label for="yellowpay_operation">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_OPERATION}</label></td>
            <td><select id="yellowpay_operation" name="yellowpay[operation]">{CHECKOUT_YELLOWPAY_OPERATION_OPTIONS}</select></td>
        </tr>
        <tr>
            <td><label for="yellowpay_testserver">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_TESTSERVER}</label><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_TESTSERVER_INFO}</span></td>
            <td><input id="yellowpay_testserver" name="yellowpay[testserver]" type="checkbox" value="1" {CHECKOUT_YELLOWPAY_TESTSERVER_CHECKED} /></td>
        </tr>
        <tr>
            <td colspan="2">{TXT_CHECKOUT_SETTINGS_PSP_YELLOWPAY_MORE_INFORMATION}</td>
        </tr>
    </table><br />

    <input name="submit" type="submit" value="{TXT_CORE_SAVE}" />
</form>