<style type="text/css">
img {
    border: 1px solid #ECECEC;
}

ul {
    margin: 0;
}

.icon-info {
    margin: 5px 0 0 5px;
}
</style>

<table class="adminlist" width="100%">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_SETTINGS_GENERAL_STATUS}</th>
    </tr>
    <tr>
        <td width="200">
            {TXT_CHECKOUT_SETTINGS_GENERAL_EPAYMENT_ACTIVATED}
            <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_CHECKOUT_SETTINGS_GENERAL_EPAYMENT_ACTIVATED_INFO}</span>
        </td>
        <td>
            <form action="index.php?cmd=checkout&act=settings&tpl=general" method="post">
                <input type="checkbox" name="epayment_status" value="1" onclick="cx.jQuery(this).next().click();" {CHECKOUT_EPAYMENT_STATUS_CHECKED} />
                <input type="submit" name="submit" style="display: none;" />
            </form>
        </td>
    </tr>
</table><br />

<table class="adminlist" width="100%">
    <tr>
        <th colspan="2">{TXT_CHECKOUT_SETTINGS_GENERAL_INFORMATION}</th>
    </tr>
    <tr>
        <td width="200">{TXT_CHECKOUT_SETTINGS_GENERAL_MODULE_NAME_TITLE}</td>
        <td>{TXT_CHECKOUT_MODULE_NAME}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_SETTINGS_GENERAL_MODULE_DESCRIPTION_TITLE}</td>
        <td>{TXT_CHECKOUT_SETTINGS_GENERAL_MODULE_DESCRIPTION}</td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_LINKS}</td>
        <td>
            <a class="backend_link" href="{CHECKOUT_BACKEND_LINK_URL}" target="_blank" title="{TXT_CORE_EDIT_PAGE_LAYOUT}">{TXT_CORE_EDIT_PAGE_LAYOUT}</a><br />
            <a class="frontend_link" href="{CHECKOUT_FRONTEND_LINK_URL}" target="_blank" title="{TXT_CORE_SHOW_FRONTEND_VIEW}">{TXT_CORE_SHOW_FRONTEND_VIEW}</a>
        </td>
    </tr>
    <tr>
        <td>{TXT_CHECKOUT_SETTINGS_GENERAL_PARAMETER_PASSING_TITLE}</td>
        <td>{TXT_CHECKOUT_SETTINGS_GENERAL_PARAMETER_PASSING_DESCRIPTION}</td>
    </tr>
</table>