$symbol-margin: rem-calc(12) !default;
$symbol-indent: rem-calc(4) !default;
$list-symbol: '–' !default;

// basic list styling
ul {
  list-style: none;
  
  &.tick-list {
    margin-left: $symbol-margin + $symbol-indent;

    li:before {
      content: $list-symbol;
      position: relative;
      margin-left: - $symbol-margin;
      left: - $symbol-indent;
    }
  }
}

ul + h4 {
  // set the h4 the same off a ul as a p
  // for christenortho this is needed within the accordions
  // add more selectors should the situation occur in other
  // places as well
  margin-top: $paragraph-bottom-margin;
}
