/*doc
---
title: Inline Text Elements
category: Base - Typography
---

We have the following styles for our inline text elements:

```html_example
<p>Es freut mich sehr, Sie auf meiner <a href="#">Webseite</a> begrüssen zu dürfen.
Mit der <strong>vorliegenden Plattform</strong> möchte ich Ihnen einen umfassenden
Einblick auf das faszinierende Fachgebiet der <a href="#">Orthopädie und Traumatologie</a>
am Bewegungsapparat sowie in meine eigene Tätigkeit vermitteln. <strong>Patienten und Interessierte</strong>
sollen auf der <strong><a href="#">christenortho-Seite</a></strong> ausführliche Informationen
zu Krankheitsbildern am Bewegungsapparat und deren Behandlung in Erfahrung bringen können.
Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind
und wie sie aussehen. Manchmal benutzt man Worte wie etwa Hamburgerfonts,
Rafgenduks oder Handgloves, um Schriften zu testen. </p>
```
 */

// a, b, strong, abbr, ...
/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;

  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover,
a:focus {
  outline: 0;

  text-decoration: $anchor-text-decoration-hover;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
