// h1, h2, p, blockquote, ...
// 
/*doc
---
title: Block Text Elements
category: Base - Typography
---

All text block elements such as `h1`, `p` or `blockquote` are styled as shown here.

```html_example
<h1>h1: Herzlich willkommen bei christenortho!</h1>
<p>Es freut mich sehr, Sie auf meiner Webseite begrüssen zu dürfen. Mit der
vorliegenden Plattform möchte ich Ihnen einen umfassenden Einblick auf das
faszinierende Fachgebiet der Orthopädie und Traumatologie am Bewegungsapparat
sowie in meine eigene Tätigkeit vermitteln.</p>

<h2>h2: Fragen zur geplanten Operation</h2>
<p>Deutschland, Österreich und der Zentral- und Ostteil der Schweiz kennen aus
historischen Gründen den Titel des Traumatologen, der sich zwar ausschliesslich
mit Verletzungen und deren Folgen beschäftigt, sich fachlich aber sonst nicht
einschränkt. So wird er den Riss des vorderen Kreuzbandes, aber auch den
Schädelbruch oder Leberriss behandeln.</p>

<h3>h3: Riss / Verletzung / Läsion / Ruptur der Rotatorenmanschette</h3>
<p>Ja, wenn ich die Behandlung übernehme, werde ich Sie persönlich operieren.
Zu Ausbildungszwecken werde ich allenfalls einige Schritte meinem Assistenten
in Ausbildung assistieren, trage aber immer die ausschliessliche Verantwortung.</p>

<h4>h4: Bei mir sind noch Fragen aufgetaucht, wann kann ich sie stellen?</h4>
<p>Medizinische Praxisassistentin (MPA) und Arztsekretärin. Seit dem 1.11.2002
in der Praxis tätig und mit verantwortlich für den bisherigen Erfolg.</p>

<h3 class="secondary">h3.secondary: Einkleummungserscheinung unter dem Schulterdach
(Impingement)</h3>
<p>By applying the `secondary` class to any heading, its font color is changed to
indicate its secondary or inactive status. Used i. e. for inactive accordions.</p>
```
 */
// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Header Styles */
h1, h2, h3, h4 {
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;

  &.secondary {
    color: $header-font-color-secondary;
  }
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

p {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-bottom-margin;
}
