<!-- START dbm_status.html -->
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th colspan="2">{TXT_STATUS_TITLE}</th>
	</tr>
	<tr class="row2">
		<td width="15%" nowrap="nowrap"><b>{TXT_STATUS_VERSION}:</b></td>
		<td width="85%">{STATUS_VERSION}</td>
	</tr>
	<tr class="row1">
		<td nowrap="nowrap"><b>{TXT_STATUS_TABLES}:</b></td>
		<td>{STATUS_TABLES}</td>
	</tr>
	<tr class="row2">
		<td nowrap="nowrap"><b>{TXT_STATUS_SIZE}:</b></td>
		<td>{STATUS_SIZE} kB</td>
	</tr>
	<tr class="row1">
		<td nowrap="nowrap"><b>{TXT_STATUS_BACKLOG}:</b></td>
		<td>{STATUS_BACKLOG} kB</td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th colspan="2">{TXT_CONNECTION_TITLE}</th>
	</tr>
	<tr class="row2">
		<td width="15%" nowrap="nowrap"><b>{TXT_CONNECTION_DBPREFIX}:</b></td>
		<td width="85%">{CONNECTION_DBPREFIX}</td>
	</tr>
	<tr class="row1">
		<td nowrap="nowrap"><b>{TXT_CONNECTION_DATABASE}:</b></td>
		<td>{CONNECTION_DATABASE}</td>
	</tr>
	<tr class="row2">
		<td nowrap="nowrap"><b>{TXT_CONNECTION_USERNAME}:</b></td>
		<td>{CONNECTION_USERNAME}</td>
	</tr>
</table>

<!-- BEGIN showPhpBlocks -->
	<br />
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr><th>{TXT_PHPINFO_TITLE}:&nbsp;{BLOCK_TITLE}</th></tr>
	</table>
	
	<!-- BEGIN showPhpTables -->
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr class="{TABLE_TITLES_CLASS}">{TABLE_TITLES}</tr>
		{TABLE_CONTENT}
	</table>
	<!-- END showPhpTables -->
	<!-- END showPhpBlocks -->

<!-- END dbm_status.html -->