<!-- START dbm_maintenance.html -->
<script language="javascript" type="text/javascript">
// <![CDATA[
function optimizeDB() {
	window.location = 'index.php?cmd=dbm&{CSRF_PARAM}&act=optimize';
}

function repairDB() {
	window.location = 'index.php?cmd=dbm&{CSRF_PARAM}&act=repair';
}

function selectMultiAction() {
	with (document.frmTableMaintenance) {
		switch (frmTableMaintenance_MultiAction.value) {
			case 'optimize':
				action='?cmd=dbm&act=optimize';
				submit();
			break;
			case 'repair':
				action='?cmd=dbm&act=repair';
				submit();
			break;
			break;
			default: //do nothing
		}
	}
}
// ]]>
</script>
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th colspan="2">{TXT_MAINTENANCE_OPTIMIZE_TITLE}</th>
	</tr>
	<tr class="row1">
		<td width="10%"><input type="button" value="{TXT_MAINTENANCE_OPTIMIZE_BUTTON}" onclick="optimizeDB();"/></td>
		<td width="90%">{TXT_MAINTENANCE_OPTIMIZE_DESC}</td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th colspan="2">{TXT_MAINTENANCE_REPAIR_TITLE}</th>
	</tr>
	<tr class="row1">
		<td width="10%"><input type="button" value="{TXT_MAINTENANCE_REPAIR_BUTTON}" onclick="repairDB();" /></td>
		<td width="90%">{TXT_MAINTENANCE_REPAIR_DESC}</td>
	</tr>
</table>
<br />
<form name="frmTableMaintenance" method="post" action="?cmd=dbm&amp;act=table_actions">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
	<tr>
		<th colspan="6">{TXT_MAINTENANCE_TITLE_TABLES}</th>
	</tr>
	<tr class="row3">
		<td width="1%">&nbsp;</td>
		<td width="20%"><b>{TXT_MAINTENANCE_TABLES_NAME}</b></td>
		<td width="20%" style="text-align: center;"><b>{TXT_MAINTENANCE_TABLES_ROWS}</b></td>
		<td width="20%" style="text-align: center;"><b>{TXT_MAINTENANCE_TABLES_DATA}</b></td>
		<td width="20%" style="text-align: center;"><b>{TXT_MAINTENANCE_TABLES_INDEXES}</b></td>
		<td width="20%" style="text-align: center;"><b>{TXT_MAINTENANCE_TABLES_BACKLOG}</b></td>
	</tr>
	<!-- BEGIN showTables -->
	<tr class="row{MAINTENANCE_TABLES_ROW}">
		<td><input type="checkbox" name="selectedTablesName[]" value="{MAINTENANCE_TABLES_NAME}" /></td>
		<td>
			<!-- BEGIN showTableContentLink -->{MAINTENANCE_TABLES_NAME}<!-- END showTableContentLink -->
			<!-- BEGIN showTableContentNoLink -->{MAINTENANCE_TABLES_NAME}<!-- END showTableContentNoLink -->
		</td>
		<td style="text-align: center;">{MAINTENANCE_TABLES_ROWS}</td>
		<td style="text-align: center;">{MAINTENANCE_TABLES_DATA} kB</td>
		<td style="text-align: center;">{MAINTENANCE_TABLES_INDEXES} kB</td>
		<td style="text-align: center;">{MAINTENANCE_TABLES_BACKLOG} kB</td>
	</tr>
	<!-- END showTables -->
</table>
<br />
<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="" />
			<a href="#" onclick="changeCheckboxes('frmTableMaintenance','selectedTablesName[]',true); return false;">{TXT_MAINTENANCE_TABLES_SELECT_ALL}</a> /
			<a href="#" onclick="changeCheckboxes('frmTableMaintenance','selectedTablesName[]',false); return false;">{TXT_MAINTENANCE_TABLES_DESELECT_ALL}</a>
			<img src="images/icons/strike.gif" alt="" />
			<select name="frmTableMaintenance_MultiAction" onchange="selectMultiAction();">
				<option value="0">{TXT_MAINTENANCE_TABLES_SUBMIT_SELECT}</option>
				<option value="optimize">{TXT_MAINTENANCE_TABLES_SUBMIT_OPTIMIZE}</option>
				<option value="repair">{TXT_MAINTENANCE_TABLES_SUBMIT_REPAIR}</option>
			</select>
		</td>
	</tr>
</table>
</form>
<!-- END dbm_maintenance.html -->
