<!-- START image.html -->
<table summary="" class="adminlist" width="100%" cellspacing="0" cellpadding="3" border="0" align="top">
  <tr>
    <td valign="top">{TXT_UPLOAD_IMAGES}</td>
  </tr>
  <tr>
    <td valign="top"><form name="form1" method="post" action="index.php?cmd=imageupload" enctype="multipart/form-data">
        <input name="upload" type="file" />
        <input type="submit" name="Submit" value="{TXT_UPLOAD}" />
      </form>
</td>
  </tr>
</table>
<br />
<table summary="" class="adminlist" width="100%" cellspacing="0" cellpadding="3" border="0" align="top">
  <tr>
    <td valign="top">{TXT_IMAGE_OVERVIEW}</td>
  </tr>
  <tr>
    <td valign="top">{IMAGE_NEWDIR}{IMAGE_NAME}{IMAGE_SIZE}{IMAGE_RESOLUTION}<br />{IMAGES_LIST}<br /></td>
  </tr>
</table>
<br />
<!-- END image.html -->