<!-- START language_mod.html -->
<script language="JavaScript" type="text/javascript">
<!--
function formCheck(formobj)
{
if (formobj.name.value == "" && formobj.backend_lang_vars.value == "" && formobj.frontend_lang_vars.value == "")
{
alert("{TXT_LANGUAGE_NAME_REQUIRED}");
return false;
}
if (!formobj.backend.checked && !formobj.frontend.checked && formobj.backend_lang_vars.value == "" && formobj.frontend_lang_vars.value == "")
{
alert("{TXT_APPLICATION_RANGE_REQUIRED}");
return false;
}
if (formobj.moduleId.value == "")
{
alert("{TXT_APPLICATION_RANGE_REQUIRED}");
return false;
}
return true;
}

function copyValues(id, strValue){
	if(id > 1){
		for(i=id;i<{LAST_ID};i++){
			try{
				if(document.getElementsByName('content['+i+']')[0].value == ''){
					document.getElementsByName('content['+i+']')[0].value = strValue
				}

			}catch(e){}
		}
	}
}

function check(id){
	if(id > 1){
		for(i=id; i<{LAST_ID}; i++){
			try{
				if(document.getElementsByName('status['+i+']')[0].checked == true){
					document.getElementsByName('status['+i+']')[0].checked = false;
				}else{
					document.getElementsByName('status['+i+']')[0].checked = true;
				}
			}catch(e){}
		}
		document.getElementsByName('status['+id+']')[0].checked = document.getElementsByName('status['+id+']')[0].checked ? false : true;
	}
}

function clearInputs(){
	for(i=2;i<{LAST_ID};i++){
		try{
			document.getElementsByName('content['+i+']')[0].value = '';
		}catch(e){}
	}
}


// -->
</script>
<form name="languageForm" method="post" action="index.php?cmd=language&amp;act=mod" onsubmit="return formCheck(this);" >
<input type="hidden" name="id" value="{LANGUAGE_VARIABLE_ID}" />
<table summary="" cellspacing="0" cellpadding="3" border="0" style="vertical-align:top;" width="100%" class="adminlist">
<tr>
<th width="15%" colspan="4"><b>{TXT_LANGUAGE_SETTING}</b></th>
</tr>
<tr class="row1" valign="top">
<td width="15%" nowrap="nowrap">{TXT_NAME}</td>
<td colspan="3">
<input type="text" name="name" size="40" value="{LANGUAGE_VARIABLE_NAME}" maxlength="250" />
&nbsp;</td>
</tr>
<tr class="row1" valign="top">
<td width="15%" nowrap>{TXT_APPLICATION_RANGE}</td>
<td colspan="3">
<input type="checkbox" name="backend" id="backend" value="1" {LANGUAGE_ADMINZONE} /> <label for="backend">{TXT_ADMINISTRATION_PAGES}&nbsp; &nbsp;&nbsp; </label>
<input type="checkbox" name="frontend" id="frontend" value="1" {LANGUAGE_WEBSITE} /> <label for="frontend">{TXT_WEB_PAGES} &nbsp;&nbsp; </label>
<select name="moduleId">
<option value="">{TXT_MODULE}</option>
{LANGUAGE_MODULES_MENU}
</select>
</td>
</tr>
<tr class="row1" valign="top">
<td width="15%" nowrap="nowrap">{TXT_VALUE_CONTROL_LANGUAGE}</td>
<td colspan="3">{LANGUAGE_INPUT_FIELDS}
<br />
<a href="javascript:clearInputs()"> clear input fields </a><br />
</td>
</tr>
</table>
<br />
<!--</form>-->

<!--<form name="languageArraylangPasteForm" method="post" action="index.php?cmd=language&amp;act=mod">-->
<table summary="" cellspacing="0" cellpadding="3" border="0" style="vertical-align:top;" width="100%" class="adminlist">
<tr>
<th colspan="2">
	Sprachvariablen von $_ARRAYLANG[] importieren
</th>
</tr>
<tr class="row2">
<td>
backend (admin.class.php):

</td>
<td>
<textarea cols="70" rows="20" name="backend_lang_vars"></textarea><br /><br />

</td>
</tr>
<tr class="row1">
<td>
frontend (index.class.php):
</td>
<td>
<textarea cols="70" rows="20" name="frontend_lang_vars"></textarea><br />
</td>
</tr>
</table>


<input type="submit" value="save" name="submit" />
<input id="writelangfiles" style="vertical-align: middle;" type="checkbox" name="writeFiles"  /> <label for="writelangfiles"> write variables to files <br /><br /></label>

<br />



</form>
<!-- END language_mod.html -->
