<!-- START language_list.html -->
<script language="JavaScript" type="text/javascript">
<!--
// confirm delete variable
function deleteVariable(id)
{
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE} {TXT_ATTENTION_SYSTEM_FUNCTIONALITY_AT_RISK}'))
        window.location.replace("index.php?cmd=language&{CSRF_PARAM}&act=del&id="+id);
}
// -->
</script>
<form name="languageForm" method="post" action="?cmd=language&amp;act=varOfId">
<input type="text" name="langVarId" value="{LANGUAGE_VAR_ID}" size="20" /> <input type="submit" name="getLanguageVar" value="Show language var of ID" /> <br /><br />
</form>
<form name="languageForm" method="post" action="?cmd=language&amp;act=vars">
<input type="text" name="term" value="{LANGUAGE_SEARCHTERM}" size="40" maxlength="250" />
<select name="zone">
{LANGUAGE_ZONE_MENU}
</select>
<select name="lang">
<option value="">{TXT_LANGUAGE}</option>
{LANGUAGE_LANG_MENU}
</select>
<select name="module">
<option value="">{TXT_MODULE}</option>
{LANGUAGE_MODULES_MENU}
</select>
<select name="status">
<option value="2" selected="selected">{TXT_STATUS}</option>
<option value="1">{TXT_CONTROLLED}</option>
<option value="0">{TXT_OPEN_ISSUE}</option>
</select>

<input type="submit" name="Submit" value="{TXT_DISPLAY}" />
</form>
<br />
<!-- BEGIN languageSearchTable -->
<table width="100%" cellspacing="0" cellpadding="3" border="0" style="vertical-align:top;" class="adminlist">
  <tr>
    <th colspan="8"><div align="left">{TXT_LANGUAGE_DEPENDANT_SYSTEM_VARIABLES} {LANGUAGE_STATS} {TXT_FOUND}</div></th>
  </tr>
  <tr class="row2">
    <td width="4%" nowrap="nowrap"><b>{TXT_STATUS}</b></td>
    <td width="16%" nowrap="nowrap"><b>{TXT_NAME}</b></td>
    <td width="50%" nowrap="nowrap"><b>{TXT_VALUE}</b></td>
    <td width="6%" nowrap="nowrap"><b>{TXT_MODULE}</b></td>
    <td width="6%"><b>{TXT_ADMIN}</b></td>
    <td width="6%"><b>{TXT_PUBLIC}</b></td>
    <td width="8%"><b>{TXT_LANGUAGE}</b></td>
    <td width="4%"><div align="right"><b>{TXT_STATUS}</b></div>&nbsp;</td>
  </tr>
  <!-- BEGIN languageRow -->
  <tr class="{LANGUAGE_ROWCLASS}">
    <td><div align="left">{LANGUAGE_STATUS}</div></td>
    <td><a href="index.php?cmd=language&amp;act=mod&amp;id={LANGUAGE_ID}">{LANGUAGE_VARIABLENAME}</a></td>
    <td>{LANGUAGE_CONTENT}&nbsp;</td>
    <td>{LANGUAGE_MODULE}&nbsp;</td>
    <td>{LANGUAGE_ADMIN}&nbsp;</td>
    <td>{LANGUAGE_WEBSITE}&nbsp;</td>
    <td>{LANGUAGE_LANG}&nbsp;</td>
    <td><div align="right"> <a href="javascript:deleteVariable('{LANGUAGE_ID}')"><img src="images/icons/delete.gif" alt="Variable löschen" border="0" /></a>&nbsp;</div>
    </td>
  </tr>
  <!-- END languageRow -->
</table>
<!-- END languageSearchTable -->
<!-- END language_list.html -->
