<!-- START server_settings.html -->
<b>{ADMIN_CMS_NAME}</b> Version {ADMIN_CMS_VERSION}
<br /><br />
<table summary="" class="adminlist" border=0 width="100%" cellpadding="3" cellspacing="0">
  <tr valign="top">
    <th nowrap colspan="2">
      <div align="left">Server Informationen</div>
    </th>
  </tr>
  <tr valign="top" class="row1">
    <td nowrap="nowrap">Database Version:</td>
    <td width="100%">{MYADMIN_DB_VERSION}</td>
  </tr>
  <tr valign="top" class="row2">
    <td nowrap="nowrap">PHP Version:</td>
    <td width="100%">{MYADMIN_PHP_VERSION}</td>
  </tr>
  <tr valign="top" class="row1">
    <td nowrap="nowrap">Web Server:</td>
    <td width="100%">{MYADMIN_WEBSERVER}</td>
  </tr>
  <tr valign="top" class="row2">
    <td nowrap="nowrap">PHP built On:</td>
    <td width="100%">{MYADMIN_PHP_BUILDON}</td>
  </tr>
  <tr valign="top" class="row1">
    <td nowrap="nowrap">WebServer zu PHP Schnittstelle:</td>
    <td width="100%">{MYADMIN_PHP_INTERFACE}</td>
  </tr>
  <tr valign="top" class="row2">
    <td nowrap="nowrap">Die Aktuelle Zend engine Version ist:</td>
    <td width="100%">{MYADMIN_ZEND_VERSION}</td>
  </tr>
</table>
<br />
<br />
<!-- END server_settings.html -->
