<!-- START settings_country.html -->
<form name="country_form" method="post" action="index.php?cmd=country">
  <table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
      <tr>
        <th colspan="7">{TXT_CORE_COUNTRY_NEW}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row3">
        <td width="05%"><b>{TXT_CORE_COUNTRY_ID}</b></td>
        <td width="05%"><b>{TXT_CORE_COUNTRY_ACTIVE}</b></td>
        <td width="10%"><b>{TXT_CORE_COUNTRY_ORD}</b></td>
        <td width="45%"><b>{TXT_CORE_COUNTRY_NAME}</b></td>
        <td width="15%"><b>{TXT_CORE_COUNTRY_ISO2}</b></td>
        <td width="15%"><b>{TXT_CORE_COUNTRY_ISO3}</b></td>
        <td width="05%">&nbsp;</td>
      </tr>
      <tr class="row2">
        <td>
          {SETTINGS_COUNTRY_ID}
          <input type="hidden" name="country_id[0]" value="0" />
        </td>
        <td><input type="checkbox" name="country_is_active[0]" value="1" /></td>
        <td><input type="text" size="3" name="country_ord[0]" value="0" /></td>
        <td><input type="text" size="40" name="country_name[0]" value="" /></td>
        <td><input type="text" size="2" maxlength="2" name="country_alpha2[0]" value="" /></td>
        <td><input type="text" size="3" maxlength="3" name="country_alpha3[0]" value="" /></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br />
  <input type="submit" value="{TXT_CORE_STORE}" name="bsubmit" />
  <br />
  <br />
  <div>
    <div class="infobox_head">{TXT_CORE_COUNTRY_NEW_INFO_HEAD}</div>
    <div class="infobox_body">{TXT_CORE_COUNTRY_NEW_INFO_BODY}</div>
  </div>
</form>

<br />

<form name="countries_form" method="post" action="index.php?cmd=country">
  <table summary="" width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
      <tr>
        <th colspan="7">{CORE_COUNTRY}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row3">
        <td width="05%"><b>{HEAD_SETTINGS_COUNTRY_ID}</b></td>
        <td width="05%"><b>{HEAD_SETTINGS_COUNTRY_ACTIVE}</b></td>
        <td width="10%"><b>{HEAD_SETTINGS_COUNTRY_ORD}</b></td>
        <td width="45%"><b>{HEAD_SETTINGS_COUNTRY_NAME}</b></td>
        <td width="15%"><b>{HEAD_SETTINGS_COUNTRY_ISO2}</b></td>
        <td width="15%"><b>{HEAD_SETTINGS_COUNTRY_ISO3}</b></td>
        <td width="05%"><div style="text-align: right;"><b>{TXT_CORE_FUNCTIONS}</b></div></td>
      </tr>
<!-- BEGIN settings_country_row -->
      <tr class="row{SETTINGS_COUNTRY_ROWCLASS}">
        <td>
          {SETTINGS_COUNTRY_ID}
          <input type="hidden" name="country_id[{SETTINGS_COUNTRY_ID}]" value="{SETTINGS_COUNTRY_ID}" />
        </td>
        <td><input type="checkbox" name="country_is_active[{SETTINGS_COUNTRY_ID}]" value="1"{SETTINGS_COUNTRY_IS_ACTIVE} /></td>
        <td><input type="text" size="3" name="country_ord[{SETTINGS_COUNTRY_ID}]" value="{SETTINGS_COUNTRY_ORD}" /></td>
        <td><input type="text" size="40" name="country_name[{SETTINGS_COUNTRY_ID}]" value="{SETTINGS_COUNTRY_NAME}" /></td>
        <td>{SETTINGS_COUNTRY_ISO2}</td>
        <td>{SETTINGS_COUNTRY_ISO3}</td>
        <td><div style="text-align: right;">{SETTINGS_FUNCTIONS}</div></td>
      </tr>
<!-- END settings_country_row -->
    </tbody>
  </table>
  <br />
  {SETTINGS_COUNTRY_PAGING}
  <br />
  <br />
  <input type="submit" value="{TXT_CORE_STORE}" name="bsubmit" />
</form>
<!-- END settings_country.html -->
