<!-- start settings_smtp.html -->
<script type="text/javascript">
// <[[CDATA
function settingsSmtpDeleteAccount(id,name)
{
	strMsg = '{TXT_SETTINGS_CONFIRM_DELETE_ACCOUNT}';
	if  (confirm(strMsg.replace('%s', name)+'\n{TXT_SETTINGS_OPERATION_IRREVERSIBLE}')) {
		window.location.href = 'index.php?cmd=settings&{CSRF_PARAM}&act=smtp&tpl=delete&id='+id;
		return true;
	}
	return false;
}
// ]]>
</script>
<table border="0" width="100%" cellpadding="3" cellspacing="0" class="adminlist">
	<thead>
		<tr>
			<th colspan="5">{TXT_SETTINGS_EMAIL_ACCOUNTS}</th>
		</tr>
		<tr class="row3" style="font-weight:bold;">
			<td width="30%">{TXT_SETTINGS_ACCOUNT}</td>
			<td width="30%">{TXT_SETTINGS_HOST}</td>
			<td width="30%">{TXT_SETTINGS_USERNAME}</td>
			<td width="5%"><div style="text-align:center;">{TXT_SETTINGS_STANDARD}</div></td>
			<td width="5%"><div style="text-align:right;">{TXT_SETTINGS_FUNCTIONS}</div></td>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN settings_smtp_accounts -->
		<tr class="row{SETTINGS_ROW_CLASS_ID}" style="height:27px;">
			<td>{SETTINGS_SMTP_ACCOUNT}</td>
			<td>{SETTINGS_SMTP_HOST}</td>
			<td>{SETTINGS_SMTP_USERNAME}</td>
			<td><div style="text-align:center;"><input type="radio" name="settings_smtp_default" onclick="window.location.href='?cmd=settings&{CSRF_PARAM}&amp;act=smtp&amp;tpl=default&amp;id={SETTINGS_SMTP_ACCOUNT_ID}'" value="{SETTINGS_SMTP_ACCOUNT_ID}" {SETTINGS_SMTP_DEFAULT} {SETTINGS_SMTP_OPTION_DISABLED} /></div></td>
			<td><div style="text-align:right;">&nbsp;
				<!-- BEGIN settings_smtp_account_functions -->
				<a href="?cmd=settings&amp;act=smtp&amp;tpl=modify&amp;id={SETTINGS_SMTP_ACCOUNT_ID}" title="{TXT_SETTINGS_MODFIY}"><img src="images/icons/edit.gif" width="16" height="16" border="0" alt="{TXT_SETTINGS_MODIFY}" /></a>
				<a href="javascript:settingsSmtpDeleteAccount({SETTINGS_SMTP_ACCOUNT_ID},'{SETTINGS_SMTP_ACCOUNT_JS}')" title="{TXT_SETTINGS_DELETE}"><img src="images/icons/delete.gif" width="17" height="17" border="0" alt="{TXT_SETTINGS_DELETE}" /></a>
				<!-- END settings_smtp_account_functions -->
			</div></td>
		</tr>
		<!-- END settings_smtp_accounts -->
	</tbody>
</table>
<br />
<input type="button" onclick="window.location.href='?cmd=settings&{CSRF_PARAM}&amp;act=smtp&amp;tpl=modify'" value="{TXT_SETTINGS_ADD_NEW_SMTP_ACCOUNT}" />
<!-- end settings_smtp.html -->
