<!-- START themes_content.html -->
<script language="JavaScript" type="text/javascript">
    <!-- // confirm delete page
    function reloadThemesPage(){
        document.themesForm.submit();
    }
    // -->
</script>

<div id="subnavbar_level2">
    <ul>
        <li><a class="active" href="index.php?cmd=skins&amp;act=templates" title="{TXT_THEMES_EDIT}">{TXT_THEMES_EDIT}</a></li>
        <li><a href="index.php?cmd=skins&amp;act=newDir" title="{TXT_THEMES_CREATE}">{TXT_THEMES_CREATE}</a></li>
    </ul>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="240" valign="top" nowrap>

            <form name="themesForm" action="index.php?cmd=skins&amp;act=templates"  method="post">
                <table summary="" width="240" border="0" cellspacing="0" cellpadding="3" class="adminlist">
                    <tr>
                        <th width="240" nowrap="nowrap">{TXT_DESIGN_FOLDER}</th>
                    </tr>
                    <tr valign="top" class="row1">
                        <td>
                            <select name="themes" size="9" onChange="reloadThemesPage()" style="width: 100%;">
                                <option value="">--- {TXT_CHOOSE_TEMPLATE_GROUP} ----</option>
                                {THEMES_MENU}
                            </select>
                        </td>
                    </tr>
                    <tr valign="top" class="row1">
                        <th width="180" nowrap="nowrap">{TXT_TEMPLATE_FILES}</th>
                    </tr>
                    <tr valign="top" class="row1">
                        <td>
                            <select name="themesPage" size="14" onChange="reloadThemesPage()" style="width: 100%;">
                                <option value="">--- {TXT_SELECT_FILE} -------------------</option>
                                {THEMES_PAGES_MENU}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th nowrap="nowrap">{TXT_MANAGE_FILES}</th>
                    </tr>
                    <tr valign="top" class="row1">
                        <td>
                            <select name="themesDelFileName" style="width: 100%">
                                <option value="" selected>--- {TXT_SELECT_FILE} ---</option>
                                {THEMES_PAGE_DEL_VALUE}
                            </select><br />
                            <input type="submit" name="Submit" value="{TXT_DELETE}" style="WIDTH: 100px"/>
                            <br />
                            <input type="input" name="themesNewFileName" maxlength="50" style="width: 240px;" /><br />
                            <input type="submit" name="Submit" value="{TXT_CREATE_FILE}" />
                        </td>
                    </tr>
                </table>
            </form>
            <form name="themesForm2" action="index.php?cmd=skins&amp;act=templates"  method="post">
                <input type="hidden" name="themes" value="{THEMES_SELECTED_THEME}" />
                <input type="hidden" name="themesPage" value="{THEMES_SELECTED_PAGENAME}" />
                <table summary="" width="240" border="0" cellspacing="0" cellpadding="3" class="adminlist">
                    <!-- BEGIN theme_libraries -->
                    <tr>
                        <th colspan="2" nowrap="nowrap">{TXT_TEMPLATE_USED_LIBRARIES}</th>
                    </tr>
                    <tr valign="top" class="row1">
                        <td width="240">
                            <!-- BEGIN theme_library -->
                            <select name="libraryVersion[{THEME_LIBRARY_NAME}]" style="width: 100%">
                                <option value="">{THEME_LIBRARY_NAME} {TXT_THEME_LIBRARY_NOT_USED}</option>
                                <!-- BEGIN theme_library_version -->
                                <option value="{THEME_LIBRARY_VERSION}" {THEME_LIBRARY_VERSION_SELECTED}>{THEME_LIBRARY_NAME} {THEME_LIBRARY_VERSION}</option>
                                <!-- END theme_library_version -->
                            </select><br />
                            <!-- END theme_library -->
                            <input type="submit" value="{TXT_SAVE}" />
                        </td>
                    </tr>
                    <!-- END theme_libraries -->
                </table>
            </form>
        </td>
        <td width="100%" valign="top" >

            <form name="themesForm2" method="post" action="index.php?cmd=skins&amp;act=update">
                <table summary="" width="100%" border="0" cellspacing="0" cellpadding="3"  class="adminlist">
                    <tr>
                        <th width="100%"><!--{TXT_FILE_EDITOR}--><b>{THEMES_FULL_PATH}</b></th>
                        <th align="right" nowrap>
                            <!-- BEGIN file_actions_top -->
                            <input onClick="javascript:this.form.content.focus(); this.form.content.select();" type=button value='{TXT_SELECT_ALL}' />
                            <input type="reset" value='{TXT_RESET}' name="Reset" />
                            <input type="submit" value='{TXT_STORE}' name="Submit" />	
                            <!-- END file_actions_top -->
                        </th>
                    </tr>
                    <tr class="row1">
                        <td colspan="2" style="padding-right: 19px;">
                            <input type="hidden" name="themes" value="{THEMES_SELECTED_THEME}" />
                            <input type="hidden" name="themesPage" value="{THEMES_SELECTED_PAGENAME}" />
                            <!-- BEGIN template_content -->                             
                            <textarea name="content" style="height: 650px; width:100%;">{CONTENT_HTML}</textarea>
                            <!-- END template_content -->
                            <!-- BEGIN template_image -->
                            <img src="{THEMES_FULL_PATH}" alt="image" />
                            <!-- END template_image --> 
                        </td>
                    </tr>
                </table>
                <div align="right">
                    <!-- BEGIN file_actions_bottom -->
                    <br />
                    <input onClick="javascript:this.form.content.focus(); this.form.content.select();" type=button value='{TXT_SELECT_ALL}' />
                    <input type="reset" value='{TXT_RESET}' name="Reset" />
                    <input type="submit" value='{TXT_STORE}' name="Submit" />
                    <!-- END file_actions_bottom -->
                </div>
            </form>
        </td>
    </tr>
</table>
<!-- END themes_content.html -->
