<!-- START module_feed_settings.html -->
<form action="index.php?cmd=feed&act=settings" method="post">
<table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
	<tbody>
	    <tr>
	    	<th colspan="2">{TXT_FEED_SETTINGS}</th>
	    </tr>
	    <tr class="row1">
	    	<td width="180">{TXT_FEED_USE_NEWSML}</td>
	    	<td><input type="checkbox" name="feedSettingsUseNewsML" value="1" {FEED_USE_NEWSML_CHECKED} /></td>
	    </tr>
    </tbody>
</table>
<br />
<input type="submit" name="save" value="{TXT_FEED_SAVE}" />
</form>
<!-- END module_feed_settings.html -->
