<!-- START module_data_settings.html -->
<script type="text/javascript">
//<![CDATA[
var switchAction = function(obj)
{
    var pageSelect = $("select_display");
    var boxWidth = $('box_width');
    var boxHeight = $('box_height');
    if (obj.value == "overlaybox") {
        hideRow(pageSelect);
        showRow(boxWidth);
        showRow(boxHeight);
    } else {
        showRow(pageSelect);
        hideRow(boxWidth);
        hideRow(boxHeight);
    }
    setRows();
}

var showRow = function(obj)
{
    try {
        obj.style.display = "table-row";
    } catch(e) {
        obj.style.display = "block";
    }
}

var hideRow = function(obj)
{
    obj.style.display = "none";
}

var setRows = function()
{
    var row = 1;
    var tb = $('settings_rows').getElementsByTagName("tr");
    
    for (var i = 0; i<tb.length; i++) {
        if (tb[i].visible) {
            tb[i].className = "row"+((row % 2) + 1);
            row++;
        }
    }
}


//]]>
</script>
<form name="frmSettings" method="post" action="?cmd=data&amp;act=saveSettings">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="2">{TXT_GENERAL_TITLE}</th>
		</tr>
		<tbody  id="settings_rows">
    		<tr>
    		  <td>{TXT_USE_DATALIST}</td>
    		  <td><input type="checkbox" {USE_DATALIST_CHECKED} name="frmSettings_useDatalist" /></td>
    		</tr>
    		<tr>
    			<td width="15%">{TXT_GENERAL_INTRODUCTION}</td>
    			<td width="85%">
                    <input type="text" name="frmSettings_GeneralIntroduction" value="{DATA_SETTINGS_GENERAL_INTRODUCTION}"  maxlength="50" style="width:400px;"  />&nbsp;
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_GENERAL_INTRODUCTION_HELP}</span>
                </td>
    		</tr>
            <tr>
                <td>{TXT_GENERAL_ACTION}</td>
                <td colspan="3">
                    <select name="frmSettings_action" style="width: 408px;" onchange="switchAction(this)">
                        <option value="overlaybox" {ACTION_SELECTED_BOX}>{TXT_BOX}</option>
                        <option value="content" {ACTION_SELECTED_CONTENT}>{TXT_CONTENT_PAGE}</option>
                    </select>&nbsp;
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_GENERAL_ACTION_HELP}</span>
                </td>
            </tr>
            <tr id="box_width">
                <td>{TXT_GENERAL_BOX_WIDTH}</td>
                <td colspan="3">
                    <input type="text" style="width: 400px;" value="{DATA_SETTINGS_BOX_WIDTH}" name="frmSettings_shadowbox_width" />
                </td>
            </tr>
            <tr id="box_height">
                <td>{TXT_GENERAL_BOX_HEIGHT}</td>
                <td colspan="3">
                    <input type="text" style="width: 400px;" value="{DATA_SETTINGS_BOX_HEIGHT}" name="frmSettings_shadowbox_height" />
                </td>
            </tr>
    		<tr style="display: {PAGE_SELECT_DISPLAY};" id="select_display">
                <td>{TXT_FRONTEND_PAGE}</td>
                <td colspan="3">
                    <select name="frmSettings_frontendPage" style="width: 400px;">
                        <!-- BEGIN frontendPage -->
                        <option value="{FRONTEND_PAGE_ID}" {FRONTEND_PAGE_SELECTED}>{FRONTEND_PAGE}</option>
                        <!-- END frontendPage -->
                    </select>
                </td>
    		</tr>
    		<tr>
    		  <td style="vertical-align: top;">{TXT_GENERAL_TEMPLATE_CATEGORY}</td>
    		  <td>
    		      <textarea cols="100" rows="15" style="width: 730px; height: 200px;" name="frmSettings_templateCategory">{DATA_SETTINGS_TEMPLATE_CATEGORY}</textarea>
    		  </td>
    		</tr>
    	    <tr>
    		  <td style="vertical-align: top;">{TXT_GENERAL_TEMPLATE_ENTRY}</td>
    		  <td>
    		      <textarea cols="100" rows="15" style="width: 730px; height: 200px;"  name="frmSettings_templateEntry">{DATA_SETTINGS_TEMPLATE_ENTRY}</textarea>
    		  </td>
    		</tr>
            <tr>
    		  <td style="vertical-align: top;">{TXT_GENERAL_TEMPLATE_SHADOWBOX}</td>
    		  <td>
    		      <textarea cols="100" rows="15" style="width: 730px; height: 200px;"  name="frmSettings_templateShadowbox">{DATA_SETTINGS_TEMPLATE_SHADOWBOX}</textarea>
    		  </td>
    		</tr>
    	</tbody>
	</table>
	<br />
	<input type="submit" value="{TXT_BUTTON_SAVE}" name="set_homecontent_submit" />
</form>
<script type="text/javascript">
/* <![CDATA[ */

setRows();

/* ]]> */
</script>
<!-- END module_data_settings.html -->
