<!-- START module_data_entries_comments.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
function deleteComment(commentId){ 
    if(confirm('{TXT_COMMENTS_DELETE_JS}')) 
        window.location.replace("?cmd=data&{CSRF_PARAM}&act=deleteComment&id="+commentId);
}

function selectMultiAction() {
	with (document.frmShowComments) {
		switch (frmShowComments_MultiAction.value) {
			case 'activate':
			case 'deactivate':
					action='?cmd=data&act=multiactionComment';
					submit();			
			break;
			case 'delete':
				if (confirm('{TXT_COMMENTS_SUBMIT_DELETE_JS}')) {
					action='?cmd=data&act=multiactionComment';
					submit();
				}
			break;
			default: //do nothing			
		}
	}
}
//]]>
</script>
<form name="frmShowComments" method="post" action="">
	<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
		<tr>
			<th colspan="8">{TXT_COMMENTS_TITLE}: {COMMENTS_SUBJECT}</th>
		</tr>
		<tr class="row3">
			<td nowrap="nowrap" width="1%"><span style="font-weight:bold;">&nbsp;&nbsp;#</span></td>
			<td nowrap="nowrap" width="1%"><span style="font-weight:bold;">&nbsp;&nbsp;</span></td>
			<td nowrap="nowrap" width="15%"><span style="font-weight:bold;">{TXT_COMMENTS_DATE}</span></td>
			<td nowrap="nowrap" width="20%"><span style="font-weight:bold;">{TXT_COMMENTS_SUBJECT}</span></td>
			<td nowrap="nowrap" width="37%"><span style="font-weight:bold;">{TXT_COMMENTS_CONTENT}</span></td>
			<td nowrap="nowrap" width="15%"><span style="font-weight:bold;">{TXT_COMMENTS_USER}</span></td>
			<td nowrap="nowrap" width="10%"><span style="font-weight:bold;">{TXT_COMMENTS_LANGUAGE}</span></td>
			<td nowrap="nowrap" width="1%"><span style="font-weight:bold;">{TXT_COMMENTS_ACTION}</span></td>
		</tr>
		<!-- BEGIN showComments -->
		<tr class="{COMMENT_ROWCLASS}">
			<td><input type="checkbox" name="selectedCommentsId[]" id="selectedCommentsId" value="{COMMENT_ID}" /></td>
			<td><a href="?cmd=data&amp;act=commentStatus&amp;id={COMMENT_ID}" target="_self"><img src="images/icons/{COMMENT_STATUS_ICON}.gif" border="0" alt="{TXT_IMGALT_STATUS}" title="{TXT_IMGALT_STATUS}" /></a></td>
			<td>{COMMENT_DATE}</td>
			<td><a href="?cmd=data&amp;act=editComment&amp;id={COMMENT_ID}" target="_self" title="{COMMENT_SUBJECT} - {TXT_IMGALT_EDIT}">{COMMENT_SUBJECT}</a></td>
			<td>{COMMENT_CONTENT}</td>
			<td>{COMMENT_USER}</td>
			<td>{COMMENT_LANGUAGE}</td>			
			<td>
				<div align="right">
					<a href="?cmd=data&amp;act=editComment&amp;id={COMMENT_ID}" target="_self" title="{TXT_IMGALT_EDIT}"><img src="images/icons/edit.gif" border="0" alt="{TXT_IMGALT_EDIT}" title="{TXT_IMGALT_EDIT}" /></a>
					<a href="javascript:deleteComment({COMMENT_ID});" target="_self" title="{TXT_IMGALT_DELETE}"><img src="images/icons/delete.gif" border="0" alt="{TXT_IMGALT_DELETE}" title="{TXT_IMGALT_DELETE}" /></a>
				</div>
			</td>
		</tr>
		<!-- END showComments -->
		<!-- BEGIN noComments -->
		<tr class="row2">
			<td colspan="8"><div align="center"><br />{TXT_COMMENTS_NONE}<br /><br /></div></td>
		</tr>	
		<!-- END noComments -->		
	</table>
	<br />
	<table cellpadding="2" cellspacing="0" border="0">
		<tr>
			<td>
				<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_COMMENTS_MARKED}:" />
				<a href="#" onclick="changeCheckboxes('frmShowComments','selectedCommentsId[]',true); return false;">{TXT_COMMENTS_SELECT_ALL}</a> / 
				<a href="#" onclick="changeCheckboxes('frmShowComments','selectedCommentsId[]',false); return false;">{TXT_COMMENTS_DESELECT_ALL}</a>
				<img src="images/icons/strike.gif" alt="" />
				<select name="frmShowComments_MultiAction" onchange="selectMultiAction();">
					<option value="0">{TXT_COMMENTS_SUBMIT_SELECT}</option>
					<option value="activate">{TXT_COMMENTS_SUBMIT_ACTIVATE}</option>
					<option value="deactivate">{TXT_COMMENTS_SUBMIT_DEACTIVATE}</option>
					<option value="delete">{TXT_COMMENTS_SUBMIT_DELETE}</option>
				</select>
			</td>
		</tr>
	</table>
</form>
<br />
<div align="center">{COMMENTS_PAGING}</div>
<br />
<input type="button" value="{TXT_COMMENTS_BUTTON_BACK}" onclick="self.location='index.php?cmd=data&{CSRF_PARAM}'" />
<!-- END module_data_entries_comments.html -->
