<!-- START module_calendar_settings.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=general" title="{TXT_CALENDAR_GLOBAL}">{TXT_CALENDAR_GLOBAL}</a></li>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=forms" title="{TXT_CALENDAR_REGISTRATION_FORMS}">{TXT_CALENDAR_REGISTRATION_FORMS}</a></li>
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=mails" title="{TXT_CALENDAR_MAIL_TEMPLATES}">{TXT_CALENDAR_MAIL_TEMPLATES}</a></li>
        <!--<li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=hosts" title="{TXT_CALENDAR_PUBLICATION}">{TXT_CALENDAR_PUBLICATION}</a></li>-->
        <!--<li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=payment" title="{TXT_CALENDAR_PAYMENT}">{TXT_CALENDAR_PAYMENT}</a></li>-->
        <li><a href="index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=settings&amp;tpl=date" title="{TXT_CALENDAR_DATE_DISPLAY}">{TXT_CALENDAR_DATE_DISPLAY}</a></li>
    </ul>
</div>
<br />
{CALENDAR_SETTINGS_CONTENT}
<br />
<!-- END module_calendar_settings.html -->