<!-- START module_calendar_event_registrations.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[    
    function selectMultiAction(containerForm) {
        console.log(containerForm.find('.selectedRegistrationId:checked').length)
        if (containerForm.find('.selectedRegistrationId:checked').length)
        {            
            if (containerForm.find('.registrationAction').val() == "delete") {
                containerForm.attr("action", "index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations&tpl={CALENDAR_EVENT_TPL}&id={CALENDAR_EVENT_ID}&multi=delete&{CALENDAR_CSRF}");
                containerForm.submit();
            }
            tpl = containerForm.find('.registrationMove').val();
            if (tpl == 'r' || tpl == 'd' || tpl == 'w') {
                containerForm.attr("action", "index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations&tpl="+ tpl +"&id={CALENDAR_EVENT_ID}&multi="+ tpl +"&{CALENDAR_CSRF}");
                containerForm.submit();
            }
        } else {
            alert("{TXT_CALENDAR_MAKE_SELECTION}");
        }

        containerForm.find(".multiAction").val(0);
    }
    
    function changeCalendarCheckboxes(objForm, inputCheckbox, do_check)
    {
        if ($J("form#"+objForm).length) {
            $form = $J("form#"+objForm);
            
            if (do_check) {
                $form.find("input.selectedRegistrationId").attr("checked", "checked");
            } else {
                $form.find("input.selectedRegistrationId").removeAttr("checked");
            }
        }
    }
    $J(function(){        
        $J(".delete_registration").click(function(){
            if (confirm('{TXT_CALENDAR_CONFIRM_DELETE_DATA}\n{TXT_CALENDAR_ACTION_IS_IRREVERSIBLE}')) {
                return true;
            }
            return false;
        });
    });
// ]]>
</script>
<div id="subnavbar_level2">
    <li><a href='index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=event_registrations&amp;id={CALENDAR_EVENT_ID}' title="{TXT_CALENDAR_SUBSCRIPTIONS}">{TXT_CALENDAR_SUBSCRIPTIONS}</a></li>
    <li><a href='index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=add_registration&amp;event_id={CALENDAR_EVENT_ID}' title="{TXT_CALENDAR_ADD}">{TXT_CALENDAR_ADD}</a></li>
    <li><a href='index.php?cmd={CALENDAR_MODULE_NAME}&amp;act=export_registrations&amp;id={CALENDAR_EVENT_ID}' title="{TXT_CALENDAR_EXPORT}">{TXT_CALENDAR_EXPORT}</a></li>
</div>
<br />
<ul id="tabmenu">
    <li><a id="regTab_registration" class="{CALENDAR_REGISTRATION_R_CONTAINER_CLASS}" href="javascript:{}" onclick="selectTab('registration');" title="{TXT_CALENDAR_REGISTRATIONS}">{TXT_CALENDAR_REGISTRATIONS}</a></li>
    <li><a id="regTab_deregistration" class="{CALENDAR_REGISTRATION_D_CONTAINER_CLASS}" href="javascript:{}" onclick="selectTab('deregistration');" title="{TXT_CALENDAR_DEREGISTRATIONS}">{TXT_CALENDAR_DEREGISTRATIONS}</a></li>
    <li><a id="regTab_waitlist" class="{CALENDAR_REGISTRATION_W_CONTAINER_CLASS}" href="javascript:{}" onclick="selectTab('waitlist');" title="{TXT_CALENDAR_WAITLIST}">{TXT_CALENDAR_WAITLIST}</a></li>    
</ul>
<!-- BEGIN calendar_registration_lists -->
<div class="regTab" id="{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}" style="display: {CALENDAR_REGISTRATION_LIST_CONTAINER_DISPLAY}">
    <form id="form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}" class="formRegistrationList" method="post" action="index.php?cmd={CALENDAR_MODULE_NAME}&act=event_registrations">
        <table style="width: 100%; border-spacing: 0px;" class="adminlist" cellspacing="0" cellpadding="3">
            <tr>
                <th colspan="{CALENDAR_COUNT_FORM_FIELDS}">
                    {TXT_CALENDAR_REGISTRATIONS_TITLE}
                </th>
            </tr>

            <tr class="row3">
                <!-- BEGIN eventRegistrationName -->
                <td {CALENDAR_REG_COL_ATTRIBUTES}>{CALENDAR_REGISTRATION_NAME}</td>
                <!-- END eventRegistrationName -->                        
            </tr>

            <!-- BEGIN eventRegistrationList -->
            <tr class="{CALENDAR_REGISTRATION_ROW}">
                <!-- BEGIN eventRegistrationValue -->
                <td>{CALENDAR_REGISTRATION_VALUE}</td>
                <!-- END eventRegistrationValue -->
            </tr>
            <!-- END eventRegistrationList -->

            <!-- BEGIN emptyEventRegistrationList -->
            <tr class="row1">
                <td colspan="9"><i>{TXT_CALENDAR_NO_REGISTRATIONS}</i></td>
            </tr>
            <!-- END emptyEventRegistrationList -->
        </table>
        <table cellpadding="2" cellspacing="0" border="0">
            <tr>
                <td style="border: 0px;">
                    <img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
                    <a href="javascript:void(0);" onclick="changeCalendarCheckboxes('form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}', 'selectedRegistrationId', true);
        return false;">{TXT_SELECT_ALL}</a> /
                    <a href="javascript:void(0);" onclick="changeCalendarCheckboxes('form_{CALENDAR_REGISTRATION_LIST_CONTAINER_ID}', 'selectedRegistrationId', false);
        return false;">{TXT_DESELECT_ALL}</a>
                    <img src="images/icons/strike.gif" alt="space" />
                    <select class="multiAction registrationAction" name="registrationAction" onchange="selectMultiAction($J(this).closest('form'));">
                        <option value="0">{TXT_SUBMIT_SELECT}</option>
                        <option value="delete">{TXT_SUBMIT_DELETE}</option>
                    </select>
                    <img src="images/icons/strike.gif" alt="space" />
                    <select class="multiAction registrationMove" name="registrationMove" onchange="selectMultiAction($J(this).closest('form'));">
                        <option value="0">{TXT_SUBMIT_MOVE}</option>
                        <option value="r">{TXT_CALENDAR_REGISTRATIONS}</option>
                        <option value="d">{TXT_CALENDAR_DEREGISTRATIONS}</option>
                        <option value="w">{TXT_CALENDAR_WAITLIST}</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- END calendar_registration_lists -->
<br/>
<input type="button" title="{TXT_CALENDAR_BACK}" value="{TXT_CALENDAR_BACK}" onclick="window.location = 'index.php?cmd={CALENDAR_MODULE_NAME}&amp;{CALENDAR_CSRF}'" />
<!-- END module_calendar_event_registrations.html -->