<!-- start module_podcast_medium_source_code.html -->
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
	<thead>
		<tr>
			<th>{PODCAST_HTML_SOURCE_CODE_OF_MEDIUM_TXT}</th>
		</tr>
		<tr class="row1">
			<td><textarea id="podcast_medium_source_code" cols="100" rows="15">{PODCAST_MEDIUM_SOURCE_CODE}</textarea></td>
		</tr>
	</thead>
</table>
<br />
<input type="button" onclick="window.location.href='index.php?cmd=podcast&{CSRF_PARAM}&amp;act=media'" value="{TXT_PODCAST_BACK}" />
<input type="button" onclick="document.getElementById('podcast_medium_source_code').focus();document.getElementById('podcast_medium_source_code').select()" value="{TXT_PODCAST_SELECT_ALL}" />
<!-- end module_podcast_medium_source_code.html -->
