<!-- start module_podcast_show_medium.html -->
<style type="text/css">
object, embed, param {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
</style>
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
	<thead>
		<tr>
			<th>{TXT_PODCAST_MEDIUM}: {PODCAST_MEDIUM_TITLE}</th>
		</tr>
	</thead>
	<tbody>
		<tr class="row1">
			<td style="margin:10px;">{PODCAST_MEDIUM_INCLUDE_CODE}</td>
		</tr>
	</tbody>
</table>
<br />
<input type="button" onclick="window.location.href='index.php?cmd=podcast&amp;{CSRF_PARAM}'" value="{TXT_PODCAST_BACK}" />
<!-- end module_podcast_show_medium.html -->
