<table id="subnavbar_level1" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="100%" class="navi">
            <!-- BEGIN tab_entry -->
            <a href="{HREF}" title="{TITLE}"<!-- BEGIN tab_active --> class="active"<!-- END tab_active -->>{TITLE}</a>
            <!-- END tab_entry -->
        </td>
        <td id="language_selection">{FRONTEND_LANG_MENU}</td>
    </tr>
</table>
<!-- BEGIN subnav -->
<div id="subnavbar_level2">
  <ul>
    <!-- BEGIN subnav_entry -->
    <li><a href="{HREF}" title="{TITLE}"<!-- BEGIN subnav_active --> class="active"<!-- END subnav_active -->>{TITLE}</a></li>
    <!-- END subnav_entry -->
  </ul>
</div>
<!-- END subnav -->
