<!-- START module_block_settings.html -->
  <form name="blockSettingsForm" action="index.php?cmd=block&amp;act=settings" method="post">
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
        <tr>
          <th colspan="2">{TXT_BLOCK_SETTINGS}</th>
        </tr>
        <tr class="row2">
          <td width="20%">{TXT_BLOCK_USE_BLOCK_SYSTEM}</td>
          <td width="20%"><input type="checkbox" name="blockUseBlockSystem" value="1" {BLOCK_USE_BLOCK_SYSTEM} /></td>
        </tr>
        <tr class="row1">
          <td width="20%">{TXT_BLOCK_USE_BLOCK_RANDOM}</td>
          <td width="80%"><input type="checkbox" name="blockUseBlockRandom" value="1" {BLOCK_USE_BLOCK_RANDOM} /></td>
        </tr>
        <tr class="row2">
          <td width="20%">{TXT_BLOCK_GLOBAL_SEPERATOR}</td>
          <td width="80%"><input type="text" name="blockSettings[blockGlobalSeperator]" value="{BLOCK_GLOBAL_SEPERATOR}" size="35" />&nbsp;{TXT_BLOCK_GLOBAL_SEPERATOR_INFO}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist" summary="block list">
      <tbody>
        <tr>
          <th colspan="2">{TXT_PLACEHOLDERS}</th>
        </tr>
        <tr class="row2">
          <td width="20%">[[BLOCK_RANDOMIZER]]</td>
          <td width="80%">{TXT_BLOCK_BLOCK_RANDOM} 1</td>
        </tr>
        <tr class="row1">
          <td width="20%">[[BLOCK_RANDOMIZER_2]]</td>
          <td width="80%">{TXT_BLOCK_BLOCK_RANDOM} 2</td>
        </tr>
        <tr class="row2">
          <td width="20%">[[BLOCK_RANDOMIZER_3]]</td>
          <td width="80%">{TXT_BLOCK_BLOCK_RANDOM} 3</td>
        </tr>
        <tr class="row1">
          <td width="20%">[[BLOCK_RANDOMIZER_4]]</td>
          <td width="80%">{TXT_BLOCK_BLOCK_RANDOM} 4</td>
        </tr>
        <tr class="row2">
          <td width="20%">[[BLOCK_GLOBAL]]</td>
          <td width="80%">{TXT_BLOCK_BLOCK_GLOBAL}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <input type="submit" name="saveSettings" value="{TXT_BLOCK_SAVE}" />
  </form>
<!-- END module_block_settings.html -->
