<!-- START gallery_edit_comment.html -->
<form name="frmEditComment" method="post" action="?cmd=gallery&amp;act=save_comment">
	<input type="hidden" name="frmEditComment_Id" value="{VALUE_COMMENT_EDIT_ID}">
	<input type="hidden" name="frmEditComment_PicId" value="{VALUE_COMMENT_EDIT_PICID}">
	<table width="100%" cellspacing="0" cellpadding="2" border="0" align="top" class="adminlist">
		<tr>
			<th colspan="2">{TXT_COMMENT_EDIT_TITLE}</th>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap" width="10%">
				<b>{TXT_COMMENT_EDIT_DATE}:</b>
			</td>
			<td width="90%">{VALUE_COMMENT_EDIT_DATE}</td>
		</tr>
		<tr class="row2">
			<td nowrap="nowrap">
				<b>{TXT_COMMENT_EDIT_IP}:</b>
			</td>
			<td>{VALUE_COMMENT_EDIT_IP}</td>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap">
				<b>{TXT_COMMENT_EDIT_NAME}:</b>
			</td>
			<td>
				<input type="text" name="frmEditComment_Name" value="{VALUE_COMMENT_EDIT_NAME}" style="width:250px">
			</td>
		</tr>
		<tr class="row2">
			<td nowrap="nowrap">
				<b>{TXT_COMMENT_EDIT_EMAIL}:</b>
			</td>
			<td>
				<input type="text" name="frmEditComment_Email" value="{VALUE_COMMENT_EDIT_EMAIL}" style="width:250px">
			</td>
		</tr>
		<tr class="row1">
			<td nowrap="nowrap">
				<b>{TXT_COMMENT_EDIT_HOMEPAGE}:</b>
			</td>
			<td>
				<input type="text" name="frmEditComment_Homepage"  value="{VALUE_COMMENT_EDIT_HOMEPAGE}" style="width:250px">
			</td>
		</tr>
		<tr class="row2">
			<td nowrap="nowrap" valign="top">
				<b>{TXT_COMMENT_EDIT_TEXT}:</b>
			</td>
			<td>
				<textarea name="frmEditComment_Text" style="width:400px; height:80px;">{VALUE_COMMENT_EDIT_TEXT}</textarea>
			</td>
		</tr>
		<tr class="row1">
			<td>&nbsp;</td>
			<td>
				<input type="submit" name="frmEditComment_Submit" value="{TXT_COMMENT_EDIT_SUBMIT}">
			</td>
		</tr>
	</table>
</form>
<!-- END gallery_edit_comment.html -->
