$off-canvas-width: rem-calc(260) !default;
$off-canvas-background: $color-background !default;
$off-canvas-border-right: rem-calc(6) solid $color-lines !default;

$off-canvas-font-size: rem-calc(30) !default;
$off-canvas-text-align: center !default;
$off-canvas-text-decoration-hover: none !default;
$off-canvas-font-weight-active: bold !default;

$off-canvas-list-item-border-bottom: rem-calc(4) solid $color-lines !default;

$off-canvas-link-height: rem-calc(60) !default;
