<!-- START module_blog_entries_add.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
arrTabToDiv = new Object();
{EDIT_JS_TAB_TO_DIV}

function switchBoxAndTab(objElement, strTabId) {
    
    if (countActiveLanguages() == 0) {
        //We just "unchecked" the last language, disallow this
        objElement.checked = true;	
    } else {
        //There are more active languages, hide the tab
        switchTabVisibility(strTabId);
    }
    
    //Now make sure that a possible div is shown
    activateAnyActiveDiv();
}

function switchTabVisibility(strTabId) {
    if (document.getElementById(strTabId).style.display == 'none') {
        document.getElementById(strTabId).style.display = 'inline';
    } else {
        document.getElementById(strTabId).style.display = 'none';
    }
}


function countActiveLanguages() {
    var activeLanguages = 0;
    
    for (var h=0; h < document.forms.length;h++) {
        for (var i=0; i < document.forms[h].elements.length;i++) {
            //read out all form-elements with the loop
            if(document.forms[h].elements[i].name.search('frmEditEntry_Languages') != -1) {
                if(document.forms[h].elements[i].checked) {
                    activeLanguages++;
                }
            }
        }
    }	
    
    return activeLanguages;
}

function activateAnyActiveDiv() {
    //Deactivate every div first first
    for (var TabName in arrTabToDiv) {
        document.getElementById(TabName).className = 'inactive';
        document.getElementById(arrTabToDiv[TabName]).style.display = 'none';
    }
    
    //Activate the first possible div with an acitvated checkbox
    for (var TabName in arrTabToDiv) {
        if (document.getElementById(TabName).style.display == 'inline') {
            document.getElementById(TabName).className = 'active';
            document.getElementById(arrTabToDiv[TabName]).style.display = 'inline';
            break;
        }
    }	
}

//Following Functions are needed for Picture-Selection -------------------------------------------------------------
function SetUrl(url, width, height, alt) {
    document.getElementById(newsElInsertBox).value = url;
}

function newsGetFileBrowser(elInsertBox) {
    newsElInsertBox = elInsertBox;
    openWindow('?cmd=fileBrowser&{CSRF_PARAM}&standalone=true&type=blog','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
}

function openWindow(theURL,winName,features){
    blogPopup = window.open(theURL,"Blog",features);
    blogPopup.focus();
}
//]]>
</script>
<form name="frmEditEntry" method="post" action="{EDIT_POST_ACTION}">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_EDIT_LANGUAGES}</th>
        </tr>
        <tr class="row1">
            <td width="10%">{TXT_EDIT_LANGUAGES}</td>
            <td width="10%" valign="top">{EDIT_LANGUAGES_1}</td>
            <td width="10%" valign="top">{EDIT_LANGUAGES_2}</td>
            <td width="70%" valign="top">{EDIT_LANGUAGES_3}</td>
        </tr>
    </table>
    <br />
    <ul id="tabmenu">
        <!-- BEGIN showLanguageTabs -->
        <li><a id="{TABS_LINK_ID}" class="{TABS_CLASS}" href="javascript:{}" onclick="selectTab('{TABS_DIV_ID}')" title="{TABS_NAME}" style="{TABS_DISPLAY_STYLE}">{TABS_NAME}</a></li>
        <!-- END showLanguageTabs -->
    </ul>
    <!-- BEGIN showLanguageDivs -->
    <div id="{DIV_ID}" class="addEntry" style="{DIV_DISPLAY_STYLE}">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{DIV_TITLE}</th>
        </tr>
        <tr class="row2">
            <td>{TXT_DIV_SUBJECT}</td>
            <td colspan="3"><input type="text" name="frmEditEntry_Subject_{DIV_LANGUAGE_ID}" value="{DIV_SUBJECT}" maxlength="250" style="width:30%;" /></td>
        </tr>
        <tr class="row1">
            <td>{TXT_DIV_KEYWORDS}</td>
            <td colspan="3"><input type="text" name="frmEditEntry_Keywords_{DIV_LANGUAGE_ID}" value="{DIV_KEYWORDS}" maxlength="250" style="width:30%;" /></td>
        </tr>
        <tr class="row2">
            <td>{TXT_DIV_IMAGE}</td>
            <td colspan="3"><input type="text" name="frmEditEntry_Image_{DIV_LANGUAGE_ID}" id="frmEditEntry_Image_{DIV_LANGUAGE_ID}" style="width:30%;" value="{DIV_IMAGE}" />&nbsp;<input type="button" value="{TXT_DIV_IMAGE_BROWSE}" onclick="newsGetFileBrowser('frmEditEntry_Image_{DIV_LANGUAGE_ID}', 'image')" /></td>
        </tr>
        <tr class="row1">
            <td width="10%" valign="top">{TXT_DIV_CATEGORIES}</td>
            <td width="10%" valign="top">{DIV_CATEGORIES_1}</td>
            <td width="10%" valign="top">{DIV_CATEGORIES_2}</td>
            <td width="70%" valign="top">{DIV_CATEGORIES_3}</td>
        </tr>
        <tr class="row2 reset">
            <td colspan="4">{DIV_CONTENT}</td>
        </tr>
    </table>
    </div>
    <!-- END showLanguageDivs -->
    <br />
    <input type="hidden" name="frmEditCategory_MessageId" value="{EDIT_MESSAGE_ID}" />
    <input type="submit" value="{TXT_EDIT_SUBMIT}" name="frmEditCategory_Submit" />
</form>
<!-- END module_blog_entries_add.html -->
