<!-- START module_blog_entries_comments_edit.html -->
<form name="frmEditComment" method="post" action="?cmd=blog&amp;act=updateComment">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_COMMENT_EDIT_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="10%">{TXT_COMMENT_EDIT_DATE}</td>
            <td width="90%">{COMMENT_EDIT_DATE}</td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENT_EDIT_IP}</td>
            <td>{COMMENT_EDIT_IP}</td>
        </tr>
        <tr class="row2">
            <td>{TXT_COMMENT_EDIT_USER_STATUS}</td>
            <td>{COMMENT_USER_STATUS}</td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENT_EDIT_USER_NAME}</td>
            <td>{COMMENT_USER_NAME}</td>
        </tr>
        <tr class="row2">
            <td>{TXT_COMMENT_EDIT_USER_MAIL}</td>
            <td>{COMMENT_USER_MAIL}</td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENT_EDIT_USER_WWW}</td>
            <td>{COMMENT_USER_WWW}</td>
        </tr>
        <tr class="row2">
            <td>{TXT_COMMENT_EDIT_SUBJECT}</td>
            <td><input type="text" name="frmEditComment_Subject" value="{COMMENT_SUBJECT}" maxlength="250" style="width:30%;" /></td>
        </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th>{TXT_COMMENT_EDIT_CONTENT}</th>
        </tr>
        <tr class="row2 reset">
            <td width="100%">{COMMENT_CONTENT}</td>
        </tr>
    </table>
    <br />
    <input type="hidden" name="frmEditComment_Id" value="{COMMENT_EDIT_ID}" />
    <input type="submit" value="{TXT_COMMENT_EDIT_SUBMIT}" />
</form>
<!-- END module_blog_entries_comments_edit.html -->
