<!-- START module_blog_settings_placeholders.html -->
<div class="infobox_head">{TXT_USAGE_TITLE}</div>
<div class="infobox_body">{TXT_USAGE_HELP}</div>
<br />
<ul id="tabmenu">
    <li><a id="block_General" class="active" href="javascript:{}" onclick="selectTab('General')" title="{TXT_GENERAL_TITLE}">{TXT_GENERAL_TITLE}</a></li>
    <li><a id="block_Entry" class="inactive" href="javascript:{}" onclick="selectTab('Entry')" title="{TXT_ENTRY_TITLE}">{TXT_ENTRY_TITLE}</a></li>
    <li><a id="block_Category" class="inactive" href="javascript:{}" onclick="selectTab('Category')" title="{TXT_CATEGORY_TITLE}">{TXT_CATEGORY_TITLE}</a></li>
</ul>
<div id="General" class="block" style="display: active;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_GENERAL_TITLE}</th>
        </tr>
        <tr class="row1">
            <td width="15%">[[BLOG_CALENDAR]]</td>
            <td width="85%">{TXT_GENERAL_CALENDAR}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_CATEGORIES_SELECT]]</td>
            <td>{TXT_GENERAL_CATEGORIES_SELECT}</td>
        </tr>
        <tr class="row1">
            <td>[[BLOG_CATEGORIES_LIST]]</td>
            <td>{TXT_GENERAL_CATEGORIES_LIST}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_TAG_CLOUD]]</td>
            <td>{TXT_GENERAL_TAGCLOUD}</td>
        </tr>
        <tr class="row1">
            <td>[[BLOG_TAG_HITLIST]]</td>
            <td>{TXT_GENERAL_TAGHITLIST}</td>
        </tr>
    </table>
</div>
<div id="Entry" class="block" style="display: none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_ENTRY_TITLE} ({TXT_TEXT})</th>
        </tr>
        <tr class="row1">
            <td width="15%">[[TXT_BLOG_ENTRY_CATEGORIES]]</td>
            <td width="35%">{TXT_ENTRY_TEXT_CATEGORIES}</td>
            <td width="15%">[[TXT_BLOG_ENTRY_TAGS]]</td>
            <td width="35%">{TXT_ENTRY_TEXT_TAGS}</td>
        </tr>
        <tr class="row2">
            <td>[[TXT_BLOG_ENTRY_VOTING]]</td>
            <td>{TXT_ENTRY_TEXT_VOTINGS}</td>
            <td>[[TXT_BLOG_ENTRY_COMMENTS]]</td>
            <td>{TXT_ENTRY_TEXT_COMMENTS}</td>
        </tr>
        <tr class="row1">
            <td>[[TXT_BLOG_ENTRY_LINK]]</td>
            <td>{TXT_ENTRY_TEXT_LINK}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_ENTRY_TITLE} ({TXT_CONTENT})</th>
        </tr>
        <tr class="row1">
            <td width="15%">[[BLOG_ENTRY_ROWCLASS]]</td>
            <td width="35%">{TXT_ENTRY_CONTENT_ROWCLASS}</td>
            <td width="15%">[[BLOG_ENTRY_ID]]</td>
            <td width="35%">{TXT_ENTRY_CONTENT_ID}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_ENTRY_SUBJECT]]</td>
            <td>{TXT_ENTRY_CONTENT_SUBJECT}</td>
            <td>[[BLOG_ENTRY_LINK]]</td>
            <td>{TXT_ENTRY_CONTENT_LINK}</td>
        </tr>
        <tr class="row1">
            <td>[[BLOG_ENTRY_DATE]]</td>
            <td>{TXT_ENTRY_CONTENT_DATE}</td>
            <td>[[BLOG_ENTRY_POSTED_BY]]</td>
            <td>{TXT_ENTRY_CONTENT_POSTEDBY}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_ENTRY_INTRODUCTION]]</td>
            <td>{TXT_ENTRY_CONTENT_INTRODUCTION}</td>
            <td>[[BLOG_ENTRY_CONTENT]]</td>
            <td>{TXT_ENTRY_CONTENT_CONTENT}</td>
        </tr>
        <tr class="row1">
            <td>[[BLOG_ENTRY_AUTHOR_ID]]</td>
            <td>{TXT_ENTRY_CONTENT_AUTHOR_ID}</td>
            <td>[[BLOG_ENTRY_AUTHOR_NAME]]</td>
            <td>{TXT_ENTRY_CONTENT_AUTHOR_NAME}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_ENTRY_CATEGORIES]]</td>
            <td>{TXT_ENTRY_CONTENT_CATEGORIES}</td>
            <td>[[BLOG_ENTRY_TAGS]]</td>
            <td>{TXT_ENTRY_CONTENT_TAGS}</td>
        </tr>
        <tr class="row1">
            <td>[[BLOG_ENTRY_VOTING]]</td>
            <td>{TXT_ENTRY_CONTENT_VOTING}</td>
            <td>[[BLOG_ENTRY_VOTING_STARS]]</td>
            <td>{TXT_ENTRY_CONTENT_STARS}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_ENTRY_COMMENTS]]</td>
            <td>{TXT_ENTRY_CONTENT_COMMENTS}</td>
            <td>[[BLOG_ENTRY_IMAGE]]</td>
            <td>{TXT_ENTRY_CONTENT_IMAGE}</td>
        </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th>{TXT_EXAMPLE}</th>
        </tr>
        <tr class="row1">
            <td>
            <textarea name="EntryExample" rows="12" cols="80" style="width:100%;">
&lt;!-- BEGIN blogBlockEntries --&gt;
&lt;h2 class=&quot;blogTitle&quot;&gt;&lt;a href=&quot;index.php?section=blog&amp;cmd=details&amp;amp;id=[[BLOG_ENTRY_ID]]&quot; title=&quot;[[BLOG_ENTRY_SUBJECT]]&quot;&gt;[[BLOG_ENTRY_SUBJECT]]&lt;/a&gt;&lt;/h2&gt;
&lt;h4 class=&quot;blogPostedBy&quot;&gt;[[BLOG_ENTRY_POSTED_BY]]&lt;/h4&gt;
&lt;br /&gt;
&lt;div align=&quot;justify&quot;&gt;&lt;em&gt;[[BLOG_ENTRY_INTRODUCTION]]&lt;/em&gt;&lt;/div&gt;&lt;br /&gt;
&amp;bull;&amp;nbsp;&lt;strong&gt;[[TXT_BLOG_ENTRY_CATEGORIES]]:&lt;/strong&gt;&amp;nbsp;&amp;nbsp;[[BLOG_ENTRY_CATEGORIES]]&lt;br /&gt;
&amp;bull;&amp;nbsp;&lt;strong&gt;[[TXT_BLOG_ENTRY_TAGS]]:&lt;/strong&gt;&amp;nbsp;&amp;nbsp;[[BLOG_ENTRY_TAGS]]&lt;br /&gt;
&amp;bull;&amp;nbsp;&lt;strong&gt;[[TXT_BLOG_ENTRY_VOTING]]:&lt;/strong&gt;&amp;nbsp;&amp;nbsp;[[BLOG_ENTRY_VOTING_STARS]]&amp;nbsp;(&lt;a href=&quot;index.php?section=blog&amp;cmd=details&amp;id=[[BLOG_ENTRY_ID]]#voting&quot; title=&quot;[[TXT_BLOG_ENTRY_VOTING]]&quot;&gt;[[BLOG_ENTRY_VOTING]]&lt;/a&gt;)&lt;br /&gt;
&amp;bull;&amp;nbsp;&lt;strong&gt;[[TXT_BLOG_ENTRY_COMMENTS]]:&lt;/strong&gt;&amp;nbsp;&amp;nbsp;&lt;a href=&quot;index.php?section=blog&amp;cmd=details&amp;id=[[BLOG_ENTRY_ID]]#comments&quot; title=&quot;[[TXT_BLOG_ENTRY_COMMENTS]]&quot;&gt;[[BLOG_ENTRY_COMMENTS]]&lt;/a&gt;&lt;br /&gt;
&amp;bull;&amp;nbsp;&lt;strong&gt;[[TXT_BLOG_ENTRY_LINK]]:&lt;/strong&gt;&amp;nbsp;&amp;nbsp;[[BLOG_ENTRY_LINK]]&lt;br /&gt;&lt;br /&gt;
&lt;!-- END blogBlockEntries --&gt;
            </textarea>
            </td>
        </tr>
    </table>
</div>
<div id="Category" class="block" style="display: none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="4">{TXT_CATEGORY_TITLE} ({TXT_CONTENT})</th>
        </tr>
        <tr class="row1">
            <td width="15%">[[BLOG_CATEGORY_ID]]</td>
            <td width="35%">{TXT_CATEGORY_CONTENT_ID}</td>
            <td width="15%">[[BLOG_CATEGORY_NAME]]</td>
            <td width="35%">{TXT_CATEGORY_CONTENT_NAME}</td>
        </tr>
        <tr class="row2">
            <td>[[BLOG_CATEGORY_COUNT]]</td>
            <td>{TXT_CATEGORY_CONTENT_COUNT}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <br />
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th>{TXT_EXAMPLE}</th>
        </tr>
        <tr class="row1">
            <td>
            <textarea name="EntryExample" cols="80" rows="12" style="width:100%;">
&lt;!-- BEGIN blogBlockCategories --&gt;
&amp;bull;&amp;nbsp;&lt;a href=&quot;index.php?section=blog&amp;cmd=search&amp;category=[[BLOG_CATEGORY_ID]]&quot;&gt;[[BLOG_CATEGORY_NAME]]&amp;nbsp;([[BLOG_CATEGORY_COUNT]])&lt;/a&gt;&lt;br /&gt;
&lt;!-- END blogBlockCategories --&gt;
            </textarea>
            </td>
        </tr>
    </table>
</div>
<br />
<!-- END module_blog_settings_placeholders.html -->