<!-- START module_blog_networks_edit.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
//Following Functions are needed for Picture-Selection -------------------------------------------------------------
function SetUrl(url, width, height, alt) {
	document.getElementById(newsElInsertBox).value = url;
}

function newsGetFileBrowser(elInsertBox) {
	newsElInsertBox = elInsertBox;
	openWindow('?cmd=fileBrowser&{CSRF_PARAM}&standalone=true&type=blog','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
}

function openWindow(theURL,winName,features){
	blogPopup = window.open(theURL,"Blog",features);
	blogPopup.focus();
}
//]]>
</script>
<form name="frmEditNetwork" method="post" action="index.php?cmd=blog&amp;act=updateNetwork">
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
			<tr>
				<th colspan="4">{TXT_EDIT_TITLE}</th>
			</tr>
			<tr class="row2">
				<td>{TXT_EDIT_NAME}</td>
				<td colspan="3"><input type="text" name="frmEditNetwork_Name" value="{EDIT_NAME}" maxlength="250" style="width:30%;" /></td>
			</tr>
			<tr class="row1">
				<td>{TXT_EDIT_WWW}</td>
				<td colspan="3"><input type="text" name="frmEditNetwork_WWW" value="{EDIT_WWW}" maxlength="255" style="width:30%;" /></td>
			</tr>
			<tr class="row2">
				<td>{TXT_EDIT_SUBMIT_URL}</td>
				<td colspan="3"><input type="text" name="frmEditNetwork_SubmitUrl" value="{EDIT_URL}" maxlength="255" style="width:30%;" /></td>
			</tr>
			<tr class="row1">
				<td>{TXT_EDIT_ICON}</td>
				<td colspan="3"><input type="text" name="frmEditNetwork_Icon" id="frmEditNetwork_Icon" value="{EDIT_ICON}" maxlength="255" style="width:30%;" />&nbsp;<input type="button" name="frmEditNetwork_IconButton" value="{TXT_EDIT_BROWSE}" onclick="newsGetFileBrowser('frmEditNetwork_Icon', 'image')" /></td>
			</tr>
			<tr class="row2">
				<td width="10%">{TXT_EDIT_LANGUAGES}</td>
				<td width="10%" valign="top">{EDIT_LANGUAGES_1}</td>
				<td width="10%" valign="top">{EDIT_LANGUAGES_2}</td>
				<td width="70%" valign="top">{EDIT_LANGUAGES_3}</td>
			</tr>
		</table>
		<br />
		<input type="hidden" name="frmEditNetwork_Id" value="{EDIT_ID}" />
		<input type="submit" name="frmEditNetwork_Submit" value="{TXT_EDIT_SUBMIT}" />
</form>
<!-- END module_blog_networks_edit.html -->
