<!-- START module_blog_networks.html -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
function deleteNetwork(networkId){ 
    if(confirm('{TXT_OVERVIEW_DELETE_NETWORK_JS}')) 
        window.location.replace("?cmd=blog&{CSRF_PARAM}&act=deleteNetwork&id="+networkId);
}

function selectMultiAction() {
	with (document.frmShowNetworks) {
		switch (frmShowNetworks_MultiAction.value) {
			case 'delete':
				if (confirm('{TXT_OVERVIEW_SUBMIT_DELETE_JS}')) {
					action='?cmd=blog&act=multiactionNetwork';
					submit();
				}
			break;
			default: //do nothing			
		}
	}
}

//Following Functions are needed for Picture-Selection -------------------------------------------------------------
function SetUrl(url, width, height, alt) {
	document.getElementById(newsElInsertBox).value = url;
}

function newsGetFileBrowser(elInsertBox) {
	newsElInsertBox = elInsertBox;
	openWindow('?cmd=fileBrowser&{CSRF_PARAM}&standalone=true&type=blog','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
}

function openWindow(theURL,winName,features){
	blogPopup = window.open(theURL,"Blog",features);
	blogPopup.focus();
}
//]]>
</script>

<ul id="tabmenu">
	<li><a id="networks_Overview" class="active" href="javascript:{}" onclick="selectTab('Overview')" title="{TXT_OVERVIEW_TITLE}">{TXT_OVERVIEW_TITLE}</a></li>
	<li><a id="networks_AddNetwork" class="inactive" href="javascript:{}" onclick="selectTab('AddNetwork')" title="{TXT_ADD_TITLE}">{TXT_ADD_TITLE}</a></li>
</ul>

<div id="Overview" class="networks" style="display: block;">
	<form name="frmShowNetworks" method="post" action="">
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
			<tr>
				<th colspan="6">{TXT_OVERVIEW_TITLE}</th>
			</tr>
			<tr class="row3">
				<td nowrap="nowrap" width="2%"><span style="font-weight:bold;">&nbsp;&nbsp;#</span></td>
				<td nowrap="nowrap" width="2%"><span style="font-weight:bold;">&nbsp;</span></td>
				<td nowrap="nowrap" width="15%"><span style="font-weight:bold;">{TXT_OVERVIEW_SUBTITLE_NAME}</span></td>
				<td nowrap="nowrap" width="50%"><span style="font-weight:bold;">{TXT_OVERVIEW_SUBTITLE_URL}</span></td>
				<td nowrap="nowrap" width="30%"><span style="font-weight:bold;">{TXT_OVERVIEW_SUBTITLE_LANGUAGES}</span></td>
				<td nowrap="nowrap" width="1%"><div align="right"><span style="font-weight:bold;">{TXT_OVERVIEW_SUBTITLE_ACTIONS}</span></div></td>
			</tr>
			<!-- BEGIN showNetworks -->
			<tr class="{OVERVIEW_NETWORK_ROWCLASS}">
				<td><input type="checkbox" name="selectedNetworksId[]" value="{OVERVIEW_NETWORK_ID}" /></td>
				<td>{OVERVIEW_NETWORK_ICON}</td>
				<td><a href="?cmd=blog&amp;act=editNetwork&amp;id={OVERVIEW_NETWORK_ID}" target="_self" title="{TXT_OVERVIEW_IMGALT_EDIT}">{OVERVIEW_NETWORK_NAME}</a></td>
				<td>{OVERVIEW_NETWORK_URL}</td>
				<td>{OVERVIEW_NETWORK_LANGUAGES}</td>
				<td nowrap="nowrap">
					<div align="right">
						<a href="?cmd=blog&amp;act=editNetwork&amp;id={OVERVIEW_NETWORK_ID}" target="_self" title="{TXT_OVERVIEW_IMGALT_EDIT}"><img src="images/icons/edit.gif" border="0" alt="{TXT_OVERVIEW_IMGALT_EDIT}" title="{TXT_OVERVIEW_IMGALT_EDIT}" /></a>
						<a href="javascript:deleteNetwork({OVERVIEW_NETWORK_ID});" target="_self" title="{TXT_OVERVIEW_IMGALT_DELETE}"><img src="images/icons/delete.gif" border="0" alt="{TXT_OVERVIEW_IMGALT_DELETE}" title="{TXT_OVERVIEW_IMGALT_DELETE}" /></a> 
					</div>
				</td>
			</tr>
			<!-- END showNetworks -->
			<!-- BEGIN noNetworks -->
			<tr class="row2">
				<td colspan="6"><div align="center"><br />{TXT_OVERVIEW_NO_NETWORKS_FOUND}<br /><br /></div></td>
			</tr>
			<!-- END noNetworks -->
		</table>
		<br />
		<table cellpadding="2" cellspacing="0" border="0">
			<tr>
				<td>
					<img src="images/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_OVERVIEW_MARKED}:" />
					<a href="#" onclick="changeCheckboxes('frmShowNetworks','selectedNetworksId[]',true); return false;">{TXT_OVERVIEW_SELECT_ALL}</a> / 
					<a href="#" onclick="changeCheckboxes('frmShowNetworks','selectedNetworksId[]',false); return false;">{TXT_OVERVIEW_DESELECT_ALL}</a>
					<img src="images/icons/strike.gif" alt="" />
					<select name="frmShowNetworks_MultiAction" onchange="selectMultiAction();">
						<option value="0">{TXT_OVERVIEW_SUBMIT_SELECT}</option>
						<option value="delete">{TXT_OVERVIEW_SUBMIT_DELETE}</option>
					</select>
				</td>
			</tr>
		</table>
	</form>
	<br />
	<div align="center">{OVERVIEW_PAGING}</div>	
</div>

<div id="AddNetwork" class="networks" style="display: none;">
	<form name="frmAddNetwork" method="post" action="index.php?cmd=blog&amp;act=insertNetwork">
		<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
			<tr>
				<th colspan="4">{TXT_ADD_TITLE}</th>
			</tr>
			<tr class="row2">
				<td>{TXT_ADD_NAME}</td>
				<td colspan="3"><input type="text" name="frmAddNetwork_Name" value="" maxlength="250" style="width:30%;" /></td>
			</tr>
			<tr class="row1">
				<td>{TXT_ADD_WWW}</td>
				<td colspan="3"><input type="text" name="frmAddNetwork_WWW" value="" maxlength="255" style="width:30%;" /></td>
			</tr>
			<tr class="row2">
				<td>{TXT_ADD_SUBMIT_URL}</td>
				<td colspan="3"><input type="text" name="frmAddNetwork_SubmitUrl" value="" maxlength="255" style="width:30%;" /></td>
			</tr>
			<tr class="row1">
				<td>{TXT_ADD_ICON}</td>
				<td colspan="3"><input type="text" name="frmAddNetwork_Icon" id="frmAddNetwork_Icon" value="" maxlength="255" style="width:30%;" />&nbsp;<input type="button" name="frmAddNetwork_IconButton" value="{TXT_ADD_BROWSE}" onclick="newsGetFileBrowser('frmAddNetwork_Icon', 'image')" /></td>
			</tr>
			<tr class="row2">
				<td width="10%">{TXT_ADD_LANGUAGES}</td>
				<td width="10%" valign="top">{ADD_LANGUAGES_1}</td>
				<td width="10%" valign="top">{ADD_LANGUAGES_2}</td>
				<td width="70%" valign="top">{ADD_LANGUAGES_3}</td>
			</tr>
		</table>
		<br />
		<input type="submit" name="frmAddNetwork_Submit" value="{TXT_ADD_SUBMIT}" />
	</form>
</div>
<!-- END module_blog_networks.html -->
