<!-- START module_blog_settings_general.html -->
<form name="frmSettings" method="post" action="index.php?cmd=blog&amp;act=settings&amp;tpl=saveGeneral">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_GENERAL_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_GENERAL_INTRODUCTION}</td>
            <td width="85%">
                <input type="text" name="frmSettings_GeneralIntroduction" value="{BLOG_SETTINGS_GENERAL_INTRODUCTION}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_GENERAL_INTRODUCTION_HELP}</span>
            </td>
        </tr>
    </table>
    <br />	
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_COMMENTS_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_COMMENTS_ALLOW}</td>
            <td width="85%">
                <input type="radio" name="frmSettings_CommentsAllow" value="1" {BLOG_SETTINGS_COMMENTS_ALLOW_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_CommentsAllow" value="0" {BLOG_SETTINGS_COMMENTS_ALLOW_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_HELP}</span>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENTS_ALLOW_ANONYMOUS}</td>
            <td>
                <input type="radio" name="frmSettings_CommentsAllowAnonymous" value="1" {BLOG_SETTINGS_COMMENTS_ALLOW_ANONYMOUS_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_CommentsAllowAnonymous" value="0" {BLOG_SETTINGS_COMMENTS_ALLOW_ANONYMOUS_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_ALLOW_ANONYMOUS_HELP}</span>
            </td>
        </tr>
        <tr class="row2">
            <td>{TXT_COMMENTS_AUTO_ACTIVATE}</td>
            <td>
                <input type="radio" name="frmSettings_CommentsAutoActivate" value="1" {BLOG_SETTINGS_COMMENTS_AUTO_ACTIVATE_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_CommentsAutoActivate" value="0" {BLOG_SETTINGS_COMMENTS_AUTO_ACTIVATE_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_AUTO_ACTIVATE_HELP}</span>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENTS_NOTIFICATION}</td>
            <td>
                <input type="radio" name="frmSettings_CommentsNotification" value="1" {BLOG_SETTINGS_COMMENTS_NOTIFICATION_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_CommentsNotification" value="0" {BLOG_SETTINGS_COMMENTS_NOTIFICATION_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_NOTIFICATION_HELP}</span>
            </td>
        </tr>
        <tr class="row2">
            <td>{TXT_COMMENTS_TIMEOUT}</td>
            <td>
                <input type="text" name="frmSettings_CommentsTimeout" value="{BLOG_SETTINGS_COMMENTS_TIMEOUT}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_TIMEOUT_HELP}</span>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_COMMENTS_EDITOR}</td>
            <td>
                <input type="radio" name="frmSettings_CommentsEditor" value="wysiwyg" {BLOG_SETTINGS_COMMENTS_EDITOR_WYSIWYG} />&nbsp;{TXT_COMMENTS_EDITOR_WYSIWYG}&nbsp;<input type="radio" name="frmSettings_CommentsEditor" value="textarea" {BLOG_SETTINGS_COMMENTS_EDITOR_TEXTAREA} />&nbsp;{TXT_COMMENTS_EDITOR_TEXTAREA}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_COMMENTS_EDITOR_HELP}</span>
            </td>
        </tr>
    </table>
    <br />	
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_VOTING_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_VOTING_ALLOW}</td>
            <td width="85%">
                <input type="radio" name="frmSettings_VotingAllow" value="1" {BLOG_SETTINGS_VOTING_ALLOW_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_VotingAllow" value="0" {BLOG_SETTINGS_VOTING_ALLOW_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_VOTING_ALLOW_HELP}</span>
            </td>
        </tr>
    </table>
    <br />	
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_TAG_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_TAG_HITLIST}</td>
            <td width="85%">
                <input type="text" name="frmSettings_TagHitlist" value="{BLOG_SETTINGS_TAG_HITLIST}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_TAG_HITLIST_HELP}</span>
            </td>
        </tr>
    </table>	
    <br />		
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_RSS_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_RSS_ACTIVATE}</td>
            <td width="85%">
                <input type="radio" name="frmSettings_RssActivated" value="1" {BLOG_SETTINGS_RSS_ACTIVATE_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_RssActivated" value="0" {BLOG_SETTINGS_RSS_ACTIVATE_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_RSS_ACTIVATE_HELP}</span>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_RSS_MESSAGES}</td>
            <td>
                <input type="text" name="frmSettings_RssNumberOfMessages" value="{BLOG_SETTINGS_RSS_MESSAGES}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_RSS_MESSAGES_HELP}</span>
            </td>
        </tr>
        <tr class="row2">
            <td>{TXT_RSS_COMMENTS}</td>
            <td>
                <input type="text" name="frmSettings_RssNumberOfComments" value="{BLOG_SETTINGS_RSS_COMMENTS}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_RSS_COMMENTS_HELP}</span>
            </td>
        </tr>
    </table>		
    <br />
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_BLOCK_TITLE}</th>
        </tr>
        <tr class="row2">
            <td width="15%">{TXT_BLOCK_ACTIVATE}</td>
            <td width="85%">
                <input type="radio" name="frmSettings_BlockActivated" value="1" {BLOG_SETTINGS_BLOCK_ACTIVATE_ON} />&nbsp;{TXT_ACTIVATED}&nbsp;<input type="radio" name="frmSettings_BlockActivated" value="0" {BLOG_SETTINGS_BLOCK_ACTIVATE_OFF} />&nbsp;{TXT_DEACTIVATED}&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_BLOCK_ACTIVATE_HELP}</span>
            </td>
        </tr>
        <tr class="row1">
            <td>{TXT_BLOCK_MESSAGES}</td>
            <td>
                <input type="text" name="frmSettings_BlockNumberOfMessages" value="{BLOG_SETTINGS_BLOCK_MESSAGES}"  maxlength="50" style="width:30%;"  />&nbsp;
                <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_BLOCK_MESSAGES_HELP}</span>
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="{TXT_BUTTON_SAVE}" name="set_homecontent_submit" />
</form>
<!-- END module_blog_settings_general.html -->
