.news-teaser {
  position: relative; // for positioning of the date
  padding: $news-teaser-padding;

  background: $news-teaser-background;

  margin-bottom: $news-teaser-margin-bottom;

  // the cursor should indicate that the whole box is clickable
  cursor: pointer;
}

.news-teaser-title {
  margin-top: 0; // remove standard h3 margin-top -> headline is always on top of box
}

.news-teaser-date {
  position: absolute;
  top: $news-teaser-date-offset-top;
  right: $news-teaser-date-offset-right;

  font-size: $news-teaser-date-font-size;
}

.news-teaser-text {
  .icon-arrow {
    background-position: $news-teaser-button-icon-position;
    background-size: $news-teaser-button-icon-size;
    padding-right: $news-teaser-button-icon-padding-right;
  }
}

