<!-- START module_directory_entry_add.html -->

{DIRECTORY_JAVASCRIPT}

<form name="addForm" enctype="multipart/form-data" method="post" action="index.php?cmd=directory&amp;act=editfile" onSubmit="{DIRECTORY_FORM_ONSUBMIT}">
<input type="hidden" name="edit_id" size="10" value="{ID}" />
  <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
    <tr>
      <th colspan="2">{TXT_EDIT_ENTREE}</th>
    </tr>
    <tr class="row1">
      <td width="150" valign="top">{TXT_CATEGORY}:<font color="red">*</font></td>
      <td>
        <table width="100%" border="0">
		  <tr>
		    <td width="210">
		      <select name="notSelectedCat[]" size="12" style="width:200px;" multiple="multiple">
		          {CATEGORY_DESELECTED}
		      </select>
		    </td>
		    <td width="50">
		      <div align="center">
                <input type="button" value="&gt;&gt;" name="addCat" onclick="move(document.addForm.elements['notSelectedCat[]'],document.addForm.elements['selectedCat[]'],addCat,removeCat);" />
                <br />
                <input type="button" value="&lt;&lt;" name="removeCat" onclick="move(document.addForm.elements['selectedCat[]'],document.addForm.elements['notSelectedCat[]'],removeCat,addCat);" />
              </div>
		    </td>
		    <td>
		      <div align="left">
		        <select name="selectedCat[]" size="12" style="width:200px;" multiple="multiple">
		        	{CATEGORY_SELECTED}
		        </select>
		      </div>
		    </td>
		  </tr>
		</table>
      </td>
    </tr>
    <!-- BEGIN levels -->
    <tr class="row2">
      <td width="150" valign="top">{TXT_LEVEL}:<font color="red">*</font></td>
      <td>
        <table width="100%" border="0">
		  <tr>
		    <td width="210">
		      <select name="notSelectedLevel[]" size="12" style="width:200px;" multiple="multiple">
		          {LEVEL_DESELECTED}
		      </select>
		    </td>
		    <td width="50">
		      <div align="center">
                <input type="button" value=" &gt;&gt; " name="addLevel" onclick="move(document.addForm.elements['notSelectedLevel[]'],document.addForm.elements['selectedLevel[]'],addLevel,removeLevel);" />
                <br />
                <input type="button" value=" &lt;&lt; " name="removeLevel" onclick="move(document.addForm.elements['selectedLevel[]'],document.addForm.elements['notSelectedLevel[]'],removeLevel,addLevel);" />
              </div>
		    </td>
		    <td>
		      <div align="left">
		        <select name="selectedLevel[]" size="12" style="width:200px;" multiple="multiple">
		        	{LEVEL_SELECTED}
		        </select>
		      </div>
		    </td>
		  </tr>
		</table>
      </td>
    </tr>
    <!-- END levels -->
  </table>

   <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
   	<!-- BEGIN inputfieldsOutput -->
    <tr class="{FIELD_ROW}">
      <td width="150" valign="top">{FIELD_NAME}:{FIELD_REQUIRED}</td>
      <td >{FIELD_VALUE}</td>
    </tr>
    <!-- END inputfieldsOutput -->
    <tr class="row3">
      <td valign="top" colspan="2"><b>{TXT_DIRECTORY_SPEZ_SORT}</b></td>
    </tr>
    <tr class="row2">
      <td width="150" valign="top">{TXT_DIRECTORY_SORT}:</td>
      <td ><input type="text" name="inputValue[spezial]" value="{DIRECTORY_SORT}" style="width:300px;" maxlength="4" /></td>
    </tr>
     <tr class="row1">
      <td width="150" valign="top">{TXT_DIRECTORY_PREMIUM}:</td>
      <td ><input type="checkbox" name="premium" value="1" {DIRECTORY_PREMIUM} /></td>
    </tr>
</table>
<br />
<input id="directorySubmit" type="submit" name="edit_submit" value="{TXT_UPDATE}" />&nbsp;<font color="red">*</font> = {TXT_REQUIRED_FIELDS}
</form>
<br />

{DIRECTORY_GOOGLEMAP_JAVASCRIPT_BLOCK}

<!-- END module_directory_entry_add.html -->
