<!-- START module_directory_settings_dropdown.html --> <font color="#FF0000">{STATUS} </font>
<form name="settings" method="post" action="index.php?cmd=directory&amp;act=settings&amp;tpl=google">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr>
      <th colspan=2>{TXT_GOOGLE_SETTINGS}</th>
    </tr>
    <tr class="row3">
      <td width="150" valign="top"><b>{TXT_DESCRIPTION}</b></td>
      <td><b>{TXT_VALUE}</b></td>
    </tr>
    <!-- BEGIN settingsOutput -->
    <tr class="{SETTINGS_ROWCLASS}">
      <td width="150" valign="top">{SETTINGS_DESCRIPTION}</td>
      <td >{SETTINGS_SETVALUE}</td>
    </tr>
    <!-- END settingsOutput -->
    </table>
<br />
<input type="submit" value="{TXT_SAVE_CHANGES}" name="set_google_submit">
</form>
<br>
<!-- END module_directory_settings_dropdown.html -->
