<!-- START module_directory_entry_edit.html -->
<script language="JavaScript">
function confirmFile(id)
{
   window.location.replace("index.php?cmd=directory&{CSRF_PARAM}&act=confirmfile&id="+id);
}
</script>
  <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
    <tr>
      <th colspan="2">{TXT_CONFIRM}</th>
    </tr>
    <tr class="row1">
      <td width="150" valign="top">{TXT_CATEGORY}</td>
      <td>
        <select name="selectedCat[]" size="12" style="width:300px;" multiple="multiple">
		{CATEGORY}
        </select>
      </td>
    </tr>
    <!-- BEGIN levels -->
    <tr class="row2">
      <td width="150" valign="top">{TXT_LEVEL}</td>
      <td>
        <select name="selectedLevel[]" size="12" style="width:300px;" multiple="multiple">
		{LEVELS}
        </select>
      </td>
    </tr>
    <!-- END levels -->
  </table>
   <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
   	<!-- BEGIN inputfieldsOutput -->
    <tr class="{FIELD_ROW}">
      <td width="150" valign="top">{FIELD_NAME}:</td>
      <td >{FIELD_VALUE}</td>
    </tr>
    <!-- END inputfieldsOutput -->
</table>
<br />
<input type="button" name="edit_submit" onclick="history:back()" value="{TXT_BACK}">&nbsp;<input type="button" name="confirm_submit" onclick="confirmFile({ID})" value="{TXT_CONFIRM}">
<br />
<!-- END module_directory_entry_edit.html -->
