<!-- START module_directory_entry_move.html -->
{DIRECTORY_JAVASCRIPT}

<form name="moveForm" enctype="multipart/form-data" method="post" action="index.php?cmd=directory&amp;act=movefile"  onSubmit="{DIRECTORY_FORM_ACTION}">
  <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
    <tr>
      <th colspan="2">{TXT_MOVE_ENTRY}</th>
    </tr>
  <table border="0" cellpadding="3" cellspacing="0" align="center" width="100%"  class="adminlist">
    <tr class="row1">
      <td width="150" valign="top">{TXT_CATEGORY}:<font color="red">*</font></td>
      <td>
        <table width="100%" border="0">
		  <tr>
		    <td width="210">
		      <select name="notSelectedCat[]" size="12" style="width:200px;" multiple="multiple">
		          {CATEGORY}
		      </select>
		    </td>
		    <td width="50">
		      <div align="center">
                <input type="button" value="&gt;&gt;" name="addCat" onclick="move(document.moveForm.elements['notSelectedCat[]'],document.moveForm.elements['selectedCat[]'],addCat,removeCat);" />
                <br />
                <input type="button" value="&lt;&lt;" name="removeCat" onclick="move(document.moveForm.elements['selectedCat[]'],document.moveForm.elements['notSelectedCat[]'],removeCat,addCat);" />
              </div>
		    </td>
		    <td>
		      <div align="left">
		        <select name="selectedCat[]" size="12" style="width:200px;" multiple="multiple">
		        </select>
		      </div>
		    </td>
		  </tr>
		</table>
      </td>
    </tr>
    <!-- BEGIN levels -->
    <tr class="row2">
      <td width="150" valign="top">{TXT_LEVEL}:<font color="red">*</font></td>
      <td>
        <table width="100%" border="0">
		  <tr>
		    <td width="210">
		      <select name="notSelectedLevel[]" size="12" style="width:200px;" multiple="multiple">
		          {LEVELS}
		      </select>
		    </td>
		    <td width="50">
		      <div align="center">
                <input type="button" value=" &gt;&gt; " name="addLevel" onclick="move(document.moveForm.elements['notSelectedLevel[]'],document.moveForm.elements['selectedLevel[]'],addLevel,removeLevel);" />
                <br />
                <input type="button" value=" &lt;&lt; " name="removeLevel" onclick="move(document.moveForm.elements['selectedLevel[]'],document.moveForm.elements['notSelectedLevel[]'],removeLevel,addLevel);" />
              </div>
		    </td>
		    <td>
		      <div align="left">
		        <select name="selectedLevel[]" size="12" style="width:200px;" multiple="multiple">
		        </select>
		      </div>
		    </td>
		  </tr>
		</table>
      </td>
    </tr>
  <!-- END levels -->
  </table>
<br />
<input type="submit" name="move_submit" value="{TXT_MOVE}">&nbsp;<font color="red">*</font> = {TXT_REQUIRED_FIELDS}
</form>
<br />
<!-- END module_directory_entry_move.html -->
