<!-- START module_directory_settings_headlines.html -->
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
	<tr>
		<th colspan="2">{TXT_PLACEHOLDER_LIST}</th>
	</tr>
	<tr class="row1">
		<td width="15%">[[DIRECTORY_ID]]</td>
		<td width="85%">{TXT_ID_DESCRIPTION}</td>
	</tr>
	<tr class="row2">
		<td width="15%">[[DIRECTORY_DATE]]</td>
		<td width="85%">{TXT_DATE_DESCRIPTION}</td>
	</tr>
	<tr class="row1">
		<td width="15%">[[DIRECTORY_TITLE]]</td>
		<td width="85%">{TXT_TITLE_DESCRIPTION}</td>
	</tr>
</table>
<br />
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
    <tr>
        <th>{TXT_EXAMPLE}</th>
    </tr>
    <tr class="row1">
        <td>&lt;ul&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{TXT_DIRECTORY}&lt;/li&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<b>&lt;!-- BEGIN directoryLatest_row_1 --&gt;</b><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="index.php?section=directory&amp;cmd=detail&amp;id=[[DIRECTORY_ID]]"&gt;[[DIRECTORY_DATE]]&nbsp;[[DIRECTORY_TITLE]]&lt;/a&gt;&lt;/li&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<b>&lt;!-- END directoryLatest_row_1 --&gt;</b><br />
            &lt;/ul&gt;<br />
        </td>
    </tr>
</table>
<!-- END module_directory_settings_headlines.html -->
