<!-- START module_directory_settings.html -->
	<div id="subnavbar_level2">
		<ul>
			<li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=system" title="{TXT_SYSTEM}">{TXT_SYSTEM}</a></li>
			<li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=email" title="{TXT_EMAIL}">{TXT_EMAIL}</a></li>
			<li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=inputs" title="{TXT_INPUTS}">{TXT_INPUTS}</a></li>
			<li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=headlines" title="{TXT_INPUTS}">{TXT_HEADLINES}</a></li>
			<li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=homecontent" title="{TXT_HOMECONTENT}">{TXT_HOMECONTENT}</a></li>
			<!-- <li><a href="index.php?cmd=directory&amp;act=settings&amp;tpl=google" title="{TXT_GOOGLE}">{TXT_GOOGLE}</a></li> -->
		</ul>
	</div>
	<br />{SYSTEM_REQUESTS_CONTENT}
	<br />
<!-- END module_directory_settings.html -->
