.page-content {
  @include container;

  border-bottom: 5px solid black;
}

.post {
  // @include span(8);
  background: red;
}

.post-header {
  padding: 24px 12px;
}

.post-content {
  @include span(8);
  background: yellow;
}
