$page-footer-padding-top: rem-calc(36) !default;

$footer-color-background: $grey-very-light !default;
$footer-color-font: $color-primary !default;

$footer-address-font-size: rem-calc(16) !default;
$footer-address-font-style: normal !default;

$footer-award-caption-font-size: rem-calc(16) !default;

$footer-meta-color-background: $color-primary !default;
$footer-meta-color-font: $white-smoke !default;
$footer-meta-font-size: rem-calc(16) !default;
$footer-meta-height: $navigation-height !default;
$footer-meta-link-padding: rem-calc(6) !default;

/*doc
---
title: Footer
category: Regions
---

The footer consists of two full width parts with different color
schemes. On top is the footer navigation with dark text on a light
background and below is the footer meta navigation with dark background
on light text.

The susy containers must be put into the outer footer containers
since the background colors have to span the full width of the page.

```html_example
<footer class="page-footer">
  <div class="footer-container">
    <nav class="footer-navigation" role="navigation">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">Home</a>
        </li>
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">&Uuml;ber uns</a>
        </li>
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">Behandlungen</a>
        </li>
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">Patienten</a>
        </li>
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">Medien</a>
        </li>
        <li class="footer-navigation-list-item">
          <a class="footer-navigation-link" href="#">Kontakt</a>
        </li>
      </ul>
    </nav>
    <address class="footer-address">
      <p>  
        CHRISTENORTHO AG<br>
        Dr. med., M. H. A. Bernhard Christen<br>
        Orthop&auml;dische Klinik Bern<br>
        Sch&auml;nzlistrasse 39<br>
        CH-3000 Bern 25
      </p>
      <p>
        Telefon +41 31 337 89 24<br>
        Telefax +41 31 337 89 54<br>
        <a href="mailto:info@christenortho.ch">info@christenortho.ch</a>
      </p>
    </address>
    <div class="footer-award">
      <figure>
        <img class="footer-award-logo" src="//fakeimg.pl/240/fff000">
        <figcaption class="footer-award-caption">
          Ausgezeichnet im Facharzt Verzeichnis Leading Medicine Guide als Facharzt f&uuml;r Orthop&auml;die
        </figcaption>
      </figure>
    </div>
  </div>
</footer>
<aside class="footer-aside">
  <div class="footer-container">
    <div class="footer-meta">
      <ul class="footer-meta-list">
        <li class="footer-meta-list-item">
          <a class="footer-meta-link" href="#">Impressum</a>
        </li>
        <li class="footer-meta-list-item">
          <a class="footer-meta-link" href="#">Disclaimer</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
```
*/

.footer-container {
  @include container($container-width);
}

.page-footer {
  background: $footer-color-background;
  color: $footer-color-font;

  padding-top: $page-footer-padding-top;
}

.footer-navigation {
  @include span(4);
}

.footer-address {
  @include span(4);

  p {
    font-size: $footer-address-font-size;
    font-style: $footer-address-font-style;
  }
}

.footer-award {
  @include span(4);

  img {
    max-width: rem-calc(120);
    height: auto;
  }

  figcaption {
    font-size: $footer-award-caption-font-size;
  }
}

.footer-aside {
  background: $footer-meta-color-background;
}

.footer-meta {
  @include span(full)
}

.footer-meta-list {
  list-style: none;
}

.footer-meta-list-item {
  display: inline-block;

  @include separator($footer-meta-link-padding, $footer-meta-color-font);
}

.footer-meta-link {
  height: $footer-meta-height;
  
  font-size: $footer-meta-font-size;
  color: $footer-meta-color-font;
  line-height: $footer-meta-height;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
