$header-padding: gutter() 0 !default;
$logo-offset-left: rem-calc(30) !default;

.page-header {
  @include container($container-width);
  padding: $header-padding;
}

.logo {
  @include span(9);

  line-height: 0;
}

.logo-img {
  margin-left: -$logo-offset-left;
}

.metanav {
  @include span(3);
}
