$header-padding: $vertical-spacing 0 !default;
$logo-offset-left: rem-calc(30) !default;
$navigation-content-margin: rem-calc(36) !default;

.page-header {
  @include container($container-width);
  padding: $header-padding;
}

.logo {
  @include span(8);

  line-height: 0;
}

.logo-img {
  margin-left: -$logo-offset-left;
}

.navigation {
  @include susy-media(md) {
    margin-bottom: $navigation-content-margin;

    .home & {
      margin-bottom: 0;
    }
  }
}

.metanav {
  @include span(4);
}
