/*doc
---
title: Main Navigation
category: Components - Navigation
---
This ist the main navigation used on top of the page. It will collapse for
mobile screens and span the whole width as a navigation bar on larger screens.

Eventually the navigation will be built by Contrexx, so take care to apply the
correct placeholders where needed. Unfortunately standard Contrexx installations
set the `.starter-active` class for active navigation items on the first level.
Since customizing this would take more time than adjusting the class here we do it
in the CSS.

This first example shows the navigation in its mobile closed state meaning that
for the mobile view the normal list items are collapsed out of view and instead
replaced by a single navigation toggle button.

Following below is the example of a opened navigation.

```html_example
<nav class="navigation" role="navigation">
  <ul class="navigation-nav">
    <li class="navigation-list-item nav-toggle">
      <a class="navigation-link nav-toggle-button" href="#">Navigation</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Über uns</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Behandlungen</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link starter_active" href="#">Patienten</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Medien</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Kontakt</a>
    </li>
  </ul>
</nav>
```

The mobile navigation is toggled open by adding the class `in` to the `.navigation-nav`.
The class is added to the `ul` so it cascades down easily and is being applied
with minimal effort.

```html_example
<nav class="navigation" role="navigation">
  <ul class="navigation-nav in">
    <li class="navigation-list-item nav-toggle">
      <a class="navigation-link nav-toggle-button" href="#">Navigation</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Über uns</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Behandlungen</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link starter_active" href="#">Patienten</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Medien</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-link" href="#">Kontakt</a>
    </li>
  </ul>
</nav>
```

*/

.navigation {
  background: $navigation-background-color;

  border-top: $navigation-border-width solid $navigation-border-color;
}

.navigation-nav {
  list-style: none;

  text-align: center;
}

.navigation-list-item {
  display: none;

  width: 100%;

  border-bottom: $navigation-border-width solid $navigation-border-color;

  .in & { // show the navigation in mobile view when toggled open
    @include susy-media(to-sm) {
      display: block;
    }
  }

  @include susy-media(sm) {
    display: inline-block;
    width: auto;

    border-bottom: 0;
  }
}

.navigation-link {
  display: block;
  width: 100%; // fill out whole width of li with link
  height: $navigation-height;

  color: $navigation-font-color;
  font-size: $navigation-font-size;
  line-height: $navigation-height;

  padding: $navigation-link-padding;

  &.starter_active,
  &:hover,
  &:active,
  &:focus {
    color: $navigation-font-color-active;
    font-weight: $navigation-font-weight-active;
    text-decoration: $navigation-text-decoration-active;
  }
}

.nav-toggle {
  display: block;

  @include susy-media(sm) {
    display: none;
  }
}
