<!-- START module_mediadir_settings_modify_mail.html -->
<ul id="tabmenu">
    <li><a id="mailTab_template" class="active" href="javascript:{}" onclick="selectTab('template')" title="{TXT_MEDIADIR_PAGE_TITLE}">{TXT_MEDIADIR_PAGE_TITLE}</a></li>
    <li><a id="mailTab_placeholders" href="javascript:{}" onclick="selectTab('placeholders')" title="{TXT_MEDIADIR_PLACEHOLDER}" hidefocus>{TXT_MEDIADIR_PLACEHOLDER}</a></li>
</ul>
<div id="template" class="mailTab" style="display:block;">
    <form name="mailModfyForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=mails" method="post" >
    <input name="templateId" type="hidden" value="{MEDIADIR_TEMPLATE_ID}" />
    <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
        <tr>
            <th colspan="2">{TXT_MEDIADIR_PAGE_TITLE}</th>
        </tr>
        <tr class="row1">
            <td width="200">{TXT_MEDIADIR_ACTION}</td>
            <td>
                <select name="templateAction" style="width: 302px">
                    {MEDIADIR_TEMPLATE_ACTION}
                </select>
            </td>
        </tr>
        <tr class="row2">
            <td valign="top">{TXT_MEDIADIR_LANG}</td>
            <td>
                <select name="templateLang" style="width: 302px">
                    {MEDIADIR_TEMPLATE_LANG}
                </select>
            </td>
        </tr>
        <tr class="row1">
            <td width="200">{TXT_MEDIADIR_RECIPIENTS}</td>
            <td>
                <input name="templateRecipients" type="text" style="width: 300px" value="{MEDIADIR_TEMPLATE_RECIPIENTS}" />
            </td>
        </tr>
        <tr class="row2">
            <td valign="top">{TXT_MEDIADIR_TITLE}</td>
            <td>
                <input name="templateTitle" type="text" style="width: 300px" value="{MEDIADIR_TEMPLATE_TITLE}" />
            </td>
        </tr>
        <tr class="row1">
            <td width="200" valign="top">{TXT_MEDIADIR_CONTENT}</td>
            <td>
                <textarea name="templateContent" style="width: 600px; height: 300px;" >{MEDIADIR_TEMPLATE_CONTENT}</textarea>
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}" />
    </form>
</div>
<div id="placeholders" class="mailTab" style="display:none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
        <tr>
        <th colspan=2>{TXT_MEDIADIR_PLACEHOLDER}</th>
        </tr>
        <tr class="row1">
        <td width="200" valign="top">{TXT_MEDIADIR_USERNAME}</td>
        <td >[[USERNAME]]</td>
        </tr>
        <tr class="row2">
        <td valign="top">{TXT_MEDIADIR_FIRSTNAME}</td>
        <td >[[FIRSTNAME]]</td>
        </tr>
        <tr class="row1">
        <td valign="top">{TXT_MEDIADIR_LASTNAME}</td>
        <td >[[LASTNAME]]</td>
        </tr>
        <tr class="row2">
        <td valign="top">{TXT_MEDIADIR_TITLE}</td>
        <td >[[TITLE]]</td>
        </tr>
        <tr class="row1">
        <td valign="top">{TXT_MEDIADIR_LINK}</td>
        <td >[[LINK]]</td>
        </tr>
        <tr class="row2">
        <td valign="top">{TXT_MEDIADIR_URL}</td>
        <td >[[URL]]</td>
        </tr>
        <tr class="row1">
        <td valign="top">{TXT_MEDIADIR_DATE}</td>
        <td >[[DATE]]</td>
        </tr>
    </table>
</div>
<!-- module_mediadir_settings_modify_mail.html -->
