<!-- START module_mediadir_settings_global.html -->
<script language="JavaScript" type="text/javascript">
$J(function(){
   $J( ".inputfieldContext" ).live('change', function(){
       resetContextFields();
   });
   resetContextFields();
});

function resetContextFields() {
    var contexts = ['title', 'address', 'zip', 'city', 'country'];
    $J(".inputfieldContext").each(function(){
        if ($J(this).val() != 'none') {            
            $J(".inputfieldContext option[value="+ $J(this).val() +"]")
                    .not(":selected")
                    .attr('disabled', 'disabled');
            contexts = cx.jQuery.removeFromArray($J(this).val(), contexts);
        }
    });
    
    $J.each(contexts, function(i, context){
        $J(".inputfieldContext option[value="+ context +"]").removeAttr('disabled');
    });
}

cx.jQuery.removeFromArray = function(value, arr) {
    return cx.jQuery.grep(arr, function(elem, index) {
        return elem !== value;
    });
};
function ExpandMinimizeInputfields(toggle, id) {

    var pattern = /^inputfieldLanguages/;
    var reg = new RegExp(pattern);

    if (!toggle.match(reg)) {
        var masterValue = document.getElementsByName(toggle + '[' + id + '][0]')[0].value;
        var defaultValue = document.getElementsByName(toggle + '[' + id + '][{MEDIADIR_SETTINGS_INPUTFIELDS_DEFAULT_LANG_ID}]')[0].value;

        var reg = new RegExp(toggle + '\\[' + id + '\\]');

    	for (i = 0; i < document.settingsInputfieldsForm.elements.length; ++i) {
            var field = document.settingsInputfieldsForm.elements[i];

            if (field.name.match(reg)) {
    			if (field.value == '') {
    			    field.value = masterValue;
    			}

    			var regDefaultLang = new RegExp(toggle + '\\[' + id + '\\]\\[{MEDIADIR_SETTINGS_INPUTFIELDS_DEFAULT_LANG_ID}\\]');

    			if (field.name.match(regDefaultLang)) {
    			    field.value = masterValue;
    			}

    			var regMaster = new RegExp(toggle + '\\[' + id + '\\]\\[0\\]');

    			if (field.name.match(regMaster)) {
    			    field.value = defaultValue;
    			}
            }
        }
    }

    elm1 = document.getElementById(toggle + '_' + id + '_Minimized');
    elm2 = document.getElementById(toggle + '_' + id + '_Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}

function ExpandMinimizeForm(toggle){
    if (toggle == 'formName') {
        var pattern = /^formName/;
    } else {
        var pattern = /^formDescription/;
    }

    var reg = new RegExp(pattern);

    var masterValue = document.getElementsByName(toggle + '[0]')[0].value;
    var defaultValue = document.getElementsByName(toggle + '[{MEDIADIR_SETTINGS_FORM_DEFAULT_LANG_ID}]')[0].value;

	for (i = 0; i < document.settingsInputfieldsForm.elements.length; ++i) {
        var field = document.settingsInputfieldsForm.elements[i];

        if (field.name.match(reg)) {
			if (field.value == '') {
			    field.value = masterValue;
			}

			var regDefaultLang = new RegExp(toggle + '\\[{MEDIADIR_SETTINGS_FORM_DEFAULT_LANG_ID}\\]');

			if (field.name.match(regDefaultLang)) {
			    field.value = masterValue;
			}

			var regMaster = new RegExp(toggle + '\\[0\\]');

			if (field.name.match(regMaster)) {
			    field.value = defaultValue;
			}
        }
    }

    elm1 = document.getElementById(toggle + 'Minimized');
    elm2 = document.getElementById(toggle + 'Expanded');

    elm1.style.display = (elm1.style.display=='none') ? 'block' : 'none';
    elm2.style.display = (elm2.style.display=='none') ? 'block' : 'none';
}

function SetUrl(url, width, height, alt) {
	switch (fileType) {
    	case 'image':
    	case 'webpages':
    		document.getElementById(insertBox).value = url;
    		break
    	case 'link':
    		if (insertText == '') {
    			insertText = url;
    		}
    		newsInsertLink(document.getElementById(insertBox), '<a href="'+url+'">'+insertText+'</a>');
    		break;
	}
}

function getFileBrowser(name, type)
{
	insertBox = name;
	fileType = type;

	openWindow('?cmd=fileBrowser&standalone=true&type=mediadir','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
}

function openWindow(theURL,winName,features){
	browserPopup = window.open(theURL,"Browser",features);
	browserPopup.focus();
}

var addInputfield = function(formId)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'settings', tpl : 'modify_form', id : formId, ajax : 'add'}).success(function() { refreshInputfields(formId); });
}

var moveInputfield = function(formId, fieldId, directionId)
{
    //directionId: 1 = up | 2 = down

    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'settings', tpl : 'modify_form', id : formId, ajax : 'move', field : fieldId, direction : directionId}).success(function() { refreshInputfields(formId); }).error(function(){ alert('Something went wrong...') });
}

var deleteInputfield = function(formId, fieldId)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'settings', tpl : 'modify_form', id : formId, ajax : 'delete', field : fieldId}).success(function() { refreshInputfields(formId); }).error(function(){ alert('Something went wrong...') });
}


var saveInputfield = function(success_function)
{
    cx.jQuery.post('index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_form&ajax=save', cx.jQuery('#settingsInputfieldsForm').serialize()).success(success_function).error(function(){ alert('Something went wrong...') });
}

var refreshInputfields = function(formId)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'settings', tpl : 'modify_form', id : formId, ajax : 'refresh'}).success(function(data) { cx.jQuery('#inputfields_list').html(data); resetContextFields();}).error(function(){ alert('Something went wrong...') });
}
</script>

<form name="settingsInputfieldsForm" id="settingsInputfieldsForm" action="index.php?cmd={MODULE_NAME}&act=settings&tpl=modify_form&id={MEDIADIR_FORM_ID}" method="post" >
    <input name="formId" type="hidden" value="{MEDIADIR_FORM_ID}" />

    <!-- BEGIN mediadirFormForm -->
    <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist" id="formContainer">
        <tbody>
            <tr>
                <th colspan="11">{TXT_MEDIADIR_PAGE_TITLE}</th>
            </tr>
            <tr class="row1">
                <td valign="top" width="200">{TXT_MEDIADIR_NAME}</td>
                <td>
                    <div id="formNameMinimized" style="display: block;">
                        <input name="formName[0]" type="text" style="width: 300px" value="{MEDIADIR_FORM_NAME_MASTER}" />&nbsp;<a href="javascript:ExpandMinimizeForm('formName');">{TXT_MEDIADIR_MORE}&nbsp;&raquo;</a><br />
                    </div>
                    <div id="formNameExpanded" style="display: none;">
                        <!-- BEGIN mediadirFormNameList -->
                        <input name="formName[{MEDIADIR_FORM_NAME_LANG_ID}]" type="text" style="width: 279px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{TXT_MEDIADIR_FORM_NAME_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{TXT_MEDIADIR_FORM_NAME_LANG_NAME}" value="{MEDIADIR_FORM_NAME}" />&nbsp;{TXT_MEDIADIR_FORM_NAME_LANG_NAME}&nbsp;&nbsp;&nbsp;{MEDIADIR_MINIMIZE}<br />
                        <!-- END mediadirFormNameList -->
                    </div>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top">{TXT_MEDIADIR_DESCRIPTION}</td>
                <td>
                    <div id="formDescriptionMinimized" style="display: block;">
                        <textarea name="formDescription[0]" style="width: 300px; height: 50px;" >{MEDIADIR_FORM_DESCRIPTION_MASTER}</textarea>&nbsp;<a href="javascript:ExpandMinimizeForm('formDescription');">{TXT_MEDIADIR_MORE}&nbsp;&raquo;</a>
                    </div>
                    <div id="formDescriptionExpanded" style="display: none;">
                        <!-- BEGIN mediadirFormDescriptionList -->
                        <textarea name="formDescription[{MEDIADIR_FORM_DESCRIPTION_LANG_ID}]" style="height: 50px; width: 279px; margin-bottom: 2px; padding-left: 21px; background: #ffffff url('images/flags/flag_{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_SHORTCUT}.gif') no-repeat 3px 3px;" title="{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_NAME}" >{MEDIADIR_FORM_DESCRIPTION}</textarea>&nbsp;{TXT_MEDIADIR_FORM_DESCRIPTION_LANG_NAME}&nbsp;&nbsp;&nbsp;{MEDIADIR_MINIMIZE}<br />
                        <!-- END mediadirFormDescriptionList -->
                    </div>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top">{TXT_MEDIADIR_PICTURE}</td>
                <td>{MEDIADIR_FORM_PICTURE_THUMB}<input type="text" name="formImage" value="{MEDIADIR_FORM_PICTURE}" id="formImage2" style="width: 300px;" />&nbsp;<input type="button" value="{TXT_MEDIADIR_BROWSE}" onClick="getFileBrowser('formImage2', 'image')" /></td>
            </tr>
            <tr class="row2">
                <td valign="top">{TXT_MEDIADIR_CMD}</td>
                <td><input name="formCmd" type="text" style="width: 300px" value="{MEDIADIR_FORM_CMD}" />&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_CMD_INFO}</span></td>
            </tr>
            <tr class="row1">
                <td valign="top">{TXT_MEDIADIR_USE_CATEGORY}</td>
                <td>
                    <input type="radio" name="formUseCategory" value="1" {MEDIADIR_USE_CATEGORY_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="formUseCategory" value="0" {MEDIADIR_USE_CATEGORY_OFF} /> {TXT_MEDIADIR_DEACTIVATE}&nbsp;
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_USE_CATEGORY_INFO}</span>
                </td>
            </tr>
            <!-- BEGIN mediadirFormUseLevel -->
            <tr class="row2">
                <td valign="top">{TXT_MEDIADIR_USE_LEVEL}</td>
                <td>
		            <input type="radio" name="formUseLevel" value="1" {MEDIADIR_USE_LEVEL_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="formUseLevel" value="0" {MEDIADIR_USE_LEVEL_OFF} /> {TXT_MEDIADIR_DEACTIVATE}&nbsp;
                    <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_USE_LEVEL_INFO}</span>
		        </td>
            </tr>
            <!-- END mediadirFormUseLevel -->
            <!-- BEGIN mediadirFormUseReadyToConfirm -->
            <tr class="row1">
                <td valign="top">{TXT_MEDIADIR_USE_READY_TO_CONFIRM}</td>
                <td>
                    <input type="radio" name="formUseReadyToConfirm" value="1" {MEDIADIR_USE_READY_TO_CONFIRM_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="formUseReadyToConfirm" value="0" {MEDIADIR_USE_READY_TO_CONFIRM_OFF} /> {TXT_MEDIADIR_DEACTIVATE}
                </td>
            </tr>
            <!-- END mediadirFormUseReadyToConfirm -->
        </tbody>
    </table>
    <br />
    <!-- END mediadirFormForm -->

    <!-- BEGIN mediadirInputfieldsForm -->
    <ul id="tabmenu">
          <li><a class="active" id="formTab_inputfields" href="javascript:{}" onclick="selectTab('inputfields')" title="">{TXT_MEDIADIR_SETTINGS_INPUTFIELDS}</a></li>
          <li><a id="formTab_placeholders" href="javascript:{}" onclick="selectTab('placeholders')" title="">{TXT_MEDIADIR_SETTINGS_PLACEHOLDER}</a></li>
          <li><a id="formTab_permissions" href="javascript:{}" onclick="selectTab('permissions')" title="">{TXT_MEDIADIR_SETTINGS_PERMISSIONS}</a></li>
    </ul>

    <div id="inputfields" class="formTab" style="display: block;">
        <div id="inputfields_list">
            {MEDIADIR_SETTINGS_INPUTFIELDS_CONTENT}
        </div>
        <input style="margin-left: 99px; margin-top: 5px;" type="button" onclick="saveInputfield(function() { addInputfield('{MEDIADIR_FORM_ID}') });" name="addField" value="{TXT_MEDIADIR_SETTINGS_INPUTFIELDS_ADD_NEW}" /><br />
    </div>

    <div id="permissions" class="formTab" style="display: none;">
        <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
            <tr>
                <th colspan="2">{TXT_MEDIADIR_SETTINGS_PERMISSIONS}</th>
            </tr>
            <tr class="row3">
                <td colspan="2">{TXT_MEDIADIR_SETTINGS_PERMISSIONS_INFO}</td>
            </tr>
            <tr class="row2">
                <td colspan="2"><br /></td>
            </tr>
            <tr class="row3">
                <td  valign="top" width="200"><b>{TXT_MEDIADIR_SETTINGS_COMMUNITY_GROUP}<b></td>
                <td  valign="top"><b>{TXT_MEDIADIR_SETTINGS_ALLOW_GHROUP_ADD_ENTRIES}<b></td>
            </tr>
            <!-- BEGIN mediadirFormCommunityGroupList -->
            <tr class="{MEDIADIR_SETTINGS_COMMUNITY_GROUP_ROW_CLASS}">
                <td valign="top">{TXT_MEDIADIR_SETTINGS_COMMUNITY_GROUP_NAME}</td>
                <td><input type="checkbox" name="settingsPermGroupForm[{MEDIADIR_FORM_ID}][{MEDIADIR_SETTINGS_COMMUNITY_GROUP_ID}]" value="1" {MEDIADIR_SETTINGS_COMMUNITY_GROUP_ACTIVE}></td>
            </tr>
            <!-- END mediadirFormCommunityGroupList -->

            <!-- BEGIN mediadirFormNoCommunityGroup -->
            <tr class="row1">
                <td valign="top" colspan="2">{TXT_MEDIADIR_SETTINGS_NO_COMMUNITY_GROUPS}</td>
            </tr>
            <!-- END mediadirFormNoCommunityGroup -->
        </table>
    </div>

    <div id="placeholders" class="formTab" style="display: none;">
        <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
            <tr>
                <th colspan="8">{TXT_MEDIADIR_SETTINGS_PLACEHOLDER}</th>
            </tr>
            <tr class="row3">
                <td>{TXT_MEDIADIR_SETTINGS_PLACEHOLDER_INFO}</td>
            </tr>
            <tr>
                <td>
                    <br />
                    <!-- BEGIN mediadirInputfieldPlaceholderList -->
                        {MEDIADIR_SETTINGS_INPUTFIELD_DESCRIPTION}:<br />
                        <pre style="background-color:#f1f1f1; border: 1px solid #cccccc; margin: 3px 10px 15px 10px; padding: 5px;">&lt;!-- BEGIN {MODULE_NAME}_inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID} --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;{MEDIADIR_SETTINGS_INPUTFIELD_PLACEHOLDERS}
&lt;!-- END {MODULE_NAME}_inputfield_{MEDIADIR_SETTINGS_INPUTFIELD_ID} --&gt;</pre>
                    <!-- END mediadirInputfieldPlaceholderList -->
                    <br />
                </td>
            </tr>
            <tr class="row3">
                <td>{TXT_MEDIADIR_SETTINGS_GLOBAL_PLACEHOLDER_INFO}</td>
            </tr>
            <tr>
                <td>
                    <pre style="background-color:#f1f1f1; border: 1px solid #cccccc; margin: 10px 10px 15px 10px; padding: 5px;">&lt;!-- BEGIN {MODULE_NAME}_inputfields --&gt;
&nbsp;&nbsp;&nbsp;&nbsp;[[TXT_MEDIADIR_INPUTFIELD_NAME]]&nbsp;[[MEDIADIR_INPUTFIELD_VALUE]]
&lt;!-- END {MODULE_NAME}_inputfields --&gt;</pre>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <!-- END mediadirInputfieldsForm -->

    <input type="submit" name="submitSettingsForm" value="{TXT_MEDIADIR_SUBMIT}" />
</form>
<!-- END module_mediadir_settings_global.html -->
