<!-- START module_mediadir_settings.html -->
<div id="subnavbar_level2">
	<ul>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=entries" title="{TXT_MEDIADIR_ENTRIES}">{TXT_MEDIADIR_ENTRIES}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=levels_categories" title="{TXT_MEDIADIR_GLOBAL}">{TXT_MEDIADIR_LEVELS_AND_CATEGORIES}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=forms" title="{TXT_MEDIADIR_FORMS}">{TXT_MEDIADIR_FORMS}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=mails" title="{TXT_MEDIADIR_MAIL_TEMPLATES}">{TXT_MEDIADIR_MAIL_TEMPLATES}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=files" title="{TXT_MEDIADIR_PICS_AND_FILES}">{TXT_MEDIADIR_PICS_AND_FILES}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=map" title="{TXT_MEDIADIR_GOOGLE}">{TXT_MEDIADIR_GOOGLE}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=votes" title="{TXT_MEDIADIR_COMMENTS_AND_VOTING}">{TXT_MEDIADIR_COMMENTS_AND_VOTING}</a></li>
		<li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=classification" title="{TXT_MEDIADIR_CLASSIFICATION}">{TXT_MEDIADIR_CLASSIFICATION}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=masks" title="{TXT_MEDIADIR_EXPORT_MASKS}">{TXT_MEDIADIR_EXPORT_MASKS}</a></li>
	</ul>
</div>
<br />
{MEDIADIR_SETTINGS_CONTENT}
<br />
<!-- END module_mediadir_settings.html -->
