<!-- START module_mediadir_modify_category.html -->
<script type="text/javascript">
//<![CDATA[
function SetUrl(url, width, height, alt) {
    switch (fileType) {
        case 'image':
        case 'webpages':
            document.getElementById(insertBox).value = url;
            break
        case 'link':
            if (insertText == '') {
                insertText = url;
            }
            newsInsertLink(document.getElementById(insertBox), '<a href="'+url+'">'+insertText+'</a>');
            break;
    }
}

function getFileBrowser(name, type)
{
    insertBox = name;
    fileType = type;

    openWindow('?cmd=fileBrowser&standalone=true&type=mediadir','','width=800,height=600,resizable=yes,status=no,scrollbars=yes');
}

function openWindow(theURL,winName,features){
    browserPopup = window.open(theURL,"Browser",features);
    browserPopup.focus();
}

//]]>
</script>

<form name="categoryModfyForm" action="index.php?cmd={MODULE_NAME}&act=modify_category" method="post" >
<input name="categoryId" type="hidden" value="{MEDIADIR_CATEGORY_ID}" />
<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
    <tr>
        <th colspan="2">{TXT_MEDIADIR_PAGE_TITLE}</th>
    </tr>
    <tr class="row3">
        <td colspan="2">{TXT_MEDIADIR_BASIC_DATA}</td>
    </tr>    
    <tr class="row1">
        <td width="200">{TXT_MEDIADIR_CATEGORY}</td>
        <td>
            <select name="categoryPosition" style="width: 302px">
                <option value="0">{TXT_MEDIADIR_NEW_CATEGORY}</option>
                {MEDIADIR_CATEGORIES_DROPDOWN_OPTIONS}
            </select>
        </td>
    </tr>
    <tr class="row2">
        <td valign="top">{TXT_MEDIADIR_PICTURE}</td>
        <td>{MEDIADIR_CATEGORY_PICTURE_THUMB}<input type="text" name="categoryImage" value="{MEDIADIR_CATEGORY_PICTURE}" id="categoryImage2" style="width: 300px;" />&nbsp;<input type="button" value="{TXT_MEDIADIR_BROWSE}" onClick="getFileBrowser('categoryImage2', 'image')" /></td>
    </tr>
<!-- not yet implemented    <tr class="row1">
        <td valign="top">{TXT_MEDIADIR_SHOW_SUBCATEGORIES}</td>
        <td><input type="radio" name="categoryShowSubcategories" value="1" {MEDIADIR_CATEGORY_SHOW_SUBCATEGORIES_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="categoryShowSubcategories" value="0" {MEDIADIR_CATEGORY_SHOW_SUBCATEGORIES_OFF} /> {TXT_MEDIADIR_DEACTIVATE}</td>
    </tr> -->
    <tr class="row2">
        <td valign="top">{TXT_MEDIADIR_SHOW_ENTRIES}</td>
        <td><input type="radio" name="categoryShowEntries" value="1" {MEDIADIR_CATEGORY_SHOW_ENTRIES_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="categoryShowEntries" value="0" {MEDIADIR_CATEGORY_SHOW_ENTRIES_OFF} /> {TXT_MEDIADIR_DEACTIVATE}</td>
    </tr>
    <tr class="row1">
        <td valign="top">{TXT_MEDIADIR_VISIBLE}</td>
        <td><input type="radio" name="categoryActive" value="1" {MEDIADIR_CATEGORY_ACTIVE_ON} /> {TXT_MEDIADIR_ACTIVATE} &nbsp;<input type="radio" name="categoryActive" value="0" {MEDIADIR_CATEGORY_ACTIVE_OFF} /> {TXT_MEDIADIR_DEACTIVATE}&nbsp;&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_MEDIADIR_VISIBLE_CATEGORY_INFO}</span></td>
    </tr>    
</table>
<br />
<ul id="tabmenu" class="language_tab" style="{MEDIADIR_HIDE_ON_SINGLE_LANG} margin-top: 15px;">
    <!-- BEGIN mediadirCategoryLanguages -->
    <li><a id="cateogryLanguage_{MEDIADIR_CATEGORY_LANG_ID}_desc" class="{MEDIADIR_CATEGORY_LANG_TAB_CLASS}" href="javascript:{}" onclick="selectTab('{MEDIADIR_CATEGORY_LANG_ID}_desc');" title="{MEDIADIR_CATEGORY_LANG_NAME}">{MEDIADIR_CATEGORY_LANG_NAME}</a></li>
    <!-- END mediadirCategoryLanguages -->
</ul>
<!-- BEGIN mediadir_category_name_and_description -->
<div id="{MEDIADIR_CATEGORY_LANG_ID}_desc" class="cateogryLanguage" style="{MEDIADIR_CATEGORY_BLOCK_DISPLAY}">
    <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
        <tr>
            <th colspan="2">{TXT_MEDIADIR_CATEGORY_DETAILS}</th>
        </tr>
        <tr class="row2">
            <td valign="top" width="200">{TXT_MEDIADIR_NAME}</td>
            <td>
                <input name="categoryName[{MEDIADIR_CATEGORY_LANG_ID}]" type="text" style="width: 279px;" value="{MEDIADIR_CATEGORY_NAME}" />
            </td>
        </tr>
        <tr class="row3">
            <td valign="top" colspan="2">
                {TXT_MEDIADIR_DESCRIPTION}
                <br />
                {MEDIADIR_CATEGORY_DESCRIPTION}
            </td>
        </tr>
    </table>
</div>
<!-- END mediadir_category_name_and_description -->
<br/>
<input type="submit" name="submitCategoryModfyForm" value="{TXT_MEDIADIR_SUBMIT}" />
</form>
<!-- END module_mediadir_modify_category.html -->
