// every single color that is used throughout the stylesheet should be assigned
// to a variable in this file
// also set !default flags to enable theming

// colors (no defaults here, as variable name describes color)
$deep-koamaru: #336;

$white: #fff;
$white-smoke: #ECEAEA;
$grey: #808080;
$grey-very-light: #CACACA;

// stylesheet variables
$color-primary: $deep-koamaru !default;
$color-text: $grey;
$color-lines: $grey-very-light;
$color-background: $white-smoke;
