// this file contains the main definitions for the layout, here managed by susy.
// all susy settings including the breakpoints are defined here


// micro clearfix is provided by mike-henderson based on nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix() {
  & {
    *zoom: 1;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$susy: (
  gutter-position: split,
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: true,
    rem: true,
  )
);

// breakpoints
$susy-media: (
  xs: 20rem,
  sm: 40rem,
  md: 60rem,
  lg: 80rem,
  max-xs: max-width 20rem,
  xs-sm: 20rem 40rem,
  sm-md: 40rem 60rem,
  md-lg: 60rem 80rem,
  to-sm: max-width 39.9375rem
);
