// all typography variables (and only variables) are assigned here, use !default
// flags to enable styling as well
// 
$font-stack: 'DIN Next W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-font-size: 100% !default;

// headings
$header-font-color: $color-primary !default;
$header-font-color-secondary: $color-text !default;
$header-top-margin: .2rem !default;
$header-bottom-margin: .5rem !default;
$header-text-rendering: optimizeLegibility !default;

$h1-font-size: rem-calc(30) !default;
$h1-line-height: 1.13333333333 !default;

$h2-font-size: rem-calc(22) !default;
$h2-line-height: 1.181818181818 !default;

$h3-font-size: rem-calc(20) !default;
$h3-line-height: 1.2 !default;

$h4-font-size: rem-calc(18) !default;
$h4-line-height: 1.222222222222 !default;

// paragraphs
$paragraph-font-size: rem-calc(18) !default;
$paragraph-line-height: 1.4444444444444 !default;
$paragraph-bottom-margin: rem-calc(20) !default;

// anchors
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: underline !default;
$anchor-font-color: $color-primary !default;
