// all typography variables (and only variables) are assigned here, use !default
// flags to enable styling as well
$font-stack: 'TheSans', Helvetica, Arial, sans- !default;

$base-font-size: 100% !default;

// headings
$headings-font-color: $color-primary !default;
$headings-font-color-secondary: $color-font !default;
$headings-top-margin: .2rem !default;
$headings-bottom-margin: .5rem !default;
$headings-text-rendering: optimizeLegibility !default;

$h1-font-size: rem-calc(20) !default;
$h1-line-height: 24/20 !default;

$h2-font-size: rem-calc(20) !default;
$h2-line-height:  24/20 !default;

$h3-font-size: rem-calc(20) !default;
$h3-line-height: 24/20 !default;

// paragraphs
$paragraph-font-size: rem-calc(20) !default;
$paragraph-line-height: 24/20  !default;
$paragraph-margin-bottom: rem-calc(20) !default;

// anchors
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: none !default;
$anchor-font-color: $color-primary !default;
