<!-- START module_newsletter_list_sourcecode.html -->
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_NEWSLETTER_GENERATE_HTML_SOURCE_CODE}</th>
  </tr>
  <tr class="row1">
    <td><textarea name="newsletter_html_code" style="width:100%; height:150px;">{NEWSLETTER_HTML_CODE}</textarea></td>
  </tr>
</table>
<br />
<form action="index.php?cmd=newsletter&amp;act=lists" method="post">
  <input type="submit" value="{TXT_NEWSLETTER_BACK}" />
</form>
<!-- END module_newsletter_list_sourcecode.html -->
