<!-- START module_newsletter_user_export_list.html -->
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_TITLE}</th>
  </tr>
  <tr class="row1">
    <td><textarea name="exportlist" id="newsletter_exportlist" style="width:100%; height:300px;">{USER_LIST}</textarea></td>
  </tr>
</table>
<br />
<input onclick="document.getElementById('newsletter_exportlist').focus();document.getElementById('newsletter_exportlist').select()" type="button" value="{TXT_SELECT_ALL}" />
<!-- END module_newsletter_user_export_list.html -->
