<!-- START module_newsletter_user.html -->
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=newsletter&amp;act=users" title="{TXT_NEWSLETTER_OVERVIEW}">{TXT_NEWSLETTER_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=users&amp;tpl=edit" title="{TXT_NEWSLETTER_ADD_USER}">{TXT_NEWSLETTER_ADD_USER}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=users&amp;tpl=import" title="{TXT_NEWSLETTER_IMPORT}">{TXT_NEWSLETTER_IMPORT}</a></li>
  </ul>
</div>
<br />{NEWSLETTER_USER_FILE}
<br />
<!-- END module_newsletter_user.html -->
