<!-- START module_newsletter_mail_edit.html -->
<script type="text/javascript" language="javascript">
// <![CDATA[
newsletterAttachmentNr = {NEWSLETTER_MAIL_ATTACHMENT_NR};


/**
 * Check if the text content is empty and show a warning if so
 */
var checkTextContent = function() {
  var area = document.getElementById('newsletter_mail_text_content');
  if (area.value == '') {
    return confirm('{TXT_NEWSLETTER_CONFIRM_EMPTY_TEXT}');
  }
  return true;
}

function newsletterDelAttachment(attachmentNr) {
  document.getElementById('newsletter_attachment_frame').removeChild(document.getElementById('newsletter_attachment_box_'+attachmentNr));
  noAttachments = true;
  for (i = 0; i < document.getElementById('newsletter_attachment_frame').childNodes.length; i++) {
    if (document.getElementById('newsletter_attachment_frame').childNodes[i].nodeType == 1) {
      noAttachments = false;
      break;
    }
  }
  if (noAttachments) {
    document.getElementById('newsletter_attachment_frame').style.display = 'none';
  }
}

function newsletterOpenWindow(url, name ,attrs) {
  newsletterPopup = window.open(url, "", attrs);
  newsletterPopup.focus();
}

function SetUrl(url, width, height, alt) {
  newsletterAttachmentNr++;

  elDiv = document.createElement('div');
  elDiv.setAttribute('id', 'newsletter_attachment_box_'+newsletterAttachmentNr);

  elInput = document.createElement('input');
  elInput.setAttribute('type', 'hidden');
  elInput.setAttribute('name', 'newsletter_mail_attachment['+newsletterAttachmentNr+']');
  elInput.setAttribute('value', url);

  fileRegExp = /.+\/(.+)$/;
  fileRegExp.exec(url);
  elTxt = document.createTextNode(RegExp.$1);

  elALink = document.createElement('a');
  elALink.setAttribute('href', url);
  elALink.setAttribute('target', '_blank');
  elALink.setAttribute('title', '{TXT_NEWSLETTER_DISPLAY_FILE}');
  elALink.appendChild(elTxt);

  elImg = document.createElement('img');
  elImg.setAttribute('src', 'images/icons/delete.gif');
  elImg.setAttribute('alt', '{TXT_NEWSLETTER_REMOVE_FILE}');
  elImg.setAttribute('width', '17');
  elImg.setAttribute('height', '17');
  elImg.setAttribute('border', '0');

  elADel = document.createElement('a');
  elADel.setAttribute("href", "javascript:newsletterDelAttachment('"+newsletterAttachmentNr+"')");
  elADel.setAttribute('title', '{TXT_NEWSLETTER_REMOVE_FILE}');
  elADel.appendChild(elImg);

  elDiv.appendChild(elInput);
  elDiv.appendChild(elALink);
  elDiv.appendChild(elADel);

  document.getElementById('newsletter_attachment_frame').appendChild(elDiv);

  if (document.getElementById('newsletter_attachment_frame').style.display = 'none') {
    document.getElementById('newsletter_attachment_frame').style.display = 'block';
  }
}
// ]]>
</script>
<form action="index.php?cmd=newsletter&amp;act=editMail&amp;sendMail={NEWSLETTER_MAIL_SEND}&amp;id={NEWSLETTER_MAIL_ID}" id="newsletter_mail_form" enctype="multipart/form-data" method="post" onsubmit="return checkTextContent()">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th colspan="4">{NEWSLETTER_MAIL_EDIT_TITLE}</th>
  </tr>
  <tr class="row1">
    <td width="15%">{TXT_NEWSLETTER_SUBJECT}</td>
    <td width="85%" colspan="3"><input type="text" name="newsletter_mail_subject" value="{NEWSLETTER_MAIL_SUBJECT}" size="40" maxlength="255" style="width: 300px;" /></td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_TEMPLATE}</td>
    <td colspan="3">{NEWSLETTER_MAIL_TEMPLATE_MENU}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_SENDER} ({TXT_NEWSLETTER_EMAIL})</td>
    <td colspan="3"><input type="text" name="newsletter_mail_sender_mail" value="{NEWSLETTER_MAIL_SENDER_MAIL}" maxlength="255" style="width:300px;" /></td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_SENDER} ({TXT_NEWSLETTER_NAME})</td>
    <td colspan="3"><input type="text" name="newsletter_mail_sender_name" value="{NEWSLETTER_MAIL_SENDER_NAME}" maxlength="255" style="width:300px;" /></td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_REPLY_ADDRESS} (Reply)</td>
    <td colspan="3"><input type="text" name="newsletter_mail_sender_reply" value="{NEWSLETTER_MAIL_REPLY}" maxlength="255" style="width:300px;" /></td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_EMAIL_ACCOUNT}</td>
    <td colspan="3">{NEWSLETTER_MAIL_SMTP_SERVER}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_PRIORITY}</td>
    <td colspan="3">{NEWSLETTER_MAIL_PRIORITY_MENU}</td>
  </tr>

  <tr class="row1" style="vertical-align:top;">
    <td width="15%">
        {TXT_NEWSLETTER_ASSOCIATED_LISTS}
        <!-- BEGIN associatedListToolTip --><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}</span><!-- END associatedListToolTip -->        
    </td>
    <td width="20%">
<!-- BEGIN newsletter_mail_associated_list_0 -->
      <input type="checkbox"
          name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]"
          id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}"
          value="1" {NEWSLETTER_LIST_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"
      >{NEWSLETTER_LIST_NAME}</a><br />
<!-- END newsletter_mail_associated_list_0 -->
    </td>
    <td width="20%">
<!-- BEGIN newsletter_mail_associated_list_1 -->
      <input type="checkbox"
          name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]"
          id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}"
          value="1" {NEWSLETTER_LIST_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"
      >{NEWSLETTER_LIST_NAME}</a><br />
<!-- END newsletter_mail_associated_list_1 -->
    </td>
    <td width="45%">
<!-- BEGIN newsletter_mail_associated_list_2 -->
      <input type="checkbox"
          name="newsletter_mail_associated_list[{NEWSLETTER_LIST_ID}]"
          id="newsletter_mail_associated_list_{NEWSLETTER_LIST_ID}"
          value="1" {NEWSLETTER_LIST_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}"
      >{NEWSLETTER_LIST_NAME}</a><br />
<!-- END newsletter_mail_associated_list_2 -->
    </td>
  </tr>

  <tr class="row2" style="vertical-align:top;">
    <td width="15%">        
        {TXT_NEWSLETTER_ASSOCIATED_GROUPS}
        <!-- BEGIN associatedGroupToolTipBeforeSend --><span class="icon-warning tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS_SEND}</span><!-- END associatedGroupToolTipBeforeSend -->
        <!-- BEGIN associatedGroupToolTipAfterSent --><span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ASSOCIATED_LISTS}</span><!-- END associatedGroupToolTipAfterSent -->
    </td>
    <td width="20%">
<!-- BEGIN newsletter_mail_associated_group_0 -->
      <input type="checkbox"
          name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]"
          id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}"
          value="1" {NEWSLETTER_GROUP_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"
      >{NEWSLETTER_GROUP_NAME}</a><br />
<!-- END newsletter_mail_associated_group_0 -->
    </td>
    <td width="20%">
<!-- BEGIN newsletter_mail_associated_group_1 -->
      <input type="checkbox"
          name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]"
          id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}"
          value="1" {NEWSLETTER_GROUP_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"
      >{NEWSLETTER_GROUP_NAME}</a><br />
<!-- END newsletter_mail_associated_group_1 -->
    </td>
    <td width="45%">
<!-- BEGIN newsletter_mail_associated_group_2 -->
      <input type="checkbox"
          name="newsletter_mail_associated_group[{NEWSLETTER_GROUP_ID}]"
          id="newsletter_mail_associated_group_{NEWSLETTER_GROUP_ID}"
          value="1" {NEWSLETTER_GROUP_ASSOCIATED} {NEWSLETTER_LIST_DISABLED} />
      <a href="index.php?cmd=access&amp;act=user&amp;groupId={NEWSLETTER_GROUP_ID}"
          target="_blank" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}"
      >{NEWSLETTER_GROUP_NAME}</a><br />
<!-- END newsletter_mail_associated_group_2 -->
    </td>
  </tr>

  <tr class="row1" style="vertical-align:top;">
    <td valign="top">{TXT_NEWSLETTER_ATTACH}</td>
    <td colspan="3">
      <div id="newsletter_attachment_frame" style="display:{NEWSLETTER_MAIL_ATTACHMENT_BOX}; margin-bottom:20px;">
<!-- BEGIN newsletter_mail_attachment_list -->
          <div id="newsletter_attachment_box_{NEWSLETTER_MAIL_ATTACHMENT_NR}">
            <input type="hidden" name="newsletter_mail_attachment[{NEWSLETTER_MAIL_ATTACHMENT_NR}]" value="{NEWSLETTER_MAIL_ATTACHMENT_URL}" />
            <a href="{NEWSLETTER_MAIL_ATTACHMENT_URL}" title="{TXT_NEWSLETTER_DISPLAY_FILE}" target="_blank">{NEWSLETTER_MAIL_ATTACHMENT_NAME}</a>
            <a href="javascript:newsletterDelAttachment({NEWSLETTER_MAIL_ATTACHMENT_NR})" title="{TXT_NEWSLETTER_REMOVE_FILE}"><img src="images/icons/delete.gif" width="17" height="17" border="0" /></a>
          </div>
<!-- END newsletter_mail_attachment_list -->
      </div>
      <input type="button" onclick="newsletterOpenWindow('index.php?cmd=fileBrowser&amp;{CSRF_PARAM}&amp;standalone=true','','width=800,height=600,resizable=yes,status=no,scrollbars=yes')" value="{TXT_NEWSLETTER_ATTACH_FILE}" />
    </td>
  </tr>
</table>
<br />
<ul id="tabmenu">
<!-- BEGIN newsletter_mail_html_content --><li><a id="newsletterTab_htmlContent" class="active" href="javascript:{}" onclick="selectTab('htmlContent')" title="{TXT_NEWSLETTER_HTML_UC}">{TXT_NEWSLETTER_HTML_UC}</a></li><!-- END newsletter_mail_html_content -->
<li><a id="newsletterTab_placeholders" href="javascript:{}" onclick="selectTab('placeholders')" title="{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</a></li>
</ul>
<div id="htmlContent" class="newsletterTab">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist" style="height:485px;">
  <tr>
    <th>{TXT_NEWSLETTER_HTML_CONTENT}</th>
  </tr>
  <tr class="row1 reset">
    <td style="vertical-align:top;">{NEWSLETTER_MAIL_HTML_CONTENT}</td>
  </tr>
</table>
</div>
<div id="placeholders" class="newsletterTab" style="display:none;">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th colspan="2">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</th>
  </tr>
  <tr class="row3">
    <td colspan="2"><b>{TXT_NEWSLETTER_USER_DATA}</b></td>
  </tr>
  <tr class="row1">
    <td width="15%">{TXT_NEWSLETTER_EMAIL_ADDRESS}</td>
    <td width="85%">[[email]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_SEX}</td>
    <td>[[sex]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_SALUTATION}</td>
    <td>[[salutation]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_TITLE}</td>
    <td>[[title]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_FIRSTNAME}</td>
    <td>[[firstname]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_LASTNAME}</td>
    <td>[[lastname]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_POSITION}</td>
    <td>[[position]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_COMPANY}</td>
    <td>[[company]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_INDUSTRY_SECTOR}</td>
    <td>[[industry_sector]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_ADDRESS}</td>
    <td>[[address]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_CITY}</td>
    <td>[[city]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_ZIP}</td>
    <td>[[zip]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_COUNTRY}</td>
    <td>[[country]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_PHONE}</td>
    <td>[[phone_office]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_PHONE_PRIVATE}</td>
    <td>[[phone_private]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_PHONE_MOBILE}</td>
    <td>[[phone_mobile]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_FAX}</td>
    <td>[[fax]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_BIRTHDAY}</td>
    <td>[[birthday]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_WEBSITE}</td>
    <td>[[website]]</td>
  </tr>
  <tr class="row2">
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr class="row1">
    <td colspan="2"><b>{TXT_NEWSLETTER_GENERAL}</b></td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_MODIFY_PROFILE} (Link)</td>
    <td>[[profile_setup]] <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_UNSUBSCRIBE} (Link)</td>
    <td>[[unsubscribe]] <span class="icon-info tooltip-trigger"></span><span class="tooltip-message">{TXT_NEWSLETTER_PLACEHOLDER_NOT_ON_BROWSER_VIEW}</span></td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_DATE}</td>
    <td>[[date]]</td>
  </tr>
   <tr class="row1">
    <td>{TXT_NEWSLETTER_DISPLAY_IN_BROWSER_LINK}</td>
    <td>[[display_in_browser_url]]</td>
  </tr>
</table>
</div>
<br />
<input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=newsletter&amp;{CSRF_PARAM}&amp;act=mails'" />
<input type="submit" value="{TXT_NEWSLETTER_SAVE}" name="newsletter_mail_save" />
</form>
<!-- END module_newsletter_mail_edit.html -->
