<!-- START module_newsletter_mail_edit.html -->
<form action="index.php?cmd=newsletter&amp;act=editMail" enctype="multipart/form-data" method="post">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th colspan="4">{TXT_NEWSLETTER_DISPLAY_EMAIL}</th>
  </tr>
  <tr class="row1">
    <td width="15%">{TXT_NEWSLETTER_SUBJECT}</td>
    <td width="85%" colspan="3">{NEWSLETTER_MAIL_SUBJECT}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_SEND_AS}</td>
    <td colspan="3">{NEWSLETTER_MAIL_FORMAT}</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_TEMPLATE}</td>
    <td colspan="3">{NEWSLETTER_MAIL_TEMPLATE}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_SENDER} ({TXT_NEWSLETTER_EMAIL})</td>
    <td colspan="3">{NEWSLETTER_MAIL_SENDER_MAIL}</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_SENDER} ({TXT_NEWSLETTER_NAME})</td>
    <td colspan="3">{NEWSLETTER_MAIL_SENDER_NAME}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_REPLY_ADDRESS} (Reply)</td>
    <td colspan="3">{NEWSLETTER_MAIL_REPLY}</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_EMAIL_ACCOUNT}</td>
    <td colspan="3">{NEWSLETTER_MAIL_SMTP_SERVER}</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_PRIORITY}</td>
    <td colspan="3">{NEWSLETTER_MAIL_PRIORITY}</td>
  </tr>
  <tr class="row1" style="vertical-align:top;">
    <td width="15%">{TXT_NEWSLETTER_ASSOCIATED_LISTS}</td>
    <td width="20%"><!-- BEGIN newsletter_mail_associated_list_0 -->
        <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}">{NEWSLETTER_LIST_NAME}</a><br /><!-- END newsletter_mail_associated_list_0 -->
    </td>
    <td width="20%"><!-- BEGIN newsletter_mail_associated_list_1 -->
        <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}">{NEWSLETTER_LIST_NAME}</a><br /><!-- END newsletter_mail_associated_list_1 -->
    </td>
    <td width="45%"><!-- BEGIN newsletter_mail_associated_list_2 -->
        <a href="index.php?cmd=newsletter&amp;act=users&amp;newsletterListId={NEWSLETTER_LIST_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_LIST_TXT}">{NEWSLETTER_LIST_NAME}</a><br /><!-- END newsletter_mail_associated_list_2 -->
    </td>
  </tr>
  <tr class="row2" style="vertical-align:top;">
    <td width="15%">{TXT_NEWSLETTER_ASSOCIATED_GROUPS}</td>
    <td width="20%"><!-- BEGIN newsletter_mail_associated_group_0 -->
        <a href="index.php?cmd=access&amp;act=group&amp;tpl=modify&amp;id={NEWSLETTER_GROUP_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}">{NEWSLETTER_GROUP_NAME}</a><br /><!-- END newsletter_mail_associated_group_0 -->
    </td>
    <td width="20%"><!-- BEGIN newsletter_mail_associated_group_1 -->
        <a href="index.php?cmd=access&amp;act=group&amp;tpl=modify&amp;id={NEWSLETTER_GROUP_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}">{NEWSLETTER_GROUP_NAME}</a><br /><!-- END newsletter_mail_associated_group_1 -->
    </td>
    <td width="45%"><!-- BEGIN newsletter_mail_associated_group_2 -->
        <a href="index.php?cmd=access&amp;act=group&amp;tpl=modify&amp;id={NEWSLETTER_GROUP_ID}" title="{NEWSLETTER_SHOW_RECIPIENTS_OF_GROUP_TXT}">{NEWSLETTER_GROUP_NAME}</a><br /><!-- END newsletter_mail_associated_group_2 -->
    </td>
  </tr>
  <tr class="row1" style="vertical-align:top;">
    <td valign="top">Anhang</td>
    <td colspan="3"><!-- BEGIN newsletter_mail_attachment_list -->
        <a href="{NEWSLETTER_MAIL_ATTACHMENT_URL}" title="Datei anzeigen" target="_blank">{NEWSLETTER_MAIL_ATTACHMENT_NAME}</a><!-- END newsletter_mail_attachment_list -->
    </td>
  </tr>
</table>
<br />
<ul id="tabmenu"><!-- BEGIN newsletter_mail_html_content -->
  <li><a id="newsletterTab_htmlContent" class="{NEWSLETTER_MAIL_HTML_CONTENT_CLASS}" href="javascript:void(0);" onclick="selectTab('htmlContent')" title="{TXT_NEWSLETTER_HTML_UC}">{TXT_NEWSLETTER_HTML_UC}</a></li><!-- END newsletter_mail_html_content --><!-- BEGIN newsletter_mail_text_content -->
  <li><a id="newsletterTab_textContent" class="{NEWSLETTER_MAIL_TEXT_CONTENT_CLASS}" href="javascript:void(0);" onclick="selectTab('textContent')" title="{TXT_NEWSLETTER_TEXT}">{TXT_NEWSLETTER_TEXT}</a></li><!-- END newsletter_mail_text_content -->
<li><a id="newsletterTab_placeholders" href="javascript:void(0);" onclick="selectTab('placeholders')" title="{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</a></li>
</ul>
<div id="htmlContent" class="newsletterTab" style="display:{NEWSLETTER_MAIL_HTML_CONTENT_STAUTS};">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_NEWSLETTER_HTML_CONTENT}</th>
  </tr>
  <tr class="row1" >
    <td style="vertical-align:top;">{NEWSLETTER_MAIL_HTML_CONTENT}</td>
  </tr>
</table>
</div>
<div id="textContent" class="newsletterTab" style="display:{NEWSLETTER_MAIL_TEXT_CONTENT_STAUTS};">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_NEWSLETTER_Text_CONTENT}</th>
  </tr>
  <tr class="row1">
    <td style="vertical-align:top;">{NEWSLETTER_MAIL_TEXT_CONTENT}</td>
  </tr>
</table>
</div>
<div id="placeholders" class="newsletterTab" style="display:none;">
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th colspan="2">{TXT_NEWSLETTER_PLACEHOLDER_DIRECTORY}</th>
  </tr>
  <tr class="row3">
    <td colspan="2"><b>{TXT_NEWSLETTER_USER_DATA}</b></td>
  </tr>
  <tr class="row1">
    <td width="15%">{TXT_NEWSLETTER_EMAIL_ADDRESS}</td>
    <td width="85%">[[email]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_TITLE}</td>
    <td>[[title]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_SEX}</td>
    <td>[[sex]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_LASTNAME}</td>
    <td>[[lastname]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_FIRSTNAME}</td>
    <td>[[firstname]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_ADDRESS}</td>
    <td>[[address]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_ZIP}</td>
    <td>[[zip]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_CITY}</td>
    <td>[[city]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_COUNTRY}</td>
    <td>[[country]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_PHONE}</td>
    <td>[[phone_office]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_BIRTHDAY}</td>
    <td>[[birthday]]</td>
  </tr>
  <tr class="row2">
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr class="row3">
    <td colspan="2"><b>{TXT_NEWSLETTER_GENERAL}</b></td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_MODIFY_PROFILE} (Link)</td>
    <td>[[profile_setup]]</td>
  </tr>
  <tr class="row2">
    <td>{TXT_NEWSLETTER_UNSUBSCRIBE} (Link)</td>
    <td>[[unsubscribe]]</td>
  </tr>
  <tr class="row1">
    <td>{TXT_NEWSLETTER_DATE}</td>
    <td>[[date]]</td>
  </tr>
</table>
</div>
<br />
<input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=newsletter&amp;{CSRF_PARAM}&amp;act=mails'" />
</form>
<!-- END module_newsletter_mail_edit.html -->
