<!-- START module_newsletter_user_email_feedback.html -->
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
	<tr>
		<th colspan="4">{TXT_NEWSLETTER_USER_FEEDBACK_TITLE}</th>
	</tr>
	<tr class="row3">
		<td style="font-weight:bold; width: 40%;">{TXT_NEWSLETTER_LINK_TITLE}</td>
		<td style="font-weight:bold; width: 56%;">{TXT_NEWSLETTER_LINK_SOURCE}</td>
		<td style="white-space:nowrap; font-weight:bold; text-align:right; width: 4%;">{TXT_NEWSLETTER_FUNCTIONS}</td>
	</tr>
	<!-- BEGIN link_list -->
	<tr class="{NEWSLETTER_RECIPIENT_ROW_CLASS}">
		<td>{NEWSLETTER_LINK_TITLE}</td>
		<td style="white-space:nowrap;"><a href="{NEWSLETTER_LINK_URL}" title="{TXT_OPEN_LINK_IN_NEW_TAB}" target="_blank">{NEWSLETTER_LINK_URL}</a></a></td>
		<td style="white-space:nowrap; text-align:right;">
			<a href="{NEWSLETTER_LINK_URL}" title="{TXT_OPEN_LINK_IN_NEW_TAB}" target="_blank"><img src="images/icons/html.gif" border="0" width="16" height="16" alt="{TXT_OPEN_LINK_IN_NEW_TAB}" /></a>
		</td>
	</tr>
	<!-- END link_list -->
	<!-- BEGIN link_list_empty -->
	<tr>
		<td colspan="4">{NEWSLETTER_USER_NO_FEEDBACK}</td>
	</tr>
	<!-- END link_list_empty -->
</table>
{NEWSLETTER_LINKS_PAGING}
<form>
<input type="button" value="{TXT_NEWSLETTER_BACK}" onclick="window.location.href='index.php?cmd=newsletter&amp;{CSRF_PARAM}&amp;act=feedback&amp;link_id={NEWSLETTER_LINK_ID}'" />
</form>
<!-- END module_newsletter_user_email_feedback.html -->
