<!-- START newsletter_config_dispatch.html -->
<script type="text/javascript">
// <![CDATA[
    function newsletterUpdate(){
        if(document.adduser.sender_email.value=="" || document.adduser.sender_name.value=="" || document.adduser.return_path.value=="" || document.adduser.mails_per_run.value==""){
            alert('{TXT_FILL_OUT_ALL_REQUIRED_FIELDS}');
            return false
        }else{
            return true
        }
    }
// ]]>
</script>
<div id="subnavbar_level2">
<ul>
    <li><a href="index.php?cmd=newsletter&amp;act=dispatch" title="{TXT_DISPATCH_SETINGS}">{TXT_DISPATCH_SETINGS}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=templates" title="{TXT_NEWSLETTER_TEMPLATES}">{TXT_NEWSLETTER_TEMPLATES}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=interface" title="{TXT_NEWSLETTER_INTERFACE}">{TXT_NEWSLETTER_INTERFACE}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=confightml" title="{TXT_GENERATE_HTML}">{TXT_GENERATE_HTML}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=activatemail" title="{TXT_CONFIRM_MAIL}">{TXT_ACTIVATE_MAIL}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=confirmmail" title="{TXT_CONFIRM_MAIL}">{TXT_CONFIRM_MAIL}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=notificationmail" title="{TXT_NOTIFICATION_MAIL}">{TXT_NOTIFICATION_MAIL}</a></li>
    <li><a href="index.php?cmd=newsletter&amp;act=system" title="{TXT_DISPATCH_SETINGS}">{TXT_SYSTEM_SETINGS}</a></li>
</ul>
</div>
<br />
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th>{TXT_TITLE}</th>
  </tr>
</table>
<form name="adduser" action="index.php?cmd=newsletter&amp;act=dispatch" method="post" onsubmit="return newsletterUpdate()">
<input type="hidden" name="update" value="1" />
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr class="row2">
    <td width="20%">{TXT_SENDER} E-Mail</td>
    <td width="80%"><input type="text" name="sender_email" size="40" maxlength="255" value="{SENDERMAIL_VALUE}" /></td>
  </tr>
  <tr class="row1">
    <td width="20%">{TXT_SENDER} {TXT_LASTNAME}</td>
    <td width="80%"><input type="text" name="sender_name" size="40" maxlength="255" value="{SENDERNAME_VALUE}" /></td>
  </tr>
  <tr class="row2">
    <td width="20%">{TXT_NEWSLETTER_REPLY_EMAIL} (Return-Path)</td>
    <td width="80%"><input type="text" name="return_path" size="40" maxlength="255" value="{RETURNPATH_VALUE}" /></td>
  </tr>
  <tr class="row1">
    <td width="20%">{TXT_SEND_LIMIT}</td>
    <td width="80%"><input type="text" name="mails_per_run" size="40" maxlength="255" value="{MAILSPERRUN_VALUE}" /></td>
  </tr>
<!--<tr class="row2">
    <td width="20%">{TXT_BCC} (E-Mail)</td>
    <td width="80%"><input type="text" name="bcc_mail" size="40" maxlength="200" value="{BCC_VALUE}" /></td>
  </tr>-->

  <tr class="row2">
    <td width="20%">{TXT_NEWSLETTER_OVERVIEW_ENTRIES}</td>
    <td width="80%"><input type="text" name="overview_entries" size="40" maxlength="255" value="{OVERVIEW_ENTRIES_VALUE}" /></td>
  </tr>
  <tr class="row1">
    <td width="20%">{TXT_TEST_MAIL} (E-Mail)</td>
    <td width="80%"><input type="text" name="test_mail" size="40" maxlength="255" value="{TEST_MAIL_VALUE}" /></td>
  </tr>
  <tr class="row2">
    <td width="20%">{TXT_BREAK_AFTER}</td>
    <td width="80%"><input type="text" name="text_break_after" size="40" maxlength="255" value="{BREAK_AFTER_VALUE}" /></td>
  </tr>
  <tr class="row1">
    <td style="vertical-align:top;">{TXT_NEWSLETTER_TASK_REJECTED_EMAIL}</td>
    <td>
      <input type="radio" name="newsletter_rejected_mail_task" value="ignore" id="newsletter_rejected_mail_task_ignore" {NEWSLETTER_REJECTED_MAIL_IGNORE} /><label for="newsletter_rejected_mail_task_ignore">{TXT_NEWSLETTER_DO_NOTING}</label><br />
      <input type="radio" name="newsletter_rejected_mail_task" value="deactivate" id="newsletter_rejected_mail_task_deactivate" {NEWSLETTER_REJECTED_MAIL_DEACTIVATE} /><label for="newsletter_rejected_mail_task_deactivate">{TXT_NEWSLETTER_DEACTIVATE_EMAIL}</label><br />
      <input type="radio" name="newsletter_rejected_mail_task" value="delete" id="newsletter_rejected_mail_task_delete" {NEWSLETTER_REJECTED_MAIL_DELETE} /><label for="newsletter_rejected_mail_task_delete">{TXT_NEWSLETTER_DELETE_EMAIL_ADDRESS}</label><br />
      <input type="radio" name="newsletter_rejected_mail_task" value="inform" id="newsletter_rejected_mail_task_inform" {NEWSLETTER_REJECTED_MAIL_INFORM} /><label for="newsletter_rejected_mail_task_inform">{TXT_NEWSLETTER_INFORM_ADMIN}</label>
      <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_ADMIN_INFORM}</span>
    </td>
  </tr>
    <tr class="row2">
        <td width="20%" style="vertical-align: top;">{TXT_NEWSLETTER_REJECT_INFO_MAIL_TEXT}
            <span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_NEWSLETTER_INFO_ABOUT_INFORM_TEXT}</span>
        </td>
        <td width="80%">
            <textarea name="reject_info_mail_text" style="width: 600px; height: 200px">{NEWSLETTER_REJECT_INFO_MAIL_TEXT}</textarea>
        </td>
    </tr>
</table>
<br />
<input type="submit" value="{TXT_SAVE}" />
</form>
<!-- END newsletter_config_dispatch.html -->
