<!-- START module_newsletter_overview.html -->



<table width="100%" border="0" cellpadding="3" cellspacing="0" class="adminlist">
  <tr>
    <th colspan="2">{TXT_TITLE}</th>
  </tr>
  <tr>
    <td colspan="2"><br/></td>
  </tr>
  <tr class="row1">
    <td width="16"><a href="index.php?cmd=newsletter&act=dispatch"><img src="images/icons/compose.gif" border="0" alt="{TXT_NEWSLETTER_NEW}" /></a></td>
    <td><a href="index.php?cmd=newsletter&act=dispatch">{TXT_DISPATCH_SETINGS}</a></td>
  </tr>
  <tr class="row2">
    <td width="16"><a href="index.php?cmd=newsletter&act=confightml"><img src="images/icons/compose.gif" border="0" alt="{TXT_NEWSLETTER_EDIT}" /></a></td>
    <td><a href="index.php?cmd=newsletter&act=confightml">{TXT_GENERATE_HTML}</a></td>
  </tr>
  <tr class="row1">
    <td width="16"><a href="index.php?cmd=newsletter&act=confirmmail"><img src="images/icons/compose.gif" border="0" alt="{TXT_NEWSLETTER_EDIT}" /></a></td>
    <td><a href="index.php?cmd=newsletter&act=confightml">{TXT_CONFIRM_MAIL}</a></td>
  </tr>
</table>

<br/>


<!-- END module_newsletter_overview.html -->
