/*doc
---
title: Accordions
category: Components
---

The accordions are collapsable UI elements. They are used heavily for the FAQ
section of the page and rely on some Javascript to work correctly. So make sure
to include the component's script in your concatenated script file.

```html_example
<h3 class="accordion-title in">
  <a href="#" class="accordion-link">Arthrose des Kniegelenks (Gonarthrose)</a>
</h3>
<div class="accordion-container">
  <p>
    Verschleiss der Knorpelflächen und Meniski im Kniegelenk. Die Arthrose kann sich isoliert innen oder aussen respektive im Kniescheibengelenk abspielen oder das ganze Gelenk betreffen.
  </p>
  <h4 class="accordion-subheading">Symptome und Diagnostik</h4>
  <ul class="pdf-list">
    <li>
      <a href="#" class="icon-pdf link-icon">Arthrose und Behandlungsm&ouml;glichkeiten</a>
    </li>
  </ul>
  <h4 class="accordion-subheading">Anatomie</h4>
  <ul class="pdf-list">
    <li>
      <a href="#" class="icon-pdf link-icon">Anatomie des Kniegelenkes</a>
    </li>
    <li>
      <a href="#" class="icon-pdf link-icon">Anatomische Grundbegriffe</a>
    </li>
  </ul>
</div>
<h3 class="accordion-title">
  <a href="#" class="accordion-link">Meniskusschaden / Meniskusl&auml;sion / Meniskusriss</a>
</h3>
<div class="accordion-container">
  <p>
    Unfall- oder verschleissbedingter Riss im Innen- oder Aussenmeniskus mit Schmerzen bei belasteten Drehbewegungen, eventuell verbunden mit Einklemmungsgefühl und Schwellung des Knies.
  </p>
  <h4 class="accordion-subheading">Symptome und Diagnostik</h4>
  <ul class="pdf-list">
    <li>
      <a href="#" class="icon-pdf link-icon">Der Meniskusriss</a>
    </li>
  </ul>
  <h4 class="accordion-subheading">Anatomie</h4>
  <ul class="pdf-list">
    <li>
      <a href="#" class="icon-pdf link-icon">Anatomie des Kniegelenkes</a>
    </li>
    <li>
      <a href="#" class="icon-pdf link-icon">Anatomische Grundbegriffe</a>
    </li>
  </ul>
</div>
```
*/
.accordion-title {
  // setting margins to 0 for nice alignment
  margin-bottom: 0;
  margin-top: 0;

  border-top: 1px solid $accordion-heading-border-color;

  // put the background (icon) to the right
  background-position: $accordion-icon-position;
  background-size: $accordion-icon-size;
  // make space for the icon
  padding-right: $accordion-icon-size + $accordion-icon-spacing + $accordion-icon-offset-right;

  &:last-of-type {
    border-bottom: 1px solid $accordion-heading-border-color;

    &.in {
      border-bottom: 0;
    }
  }
}

.accordion-link {
  display: block;
  height: $accordion-heading-height;

  color: $accordion-heading-color;
  line-height: $accordion-heading-height;

  // do not wrap accordion titles if they are too long instead use ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  

  .in & {
    color: $accordion-heading-color-in;

    border-bottom: 0;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.accordion-container {
  @if $EDITOR-STYLES {
    display: block;
  } @else {
    display: none;
    opacity: 0;
    transition: opacity .5s ease;
  }
  padding-bottom: $accordion-container-padding-bottom;

  .in + & {
    display: block;
    opacity: 1;
    animation: blend-in .5s ease;
  }

  &:last-of-type {
    // no padding bottom for the last accordion container. This spacing is provided by the content box itself
    padding-bottom: 0;
  }
}

.accordion-subheading {
  color: $accordion-subheading-color;
}

// animation to nicely display and hide the accordion container
// based upon this article by james steinbach: http://jdsteinbach.com/css/snippet-animate-display-transform/
@keyframes blend-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
