$accordion-heading-color: $color-text !default;
$accordion-heading-color-in: $color-primary !default;
$accordion-heading-border-color: $color-lines !default;
$accordion-heading-height: rem-calc(60) !default;

$accordion-subheading-color: $color-text !default;

$accordion-container-padding-bottom: $vertical-spacing-xl !default;

$accordion-icon-size: 1.5rem !default;
$accordion-icon-spacing: .5rem !default;
