$accordion-heading-color: $color-text !default;
$accordion-heading-color-in: $color-primary !default;
$accordion-heading-border-color: $color-lines !default;
$accordion-heading-height: rem-calc(60) !default;

$accordion-subheading-color: $color-text !default;
