/*doc
---
title: Meta Navigation
category: Components - Navigation
---
The meta navigation contains a several useful links that should be accessible
from every page of the website. Most importantly it features the language
navbar and the search field.

Its lesser importance is shown by a smaller font size as well as the links
being colored in the plain text color.

Inside Contrexx you would probably put the meta navigation into a block so the
placeholder and link texts can be localized easily.

There are three languages in the language navbar as a proof of concept on the
site itself there will only be two languages. However this way a test for the
separating pipe is provided (is it set properly and automatically between all
languages displayed?).

```html_example
<div class="metanav">
  <ul class="metanav-list">
    <li class="metanav-list-item language-navbar">
      <a href="#" class="active">DE</a>
      <a href="#">FR</a>
      <a href="#">EN</a>
    </li>
    <li class="metanav-list-item">
      <a href="#" class="metanav-link">Downloads</a>
    </li>
    <li class="metanav-list-item">
      <a href="#" class="metanav-link">Links</a>
    </li>
    <li class="metanav-list-item">
      <a href="#" class="metanav-link">Sitemap</a>
    </li>
  </ul>

  <form class="metanav-search">
    <input class="metanav-search-input" type="search" placeholder="Suchen / Search" id="search-input" name="term">
    <span class="icon-search"></span>
  </form>
```

 */

.metanav {
  font-size: $metanav-font-size;
}

.metanav-list {
  margin-bottom: gutter();

  display: none; // do not display the metanav list in the mobile view

  @include susy-media(sm) {
    display: block;
  }
}

.metanav-list-item {
  display: inline-block;
  padding-right: $metanav-link-padding;
}

.metanav-link {
  color: $metanav-link-color;

  &.active,
  &:hover,
  &:focus,
  &:active {
    color: $metanav-link-color-active;
  }
}

.language-navbar {
  & > a {
    display: inline-block;
    color: $metanav-link-color;
    
    @include separator($metanav-link-padding / 2, $metanav-link-color);

    &.active {
      color: $metanav-link-color-active;
    }
  }
}

.metanav-search {
  position: relative;

  .icon {
    @include absolute($metanav-search-icon-position);
    width: $metanav-search-icon-size;
    height: $metanav-search-icon-size;
    background-size: $metanav-search-icon-size;
  }
}

.metanav-search-input {
  width: 100%; // stretch search field over whole width in mobile view
  padding-right: $metanav-search-icon-offset;

  @include susy-media(sm) {
    // width: auto;
  }
}
