.content-container
  section.content-sidebar {SUBNAVBAR_FILE}
  section.content-content.shadow
    article
      header.content-header
        | {BLOCK_CAT_5}
        h1.content-title {CONTENT_TITLE}
      main.content-main {CONTENT_TEXT}
      .team {BLOCK_CAT_6}
