.content-container
  section.content-sidebar {SUBNAVBAR_FILE}
  section.content-content.shadow
    article
      header.content-header
        | {BLOCK_CAT_5}
        h1.content-title {CONTENT_TITLE}
      main.content-main {CONTENT_TEXT}
      h3.accordion-title.team-accordion-title
        a.accordion-link(href='#') Ehemalige Assistenz&auml;rzte
      .team.accordion-container {BLOCK_CAT_7}
