.content-container
  section.content-sidebar {SUBNAVBAR_FILE} {BLOCK_CAT_8}
  section.content-content.shadow
    article
      header.content-header
        | {BLOCK_CAT_5}
        h1.content-title {CONTENT_TITLE}
      main.content-main-nested {CONTENT_TEXT}
