h2 Infos
<!-- BEGIN headlines_row -->
.news-teaser(href='{NEWS_LINK_URL}')
  .news-teaser-date {NEWS_DATE}
  h3.news-teaser-title {NEWS_TITLE}
  p.news-teaser-text {NEWS_TEASER}
    a.icon-arrow(href='{NEWS_LINK_URL}')
<!-- END headlines_row -->
button.news-teaser-button
  a.icon-arrow(href='{NODE_NEWS}') Alle anzeigen
