.content-container
  .header-img
      img(src='/images/content/headers/Landingpage.jpg')
  .quicklinks.shadow
    ul.quicklinks-list
      li.quicklinks-list-item
        a.quicklinks-link.icon-knie(href='{NODE_23}') Knie
      li.quicklinks-list-item
        a.quicklinks-link.icon-huefte(href='{NODE_25}') H&uuml;fte
  section.home-content.shadow
    article
      header.content-header
        h1.content-title {CONTENT_TITLE}
      main.content-main {CONTENT_TEXT} {HEADLINES_FILE}
  section.home-sidebar
    //- shortlinks
    ul.shortlinks
      li.shortlinks-list-item.shadow
        a.shortlinks-link.icon-arrow(href='{NODE_33}') Anmeldung/Termin
      li.shortlinks-list-item.shadow
        a.shortlinks-link.icon-arrow(href='{NODE_22}#sos') SOS (Notfall) 24h
      li.shortlinks-list-item.shadow
        a.shortlinks-link.icon-arrow(href='{NODE_36}') Fragen und Antworten
    | {BLOCK_6}
