.content-container
  .header-img
      img(src='//fakeimg.pl/1920x1080')
  .quicklinks
    ul.quicklinks-list
      li.quicklinks-list-item
        a.quicklinks-link.icon-knie(href='#') Knie
      li.quicklinks-list-item
        a.quicklinks-link.icon-huefte(href='#') H&uuml;fte
  section.home-content.shadow
    article
      header.content-header
        h1.content-title {CONTENT_TITLE}
      main.content-main {CONTENT_TEXT}
  section.home-sidebar
    //- shortlinks
    ul.shortlinks
      li.shortlinks-list-item.shadow
        a.shortlinks-link(href='#') Anmeldung/Termin
      li.shortlinks-list-item.shadow
        a.shortlinks-link(href='#') SOS (Notfall) 24h
      li.shortlinks-list-item.shadow
        a.shortlinks-link(href='#') Fragen und Antworten
      li.shortlinks-list-item.shadow
        a.shortlinks-link(href='#') Medizin Lexikon
