<!-- BEGIN navigation_dropdown -->
ul.navigation-nav
  li.navigation-list-item.nav-toggle
    a.navigation-link.nav-toggle-button(href='#') Navigation
  <!-- BEGIN level_1 -->
  li.navigation-list-item 
    a(class='{STYLE} {CSS_NAME} navigation-link', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
  <!-- END level_1 -->
<!-- END navigation_dropdown -->
