<!-- BEGIN navigation_dropdown -->
nav.off-canvas-nav(role='navigation')
  ul.off-canvas-list
    <!-- BEGIN level_1 -->
    li.off-canvas-list-item
      a(class='{STYLE} {CSS_NAME} off-canvas-link js-oc-link', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
      | {SUB_MENU}
    <!-- END level_1 --><!-- BEGIN level_2 -->
    li.off-canvas-list-item
      a(class='{STYLE} {CSS_NAME} off-canvas-link js-oc-link', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
    <!-- END level_2 -->
<!-- END navigation_dropdown -->
