<!-- BEGIN navigation_dropdown -->
ul.collapse.navbar-collapse.navbar-right#navigation
  <!-- BEGIN level_1 -->
  li(class='level-1 {CSS_NAME}', data-navi='{CSS_NAME}') 
    a(class='{STYLE} {CSS_NAME}', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
    {SUB_MENU}
  <!-- END level_1 --><!-- BEGIN level_2 -->
  li(class='level-2 hidden-md hidden-lg {CSS_NAME}', data-navi='{CSS_NAME}') 
    a(class='{STYLE} {CSS_NAME}', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
    {SUB_MENU}
  <!-- END level_2 -->
<!-- END navigation_dropdown -->
