nav.footer-navigation(role='navigation')
  <!-- BEGIN navigation_dropdown -->
  ul.footer-navigation-list
    <!-- BEGIN level_1 -->
    li.footer-navigation-list-item 
      a(class='footer-navigation-link', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
    <!-- END level_1 -->
  <!-- END navigation_dropdown -->
