nav.subnav(role='navigation')
  <!-- BEGIN navigation -->
  ul.subnav-nav
    <!-- BEGIN level_2 -->
    li(class='subnav-list-item {STYLE}')
      a(class='subnav-link {CSS_NAME} {STYLE}', href='{URL}', target='{TARGET}', title='{NAME}') {NAME}
    <!-- END level_2 -->
  <!-- END navigation -->
