$quicklinks-height: rem-calc(92) !default;

$quicklinks-font-size: rem-calc(24) !default;
$quicklinks-font-weight: bold !default;

$quicklinks-to-content: $quicklinks-height / 2 !default;

// pictogram
$quicklinks-link-icon-size: rem-calc(64) !default;
$quicklinks-link-icon-spacing: 1rem !default;
$quicklinks-link-icon-position: left $quicklinks-link-icon-spacing center !default;
$quicklinks-link-background-hover: $color-background !default;

$quicklinks-triangle-height: rem-calc(18) !default;
