/*doc
---
title: Quicklinks
category:
  - Components
---

The quicklinks are used on the homepage just beneath the header image to grant
quick access to the most important categories. They are styled more or less as
button elements with a big link icon and built as an ul.

```html_example
<ul class="quicklinks-list">
  <li class="quicklinks-list-item">
    <a class="quicklinks-link icon-knie" href="#">Knie</a>
  </li>
  <li class="quicklinks-list-item">
    <a class="quicklinks-link icon-huefte" href="#">H&uuml;fte</a>
  </li>
</ul>
```
*/
.quicklinks {
  @include clearfix();
  margin-bottom: $quicklinks-to-content;
}

.quicklinks-list {
  @include clearfix();
  margin-left: gutter();
  margin-right: gutter();
  border: 5px solid $white;
}

.quicklinks-list-item {
  @include susy-media(sm) {
    width: span(6);
  }

  float: left;
  display: inline-block;
  width: 100%;

  &:first-of-type {
    margin-right: 3 * gutter();
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $quicklinks-link-background-hover;
    @include triangle-right($quicklinks-triangle-height, $quicklinks-height, $quicklinks-link-background-hover);
  }
}

.quicklinks-link {
  display: block;
  height: $quicklinks-height;

  font-size: $quicklinks-font-size;
  line-height: $quicklinks-height;
  font-weight: $quicklinks-font-weight;

  // set up the icon
  background-size: $quicklinks-link-icon-size;
  background-position: $quicklinks-link-icon-position;

  // make space for the icon
  padding-left: $quicklinks-link-icon-size + 2 * $quicklinks-link-icon-spacing;

  &:hover,
  &:focus,
  &:active {
    // @include triangle-right($quicklinks-triangle-height, $quicklinks-height, $quicklinks-link-background-hover);
  }
}
